<?php
if ($successMessageForVariantAttributesSaving !== false) {
    if ($successMessageForVariantAttributesSaving == '1') {
        ?>
        <div id="add-edit-variants-alerts-container">
            <div data-dismiss="alert" id="variant-attributes-modal-alert-success"
                 class="alert alert-success fade in">
                <a class="close" data-dimdiss="alert">x</a>
                <i class="icon-success"></i>
                <strong>Success:</strong> The variants have been updated successfully
            </div>
        </div>
        <?php
    } else {
        ?>
        <div id="add-edit-variants-alerts-container">
            <div data-dismiss="alert" id="variant-attributes-modal-alert-error" class="alert alert-error fade in">
                <a class="close" data-dimdiss="alert">x</a>
                <i class="icon-error"></i>
                <strong>Error:</strong> An error occurred. The update could not be executed!
            </div>
        </div>
        <?php
    }
}
//Start the product activation form
echo $this->form()->openTag($productVariantCreationForm);
echo $this->formRow($productVariantCreationForm->get('csrf'));
echo $this->formRow($productVariantCreationForm->get('firstPartOfSku'));
echo $this->formRow($productVariantCreationForm->get('getVariants'));
echo $this->formRow($productVariantCreationForm->get('productVariantCount'));
echo $this->formRow($productVariantCreationForm->get('showcategorypopup'));
echo $this->formRow($productVariantCreationForm->get('variantId'));
$productId = $productVariantCreationForm->get('productId')->getValue();
?>
<div id="selected-merchant-category-hierarchy"></div>
<div id="sku-building-block" class="row"></div>
<div class="col-md-12 form-group" id="add-variant-div">
    <div class="checkbox">
        <label>
            <?php echo $this->formRow($productVariantCreationForm->get('useSkuAsBarcode')); ?>
        </label>
    </div>
</div>
<div class="clearfix"></div>
<hr>
<div class="row margin-top-20">
    <?php echo $this->formRow($productVariantCreationForm->get('deleteSelectedVariants')); ?>
    <a data-toggle='modal' id='show-filter-button' class="hidden-md hidden-lg  btn btn-sm btn-success pull-right"  data-target='#show-mobile-filters'>Show Filters</a>
    <h4>Product Variations for - <i><span class="show-product-name"></span></i></h4>
    <div style="margin-bottom: 30px"></div>

    <div id="variant-table-container">
        <?= $this->partial('prism-products-manager/products/partials/add-edit/partial-variant-table',array(
            'productId' => $productId,
            'allSavedVariants' => $allSavedVariants,
            'productStatus' => $productStatus
        ));?>
    </div>

    <div style="margin-bottom: 15px"></div>
    <div>


        <?php
        if (!$this->manualSync()) {
            echo $this->formRow($this->productVariantCreationForm->get('saveVariants'));
        }
        ?>
        <div class="pull-right margin-right-15">
            <div class="dropdown">
                <a href="javascript:{}" data-toggle="dropdown" id="bulk-actions-dropdown-menu" class="btn btn-default disabled">
                    <span class="glyphicon glyphicon-align-justify"></span> &nbsp;Actions
                </a>
                <ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
                    <li role="presentation">
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           id="change-price-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Change Price
                        </a>
                        <a href="#" data-base-url="/media/product/<?=$productId?>/" id="view-images-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-wrench"></span> Manage Images Screen
                        </a>
                        <!-- end view images button -->
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="change-variant-attributes-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Manage Attributes
                        </a>
                        <!-- end view images button -->
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="change-variant-taxes-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Manage Tax
                        </a>

                        <!-- Bulk rest marketing category of selected images -->
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="rest-variants-marketing-categories-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Reset Marketing Categories
                        </a>

                        <!-- Bulk update variant details -->
                        <a href="#" data-just-one="0" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="update-variant-basic-details-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Manage Basic Details
                        </a>

                        <!-- Bulk copy variant stuff -->
                        <a href="#" data-just-one="0" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           id="transfer-to-variants" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Transfer to Variants
                        </a>

                        <!-- Bulk related products -->
                        <a href="#" data-just-one="0" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           id="related-products-action" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Related products
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <!--<input type="submit" value=" Delete Selected " class="btn btn-danger btn-xs">
        <input type="submit" value=" Save and Continue >> " class="btn btn-success pull-right">-->
    </div>
</div>
<?php
echo $this->form()->closeTag();

$skuRule1 = array();
$skuRule2 = array();
if (!empty($this->allSavedVariants['data'])) {
    foreach ($this->allSavedVariants['data'] as $variants) {
        if (!array_key_exists($variants['skuRule1'][key($variants['skuRule1'])], $skuRule1)) {
            $skuRule1[$variants['skuRule1'][key($variants['skuRule1'])]] = array(
                'value' => "^(" . $variants['skuRule1'][key($variants['skuRule1'])] . ")",
                'label' => $variants['skuRule1'][key($variants['skuRule1'])]
            );
            //$skuRule1[$variants['skuRule1']] = '{ "value": "^('.$variants['skuRule1'].')", "label": "'.$variants['skuRule1'].'"}';
        }
        if (!array_key_exists($variants['skuRule2'][key($variants['skuRule2'])], $skuRule2)) {
            $skuRule2[$variants['skuRule2'][key($variants['skuRule2'])]] = array(
                'value' => "^(" . $variants['skuRule2'][key($variants['skuRule2'])] . ")",
                'label' => $variants['skuRule2'][key($variants['skuRule2'])]
            );
        }
    }
}
?>

<script type="text/javascript">
    var skuRule1 = <?php echo json_encode($skuRule1); ?>;
    var skuRule2 = <?php echo json_encode($skuRule2); ?>;

    $(document).ready(function() {
        var oTable = $('#variant-creation-table').dataTable({
            "aLengthMenu": [[15 ,25, 50, 75, -1], [15, 25, 50, 75, "All"]],
            "iDisplayLength": 15
        }).columnFilter({
            aoColumns: [
                null,
                null,
                { type: "select", values: valuesToArray(skuRule1), "bRegex": true },
                { type: "text"},
                { type: "text" },
                null,
                { type: "select", values:  [
                    { value: '^Deactivate', label: 'Active'},
                    { value: '^Activate', label: 'Inactive'}
                ], bRegex:true
                },
                null
            ]
        });

        var pagination = $('#variant-creation-table_paginate');
        pagination.addClass('pull-left');
        $('#variant-creation-table_length').css({'margin-top':'10px'});
        $('#variant-creation-table_length').after(pagination);
    });

    function valuesToArray(obj) {
        return Object.keys(obj).map(function (key) {
            return obj[key];
        });
    }
</script>
