<?php
if ($successMessageForVariantAttributesSaving !== false) {
    if ($successMessageForVariantAttributesSaving == '1') {
        ?>
        <div id="add-edit-variants-alerts-container">
            <div data-dismiss="alert" id="variant-attributes-modal-alert-success"
                 class="alert alert-success fade in">
                <a class="close" data-dimdiss="alert">x</a>
                <i class="icon-success"></i>
                <strong>Success:</strong> The variants have been updated successfully
            </div>
        </div>
        <?php
    } else {
        ?>
        <div id="add-edit-variants-alerts-container">
            <div data-dismiss="alert" id="variant-attributes-modal-alert-error" class="alert alert-error fade in">
                <a class="close" data-dimdiss="alert">x</a>
                <i class="icon-error"></i>
                <strong>Error:</strong> An error occurred. The update could not be executed!
            </div>
        </div>
        <?php
    }
}
?>

<section>
    <hr>
        <h4>Create variants for Product</h4>
        <div class="margin-top-20"></div>

        <?php
            echo $this->form()->openTag($this->createCollationVariantsForm);
        ?>
        <div class="col-md-2"><span style="line-height: 30px;">Enter number of variants </span></div>
        <div class="col-md-2">
            <?php echo  $this->formRow($this->createCollationVariantsForm->get('createVariantsNumber'));  ?>
            <?php echo  $this->formRow($this->createCollationVariantsForm->get('productId'));  ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>

        <div class="col-md-4">
            <div class="create-collation-variants btn btn-primary pull-left">
                <i class="glyphicon glyphicon glyphicon-play"></i> Create Variants
            </div>
        </div>
        <div class="clearfix"></div>
    <hr>
</section>
<input name="deleteSelectedVariants" id="delete-selected-variants" type="button" class="btn btn-danger btn-sm pull-right" value=" Delete selected ">
<div class="row margin-top-20">
    <a data-toggle='modal' id='show-filter-button' class="hidden-md hidden-lg  btn btn-sm btn-success pull-right"  data-target='#show-mobile-filters'>Show Filters</a>
    <h4>Product Variations for - <i><span class="show-product-name"></span></i></h4>
    <div style="margin-bottom: 30px"></div>

    <div id="variant-table-container">
        <?= $this->partial('prism-products-manager/products/partials/add-edit/partial-variant-table',array(
            'productId' => $this->productId,
            'allSavedVariants' => $this->allSavedVariants,
            'productStatus' => $this->productStatus
        ));?>
    </div>

    <div style="margin-bottom: 15px"></div>
    <div>
        <?php
        if (!$this->manualSync()) {
            echo $this->form()->openTag($this->productVariantCreationForm);
            echo $this->formRow($this->productVariantCreationForm->get('saveVariants'));
            echo $this->form()->closeTag();

        }
        ?>
        <div class="pull-right margin-right-15">
            <div class="dropdown">
                <a href="javascript:{}" data-toggle="dropdown" id="bulk-actions-dropdown-menu" class="btn btn-default disabled">
                    <span class="glyphicon glyphicon-align-justify"></span> &nbsp;Actions
                </a>
                <ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
                    <li role="presentation">
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           id="change-price-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Change Price
                        </a>
                        <a href="#" data-base-url="/media/product/<?=$productId?>/" id="view-images-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-wrench"></span> Manage Images Screen
                        </a>
                        <!-- end view images button -->
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="change-variant-attributes-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Manage Attributes
                        </a>
                        <!-- end view images button -->
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="change-variant-taxes-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Manage Tax
                        </a>

                        <!-- Bulk rest marketing category of selected images -->
                        <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="rest-variants-marketing-categories-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Reset Marketing Categories
                        </a>

                        <!-- Bulk update variant details -->
                        <a href="#" data-just-one="0" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           data-variant-id="" id="update-variant-basic-details-bulk" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Manage Basic Details
                        </a>

                        <!-- Bulk copy variant stuff -->
                        <a href="#" data-just-one="0" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           id="transfer-to-variants" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Transfer to Variants
                        </a>

                        <!-- Bulk related products -->
                        <a href="#" data-just-one="0" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                           id="related-products-action" tabindex="-1" role="menuitem">
                            <span class="glyphicon glyphicon-edit"></span> Related products
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var oTable = $('#variant-creation-table').dataTable({
            "aLengthMenu": [[15 ,25, 50, 75, -1], [15, 25, 50, 75, "All"]],
            "iDisplayLength": 15
        }).columnFilter({
            aoColumns: [
                null,
                null,
                null,
                { type: "text"},
                { type: "text" },
                null,
                { type: "select", values:  [
                    { value: '^Deactivate', label: 'Active'},
                    { value: '^Activate', label: 'Inactive'}
                ], bRegex:true
                },
                null
            ]
        });

        var pagination = $('#variant-creation-table_paginate');
        pagination.addClass('pull-left');
        $('#variant-creation-table_length').css({'margin-top':'10px'});
        $('#variant-creation-table_length').after(pagination);
    });
</script>
