<div class="col-xs-12">
    <?php if ($this->inputPage->getpagename() != 'Marketing') { ?>
        <h2> Cost </h2>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Supplier_Price"
                      data-price-column="currencyCode"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency=""
                      data-field-name="Supplier Currency"
                      data-placement="top"
                      data-field="prices[supplier-currency]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[supplier-currency]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[supplier-currency]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[supplier-currency]')); ?>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Supplier_Price"
                      data-price-column="price"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency=""
                      data-field-name="Supplier Price"
                      data-placement="top"
                      data-field="prices[supplier-price]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[supplier-price]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[supplier-price]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[supplier-price]')); ?>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Prices"
                      data-price-column="costPrice"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency="GBP"
                      data-field-name="Landed Cost (GBP)"
                      data-placement="top"
                      data-field="prices[costPrice-GBP]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[costPrice-GBP]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[costPrice-GBP]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[costPrice-GBP]')); ?>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Prices"
                      data-price-column="costPrice"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency="USD"
                      data-field-name="Landed Cost (USD)"
                      data-placement="top"
                      data-field="prices[costPrice-USD]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[costPrice-USD]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[costPrice-USD]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[costPrice-USD]')); ?>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Prices"
                      data-price-column="costPrice"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency="CAD"
                      data-field-name="Landed Cost (CAD)"
                      data-placement="top"
                      data-field="prices[costPrice-CAD]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[costPrice-CAD]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[costPrice-CAD]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[costPrice-CAD]')); ?>
            </div>
        </div>


        <div class=" hide col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Prices"
                      data-price-column="costPrice"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency="AUD"
                      data-field-name="Landed Cost (AUD)"
                      data-placement="top"
                      data-field="prices[costPrice-AUD]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[costPrice-AUD]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[costPrice-AUD]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[costPrice-AUD]')); ?>
            </div>
        </div>

        <div class=" hide col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Prices"
                      data-price-column="costPrice"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency="EUR"
                      data-field-name="Landed Cost (EUR)"
                      data-placement="top"
                      data-field="prices[costPrice-EUR]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[costPrice-EUR]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[costPrice-EUR]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[costPrice-EUR]')); ?>
            </div>
        </div>
        <div class="clearfix"></div>
    <?php } ?>

    <h2>Price</h2>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="GB"
                  data-currency="GBP"
                  data-field-name="Current Price (GBP-GB)"
                  data-placement="top"
                  data-field="prices[nowPrice-GBP-GB]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-GBP-GB]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-GBP-GB]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-GBP-GB]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="GB"
                  data-currency="GBP"
                  data-field-name="Original Price (GBP-GB)"
                  data-placement="top"
                  data-field="prices[wasPrice-GBP-GB]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-GBP-GB]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-GBP-GB]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-GBP-GB]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="ROW"
                  data-currency="GBP"
                  data-field-name="Current Price (GBP-ROW)"
                  data-placement="top"
                  data-field="prices[nowPrice-GBP-ROW]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-GBP-ROW]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-GBP-ROW]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-GBP-ROW]')); ?>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="ROW"
                  data-currency="GBP"
                  data-field-name="Original Price (GBP-ROW)"
                  data-placement="top"
                  data-field="prices[wasPrice-GBP-ROW]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-GBP-ROW]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-GBP-ROW]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-GBP-ROW]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="US"
                  data-currency="USD"
                  data-field-name="Current Price (USD-US)"
                  data-placement="top"
                  data-field="prices[nowPrice-USD-US]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-USD-US]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-USD-US]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-USD-US]')); ?>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="US"
                  data-currency="USD"
                  data-field-name="Original Price (USD-US)"
                  data-placement="top"
                  data-field="prices[wasPrice-USD-US]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-USD-US]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-USD-US]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-USD-US]')); ?>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="CA"
                  data-currency="CAD"
                  data-field-name="Current Price (CAD-CA)"
                  data-field="prices[nowPrice-CAD-CA]"
                  data-placement="top"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-CAD-CA]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-CAD-CA]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-CAD-CA]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="CA"
                  data-currency="CAD"
                  data-field-name="Original Price (CAD-CA)"
                  data-placement="top"
                  data-field="prices[wasPrice-CAD-CA]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-CAD-CA]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-CAD-CA]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-CAD-CA]')); ?>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="DE"
                  data-currency="EUR"
                  data-field-name="Current Price (EUR-DE)"
                  data-placement="top"
                  data-field="prices[nowPrice-EUR-DE]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-EUR-DE]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-EUR-DE]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-EUR-DE]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="DE"
                  data-currency="EUR"
                  data-field-name="Original Price (EUR-DE)"
                  data-placement="top"
                  data-field="prices[wasPrice-EUR-DE]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-EUR-DE]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-EUR-DE]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-EUR-DE]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="EU"
                  data-currency="EUR"
                  data-field-name="Current Price (EUR-EU)"
                  data-placement="top"
                  data-field="prices[nowPrice-EUR-EU]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-EUR-EU]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-EUR-EU]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-EUR-EU]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="EU"
                  data-currency="EUR"
                  data-field-name="Original Price (EUR-EU)"
                  data-placement="top"
                  data-field="prices[wasPrice-EUR-EU]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-EUR-EU]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-EUR-EU]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-EUR-EU]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="GB"
                  data-currency="AUD"
                  data-field-name="Current Price (AUD-GB)"
                  data-field="prices[nowPrice-AUD-GB]"
                  data-placement="top"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-AUD-GB]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-AUD-GB]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-AUD-GB]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="GB"
                  data-currency="AUD"
                  data-field-name="Original Price (AUD-GB)"
                  data-placement="top"
                  data-field="prices[wasPrice-AUD-GB]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-AUD-GB]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-AUD-GB]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-AUD-GB]')); ?>
        </div>
    </div>

</div>
