<div class="col-xs-12">
        <h2> Cost </h2>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Supplier_Price"
                      data-price-column="currencyCode"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency=""
                      data-field-name="Supplier Currency"
                      data-placement="top"
                      data-field="prices[supplier-currency]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[supplier-currency]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[supplier-currency]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[supplier-currency]')); ?>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Supplier_Price"
                      data-price-column="price"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency=""
                      data-field-name="Supplier Price"
                      data-placement="top"
                      data-field="prices[supplier-price]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[supplier-price]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[supplier-price]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[supplier-price]')); ?>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6 block-input-field">
            <?php if (!is_null($this->style)) { ?>
                <span class="glyphicon glyphicon-time pull-right schedule-prices"
                      data-price-table="PRODUCTS_Prices"
                      data-price-column="costPrice"
                      data-toggle="tooltip"
                      data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                      data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                      data-territory=""
                      data-currency="GBP"
                      data-field-name="Landed Cost (GBP)"
                      data-placement="top"
                      data-field="prices[costPrice-GBP]"
                      title="Schedule System">
            </span>
            <?php } ?>
            <div class="clearfix"></div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formLabel($this->inputFieldsForm->get('prices[costPrice-GBP]')); ?>
            </div>
            <div class="col-xs-6 form-group">
                <?php echo $this->formElement($this->inputFieldsForm->get('prices[costPrice-GBP]')); ?>
                <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[costPrice-GBP]')); ?>
            </div>
        </div>

        <div class="clearfix"></div>

    <h2>Price</h2>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="GB"
                  data-currency="GBP"
                  data-field-name="Current Price (GBP-GB)"
                  data-placement="top"
                  data-field="prices[nowPrice-GBP-GB]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-GBP-GB]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-GBP-GB]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-GBP-GB]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="GB"
                  data-currency="GBP"
                  data-field-name="Original Price (GBP-GB)"
                  data-placement="top"
                  data-field="prices[wasPrice-GBP-GB]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-GBP-GB]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-GBP-GB]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-GBP-GB]')); ?>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="nowPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="ROW"
                  data-currency="GBP"
                  data-field-name="Current Price (GBP-ROW)"
                  data-placement="top"
                  data-field="prices[nowPrice-GBP-ROW]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[nowPrice-GBP-ROW]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[nowPrice-GBP-ROW]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[nowPrice-GBP-ROW]')); ?>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 block-input-field">
        <?php if (!is_null($this->style)) { ?>
            <span class="glyphicon glyphicon-time pull-right schedule-prices"
                  data-price-table="PRODUCTS_Prices"
                  data-price-column="wasPrice"
                  data-toggle="tooltip"
                  data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
                  data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
                  data-territory="ROW"
                  data-currency="GBP"
                  data-field-name="Original Price (GBP-ROW)"
                  data-placement="top"
                  data-field="prices[wasPrice-GBP-ROW]"
                  title="Schedule System">
            </span>
        <?php } ?>
        <div class="clearfix"></div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formLabel($this->inputFieldsForm->get('prices[wasPrice-GBP-ROW]')); ?>
        </div>
        <div class="col-xs-6 form-group">
            <?php echo $this->formElement($this->inputFieldsForm->get('prices[wasPrice-GBP-ROW]')); ?>
            <?php echo $this->formElementErrors($this->inputFieldsForm->get('prices[wasPrice-GBP-ROW]')); ?>
        </div>
    </div>

</div>