<!--<div class="row">-->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('tags')); ?>
<!--    </div>-->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('misSpells')); ?>
<!--    </div>-->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('shortDescription')); ?>
<!--    </div>-->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('longDescription')); ?>
<!--    </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('metaTitle')); ?>
<!--    </div>-->
<!---->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('metaKeyword')); ?>
<!--    </div>-->
<!---->
<!--    <div class="col-md-12 form-group">-->
<!--        --><?php //echo $this->formRow($this->inputFieldsForm->get('metaDescription')); ?>
<!--    </div>-->
<!--</div>-->
