<?php foreach ($this->options as $option) { ?>
    <tr class="option-row-expanded">
        <td><?php echo $option['details']['productName'] ?></td>
        <td><?php echo isset($option['commonAttributes']['Season']['value']) ? $option['commonAttributes']['Season']['value'] : '-' ?></td>
        <td><?php echo isset($option['commonAttributes']['Category']['value']) ? $option['commonAttributes']['Category']['value'] : '-' ?></td>
        <td><?php echo isset($option['commonAttributes']['SubCategory']['value']) ? $option['commonAttributes']['SubCategory']['value'] : '-' ?></td>
        <td><?php echo isset($option['commonAttributes']['webDepartment']['value']) ? $option['commonAttributes']['webDepartment']['value'] : '-' ?></td>
        <td><?php echo isset($option['commonAttributes']['webSubDepartment']['value']) ? $option['commonAttributes']['webSubDepartment']['value'] : '-' ?></td>
        <td><?php echo $option['details']['optionCode']; ?></td>
        <td></td>
        <td>
            <div class="progress work-flow-bar pull-left">
                <div class="progress-bar progress-background-<?php echo $option['details']['workflowsPercentage']; ?>" role="progressbar" aria-valuenow="<?php echo $option['details']['workflowsPercentage']; ?>"
                     aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $option['details']['workflowsPercentage']; ?>%">
                </div>
            </div>
            <button
                type="button"
                class="btn btn-sm more-info-workflow pull-left"
                data-container="body"
                data-trigger="focus"
                data-toggle="popover"
                data-placement="top"
                data-html="true"
                data-content="<?php
                foreach ($option["details"]["workflows"] as $workflow) {
                    echo "<div class='col-sm-12'>";
                    echo $workflow["workflowId"] . '. ';
                    echo $workflow["workflowDescription"];
                    echo $workflow["completed"] == 1 ? " - completed" : " - not completed";
                    echo '</div>';
                }
                ?>">
                More
            </button>
        </td>
        <td><?php echo $this->showDate($option['details']['modified']); ?></td>
        <td><?php echo $this->showDate($option['details']['created']); ?></td>
        <td colspan="2">
            <a href="/products/display/admin/style/<?php echo $option['details']['style'] . '/option/' . $option['details']['optionCode']; ?>">
                <span class="glyphicon glyphicon-pencil"></span> Edit Option
            </a>
        </td>

    </tr>
<?php } ?>