<section>
    <?php $optionCount = 1; $opened = false; ?>
    <?php
    foreach ($this->options as $optionCode => $variants) { ?>
    <?php if ($optionCount % 4 != 0 && !$opened) { ?>
    <?php $opened = true; ?>
    <div class="row">
    <?php } ?>
        <div class="col-sm-3 col-xs-12">
            <div class="col-xs-10 col-xs-offset-1 option-and-sku-holder no-padding">
                <table class="table">
                    <tr>
                        <td class="center-align bold width-50">Option Code</td>
                        <td class="center-align bold width-50">Colour</td>
                    </tr>
                    <tr>
                        <td class="center-align width-50"><?php echo $optionCode; ?></td>
                        <td class="center-align width-50"><?php echo $variants[0]['colourCode'] . ' - ' . $variants[0]['colourName']; ?></td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td class="center-align bold width-50">SKU Codes</td>
                        <td class="center-align bold width-50">Sizes</td>
                    </tr>
                <?php
               foreach ($variants as $variant) {?>
                    <tr>
                        <td class="center-align width-50"><span <?php if($variant['status'] == 'INACTIVE'){ ?> class="error-schedule" <?php } ?> >
                        <?php echo $variant['sku']; ?></span></td>

                        <td class="center-align width-50"><?php echo $variant['sizeCode'] ; ?></td>
                    </tr>
                <?php } ?>
                </table>
            </div>
        </div>
        <?php if ($optionCount % 4 == 0 && $opened) { ?>
            </div>
            <?php $opened = false; ?>
        <?php } ?>
        <?php $optionCount++; ?>
    <?php } ?>
</section>
