<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-collapsed">
                <h4 class="panel-title">
                    Search By:
                </h4>
            </div>
            <div class="panel-body">
                <div class="input-table-filter">
                    <div class="col-md-3">
                        <input type="text" name="SearchField" class="form-group form-control inputFieldSearch" id="SearchInputField" placeholder="Free Search" value="">
                    </div>
                </div>
                <?php if ($this->isFeatureEnable('enableWorkflows', false, 'settings')) { ?>
                    <div class="col-md-3">
                        <select id="Completed-Workflows" class="form-group form-control">
                            <option value="">Completed Workflow</option>
                            <?php foreach ($this->workflows as $workflow) { ?>
                                <option value="<?php echo $workflow->getWorkflowId(); ?>"><?php echo $workflow->getWorkFlowDescription(); ?></option>
                            <?php } ?>
                        </select>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table id="searchTableResult" class="display">
            <thead>
                <tr>
                    <?php echo $this->outputTableHeader(); ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->styles as $productStyleLevel) { ?>
                    <tr class="row-<?php echo $productStyleLevel['details']['style']; ?>">
                        <td style="display:none">
                            <?php foreach ($productStyleLevel['options'] as $option) {
                                echo $option['details']['optionCode'] . ' ';
                            }?>
                        </td>
                        <td><?php echo $productStyleLevel['details']['productName'] ?></td>
                        <td><?php echo isset($productStyleLevel['commonAttributes']['Season']['value']) ? $productStyleLevel['commonAttributes']['Season']['value'] : '-' ?></td>
                        <td><?php echo isset($productStyleLevel['commonAttributes']['Category']['value']) ? $productStyleLevel['commonAttributes']['Category']['value'] : '-' ?></td>
                        <td><?php echo isset($productStyleLevel['commonAttributes']['SubCategory']['value']) ? $productStyleLevel['commonAttributes']['SubCategory']['value'] : '-' ?></td>
                        <td><?php echo isset($productStyleLevel['commonAttributes']['webDepartment']['value']) ? $productStyleLevel['commonAttributes']['webDepartment']['value'] : '-' ?></td>
                        <td><?php echo isset($productStyleLevel['commonAttributes']['webSubDepartment']['value']) ? $productStyleLevel['commonAttributes']['webSubDepartment']['value'] : '-' ?></td>
                        <td><?php echo $productStyleLevel['details']['style']; ?></td>
                        <td><?php echo count($productStyleLevel['options']); ?></td>
                        <td>
                            <div class="progress work-flow-bar pull-left">
                                <div class="progress-bar progress-background-<?php echo $productStyleLevel['lessCompletedWorkflow']['percentage']; ?>" role="progressbar" aria-valuenow="<?php echo $productStyleLevel['lessCompletedWorkflow']['percentage']; ?>"
                                     aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $productStyleLevel['lessCompletedWorkflow']['percentage']; ?>%">
                                </div>
                            </div>
                            <button
                                type="button"
                                class="btn btn-sm more-info-workflow pull-left"
                                data-container="body"
                                data-trigger="focus"
                                data-toggle="popover"
                                data-placement="top"
                                data-html="true"
                                data-content="<?php
                                if (!empty($productStyleLevel['lessCompletedWorkflow']['workflows'])) {
                                    foreach ($productStyleLevel['lessCompletedWorkflow']['workflows'] as $workflow) {
                                        echo "<div class='col-sm-12'>";
                                        echo $workflow["workflowId"] . '. ';
                                        echo $workflow["workflowDescription"];
                                        echo $workflow["completed"] == 1 ? " - completed" : " - not completed";
                                        echo '</div>';
                                    }
                                } else {
                                    echo "<div class='col-sm-12'>No options are created.</div>";
                                }
                                ?>">
                                More
                            </button>
                        </td>
                        <td><?php echo $productStyleLevel['details']['modified']; ?></td>
                        <td><?php echo $productStyleLevel['details']['created']; ?></td>
                        <td>
                            <div class="center-block">
                                <a href="/products/display/admin/style/<?php echo $productStyleLevel['details']['style']; ?>">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit Style
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="center-align">
                                <span class="glyphicon glyphicon-plus show-options" data-style="<?php echo $productStyleLevel['details']['style']; ?>"></span>
                                <span class="glyphicon glyphicon-minus hide-options" data-style="<?php echo $productStyleLevel['details']['style']; ?>" style="display:none"></span>
                            </div>
                        </td>
                        <td style="display:none">
                            <?php
                            if (!empty($productStyleLevel['lessCompletedWorkflow']['workflows'])) {
                                foreach ($productStyleLevel['lessCompletedWorkflow']['workflows'] as $workflow) {
                                    if ($workflow['completed'] == 1) {
                                        echo $workflow['workflowDescription'] . ', ';
                                    }
                                }
                            }
                            ?>
                        </td>
                        <td style="display:none">
                            <?php
                            if (!empty($productStyleLevel['lessCompletedWorkflow']['workflows'])) {
                                foreach ($productStyleLevel['lessCompletedWorkflow']['workflows'] as $workflow) {
                                    if ($workflow['completed'] == 0) {
                                        echo $workflow['workflowDescription'] . ', ';
                                    }
                                }
                            }
                            ?>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>