<?php if (is_null($this->style)) { ?>
    Please create the style to be allowed to create options.
<?php } else { ?>
    <?php if (!is_null($this->option)) { ?>
        Cannot create a new option from the option level. Please switch to style level.
    <?php } else { ?>
        <div class="text-center">Colour Selection</div>
        <div class="col-sm-6 col-xs-12 col-sm-offset-3 col-xs-offset-0 margin-top-10">
            <select class="selectize selectized" name="option-creation-colour">
                <?php foreach ($this->colours as $colour) { ?>
                    <option value="<?php echo $colour['colourGroupId'] ?>"><?php echo $colour['groupCode'] . '('.$colour['name'].')' ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">Size Selection</div>
        <div class="clearfix"></div>
        <?php foreach ($this->sizeBridges as $sizeBridge) { ?>

            <div class="col-sm-6 col-xs-12 col-sm-offset-3 col-xs-offset-0 margin-top-10 size-guide" <?php echo isset($sizeBridge['commonAttribute']) && !empty($sizeBridge['commonAttribute']->getCommonAttributeDefinitions()) ? $sizeBridge['commonAttribute']->getCommonAttributeDefinitions()->getCommonAttributeDataElement() :  ''; ?>>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" data-common-attribute="<?php echo $sizeBridge['commonAttribute']->getcommonattributeid(); ?>" class="option-size-selector">
                    </span>
                    <div class="form-control">
                    <?php
                        if (!empty($sizeBridge['values'])) {
                            foreach ($sizeBridge['values'] as $sizeBridgeValue) {
                    ?>
                    <?php
                        if ($sizeBridgeValue->getCommonAttributeValueSkuCode() != $sizeBridgeValue->getCommonAttributeValuesDefinitions()->getValue()) {
                            $classBootstrap = 'col-lg-4 col-md-6 col-sm-6';
                            $parantesis = '(' . $sizeBridgeValue->getCommonAttributeValueSkuCode() . ')';
                        } else {
                            $classBootstrap = 'col-lg-2 col-md-4 col-sm-6';
                            $parantesis = '';
                        }
                    ?>
                        <div class="<?php echo $classBootstrap ?>">
                            <input type="checkbox" class="common-attribute-<?php echo $sizeBridge['commonAttribute']->getcommonattributeid(); ?>" name="option-creation-size[<?php echo $sizeBridgeValue->getCommonAttributeId()->getCommonAttributeId() . '-'. $sizeBridgeValue->getCommonAttributeValueId(); ?>]"/>
                            <?php echo $sizeBridgeValue->getCommonAttributeValuesDefinitions()->getValue();  ?>
                                <?php echo $parantesis; ?>

                            <div class="clearfix"></div>
                        </div>
                    <?php
                            }
                        }
                    ?>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /input-group -->
            </div>
        <?php } ?>
        <div class="clearfix"></div>
    <?php } ?>
<?php } ?>


