<div class="modal fade" id="new-merchant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Merchant Attribute Group</h4>
            </div>

            <?php
            $attributesMerchantGroupForm->setAttribute('action', $this->url ('merchant-attributes', array('action' => 'index')));
            $attributesMerchantGroupForm->prepare();
            ?>
            <div class="modal-body">

                <div class="form-group attribute-errors"></div>

                <div class="form-group">
                    <?php echo $this->form()->openTag($attributesMerchantGroupForm) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($attributesMerchantGroupForm->get('attributeGroupId')) . PHP_EOL; ?>
                <div class="form-group">
                    <label class="control-label" for="attributeInternalName">Merchant Attribute Group Internal Name *</label>
                    <?php echo $this->formRow($attributesMerchantGroupForm->get('attributeMerchantGroupName')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="attributePublicName">Merchant Attribute Group Public Name *</label>
                    <?php echo $this->formRow($attributesMerchantGroupForm->get('attributeMerchantGroupPublicName')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="attributeGroupParent">Merchant Attribute Group Code *</label>
                    <?php echo $this->formRow($attributesMerchantGroupForm->get('attributeMerchantGroupCode')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label pull-left" for="attributeType">Merchant Attribute Type</label>
                    <span class="ajax pull-left clearfix"></span>
                    <?php echo $this->formRow($attributesMerchantGroupForm->get('attributeMerchantType')) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($attributesMerchantGroupForm->get('csrf')) . PHP_EOL; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit($attributesMerchantGroupForm->get('submit')) . PHP_EOL; ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL; ?>
        </div>
    </div>
</div>