<?php $groupTmp = $group; unset($groupTmp['children']); ?>
<tr <?php echo  ($group['groupParentId'] != '0' && $search === null) ? 'class="hidden child-' . $group['groupParentId'] .'"' : ''; ?> >
    <td>
        <?php
            for($i=0;$i<$level;$i++){
                if($i == $level-1) {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;<i class="child"></i>';
                } else {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                }

            }
        ?>
        <?php echo  $group['groupParentId'] == '0' ? '<span class="btn btn-danger btn-xs show-children" data-id="'.$group['attributeGroupId'].'">Show Children</span> &nbsp;<b>'. $group['name'] . '</b>' : $group['name']; ?>
    </td>
    <td><?php echo  ($group['groupParentId'] == '0') ? 'Root Group' : $group['attributesCount']; ?></td>
    <td><?php echo  $group['viewAs']; ?></td>
    <td><?php echo  $group['groupCode']; ?></td>
    <td><span class="label label-info">Merchant Attribute Group</span></td>
    <td><input name="enable-filter" type="checkbox" value="<?php echo $group['attributeGroupId']; ?>" <?php echo $group['usedForFiltering'] == 1 ? 'checked' : ''; ?> /></td>
    <td>
        <fieldset class="crud-buttons">
            <?php if ($group['groupParentId'] != 0) { ?>
                <button id="view-merchant-group-<?php echo $group['attributeGroupId']; ?>" onclick="location.href='/merchant-attributes/values/<?php echo $group['attributeGroupId']; ?>'" class="btn btn-primary" data-toggle="modal" data-id="<?php echo $group['attributeGroupId']; ?>" data-target="#view-attribute"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</button>
                <button id="edit-merchant-group-<?php echo $group['attributeGroupId']; ?>" class="btn btn-warning edit-modal-merchant" data-json='<?php echo htmlentities(json_encode($groupTmp)); ?>'  data-toggle="modal" data-target="#new-merchant"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                <button id="delete-merchant-group-<?php echo $group['attributeGroupId']; ?>" data-attribute-id="<?php echo $group['attributeGroupId']; ?>"  class="btn btn-danger delete-colour-attribute"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
            <?php } elseif(strtolower($group['name']) == 'colours') { ?>
                <button id="view-merchant-group-<?php echo $group['attributeGroupId']; ?>" onclick="location.href='/colours'" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> &nbsp;Manage colours</button>
            <?php } ?>
        </fieldset>
    </td>
</tr>

<?php

    if ($group['children'] !== null){
    $level++;
        foreach ($group['children'] as $child){
            echo $this->partial('prism-products-manager/merchant-attributes/partials/partial-groups', array ('group' => $child, 'level' => $level, 'search' => $search));
        }
    }
?>