<div class="modal fade" id="new-colour-value" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit / Add new colour</h4>
            </div>


            <div class="modal-body">
                <?php
                $attributesColourGroupsAddForm->setAttribute('action', $this->url ('merchant-attributes', array('action' => 'values', 'id' => $id)));
                $attributesColourGroupsAddForm->prepare();
                ?>
                <?php echo $this->form()->openTag($attributesColourGroupsAddForm) . PHP_EOL; ?>
                <div class="form-group attribute-errors"></div>
                <?php echo $this->formRow($attributesColourGroupsAddForm->get('colourGroupId')) . PHP_EOL; ?>
                <div class="form-group">
                    <label class="control-label" for="colourName">Colour Name *</label>
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('colourGroupName')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="colourCode">Colour Code *</label>
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('colourGroupCode')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="hex">Colour Hex *</label>
                    <div class="clearfix"></div>
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('hex')) . PHP_EOL; ?>
                </div>

                <div class="form-group">
                   <label class="control-label" for="colourName">Use image for color *</label>
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('hasImage')) . PHP_EOL; ?>
                    <img src=""
                            id="image-colour"
                            class="clickable-image hidden"
                            data-params = '[
                                ["imgId", "image-colour"],
                                ["inputRefId","image-id"],
                                ["apiName", "colour"],
                                ["apiId", "<?=$id?>"]
                                ]'
                        >
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('imageId')) . PHP_EOL; ?>
                    <br>
                </div>
                <div class="form-group">
                    <label class="control-label" for="colours">Select color combination *</label>
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('colours')) . PHP_EOL; ?>
                </div>

                <?php echo $this->formRow($attributesColourGroupsAddForm->get('csrf')) . PHP_EOL; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit($attributesColourGroupsAddForm->get('submit')) . PHP_EOL; ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL; ?>
        </div>
    </div>
</div>

<script> $(function() { $('#hex').colorpicker(); }); </script>