<input type="hidden" value="<?php echo $valid['add'] ? 1 : 0; ?>" name="colours-add-form"/>
<input type="hidden" value="<?php echo $valid['edit'] ? 1 : 0; ?>" name="colours-edit-form"/>
<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <h2>Manage merchant attributes for group <b><?php echo $group['name']; ?></b></h2>
        <fieldset class="dashboard-title-options">
            <button id="go-back-button" class="btn" onclick="window.history.back()" aria-hidden="true" type="button">Go back</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#new-colour-value"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Colour</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#existing-colour-value"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Existing Colour</button>
        </fieldset><!-- End dashboard title options -->
    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="25%">Name</th>
                <th width="15%">Hex</th>
                <th width="15%">Code</th>
                <th width="5%">Preview</th>
                <th width="10%">&nbsp;</th>
                <th width="15%">Enabled</th>
                <th></th>
            </tr>

            <?php if (isset($group['children']) && !empty($group['children'])) : ?>
                <?php foreach($group['children'] as $child):?>
                    <tr>
                        <td><?php echo isset($child['colourGroupName']) ? $child['colourGroupName'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['colourGroupHex']) ? $child['colourGroupHex'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['colourGroupCode']) ? $child['colourGroupCode'] : 'N/A'; ?></td>
                        <?php if ($child['hasImage'] != 0) : ?>
                            <td><img src="<?php echo (isset($child['imageUrl']) ? $child['imageUrl'] : '')?>" style="width:100%;" id="colour-image-<?php echo $child['colourGroupId'] ?>" /></td>
                        <?php else : ?>
                            <td style="background-color:<?php echo isset($child['colourGroupHex']) ? $child['colourGroupHex'] : 'N/A'; ?>"></td>
                        <?php endif; ?>
                        <td>&nbsp;</td>
                        <td>
                            <input name="enable-colours" type="checkbox" value="<?php echo $child['colourGroupId']; ?>" <?php echo $child['colourGroupEnabled'] == 1 ? 'checked' : ''; ?> />
                        </td>
                        <td>
                            <fieldset class="crud-buttons">
                                <button class="btn btn-warning edit-colour-attribute" data-json='<?php echo json_encode($child); ?>' data-toggle="modal" data-target="#new-colour-value"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                                <button data-colour-group-id="<?php echo $child['colourGroupId']; ?>" data-attribute-id="<?php echo $group['attributeGroupId']; ?>" class="btn btn-danger delete-colour-attribute-value"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                            </fieldset>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>

        </table>

    </div><!-- End main column -->

</div><!-- End dashboard section -->

<!-- Modal -->
<!--New / edit attribute Merchant -->
<?php echo $this->partial('prism-products-manager/merchant-attributes/partials/partial-attributes-colour-merchant-value', array ('attributesColourGroupsAddForm' => $attributesColourGroupsAddForm, 'id' => $id)); ?>
<?php echo $this->partial('prism-products-manager/merchant-attributes/partials/partial-attributes-existing-colour-merchant-value', array ('attributesColourGroupsAddForm' => $addAttributesExistingColoursGroupForm, 'id' => $id)); ?>

<script src="<?php echo $this->basePath(); ?>/js/app/media/mediapicker.js"></script>
