<div class="modal fade" id="sizes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sizes-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Manage sizes to group</h4>
            </div>

            <form name="manage-sizes" method="POST" action="/merchant-attributes/values/<?php echo $group['attributeGroupId']; ?>">
                <div class="modal-body">
                    <input type="hidden" value="<?php echo $group['attributeGroupId']; ?>" name="size-group-id" />
                    <div class="row">
                        <?php if ($group['where'] == 'size-shirts' || $group['where'] == 'size-clothes' || $group['where'] == 'size-belts' || $group['where'] == 'size-jackets' || $group['where'] == 'size-trousers' || $group['where'] == 'size-swimshorts'): ?>
                            <?php foreach ($this->sizes as $size): ?>
                                <div class="col-md-4 size-margin">
                                    <div class="input-group <?php echo in_array($size['sizeId'], $group['usedChildrenArray']) ? 'has-error' : 'has-success'?>">
                                          <span class="input-group-addon ">
                                            <input type="checkbox" name="size[]" value="<?php echo $size['sizeId']; ?>" class="<?php echo in_array($size['sizeId'], $group['usedChildrenArray']) ? 'disabled-size' : ''; ?>" <?php echo in_array($size['sizeId'], $group['childrenArray']) ? 'checked' : ''; ?>>
                                          </span>
                                        <?php if ($group['where'] == 'size-belts'): ?>
                                            <label for="size" class="form-control"><?php echo $size['type'] . ' ' . $size['size']. ' Waist inch:' . $size['waistInch']. ' Waist cm:' . $size['waistCm']; ?></label>
                                        <?php elseif ($group['where'] == 'size-trousers'): ?>
                                            <label for="size" class="form-control"><?php echo $size['type'] . ' ' . $size['size']. ' Waist inch:' . $size['waistInch']. ' Waist cm:' . $size['waistCm']. ' Leg inch:' . $size['legInch']. ' Leg cm:' . $size['legCm']; ?></label>
                                        <?php elseif ($group['where'] == 'size-swimshorts'): ?>
                                            <label for="size" class="form-control"><?php echo $size['type'] . ' ' . $size['size']. ' Waist inch:' . $size['waistInch']; ?></label>
                                        <?php else: ?>
                                            <label for="size" class="form-control"><?php echo $size['type'] . ' ' . $size['size']. ' Chest inch:' . $size['chestInch']. ' Chest cm:' . $size['chestCm']. ' Europe:' . $size['eur']; ?></label>
                                        <?php endif; ?>

                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-4 -->
                            <?php endforeach; ?>
                        <?php else: ?>
                            <?php foreach ($this->sizes as $size) :?>
                                <div class="col-md-3 size-margin">
                                    <div class="input-group <?php echo in_array($size['sizeId'], $group['usedChildrenArray']) ? 'has-error' : 'has-success'?>">
                                          <span class="input-group-addon ">
                                            <input type="checkbox" name="size[]" value="<?php echo $size['sizeId']; ?>" class="<?php echo in_array($size['sizeId'], $group['usedChildrenArray']) ? 'disabled-size' : ''; ?>" <?php echo in_array($size['sizeId'], $group['childrenArray']) ? 'checked' : ''; ?>>
                                          </span>
                                        <label for="size" class="form-control"><?php echo $size['type'] . ' ' . $size['uk']; ?></label>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-4 -->
                            <?php endforeach; ?>
                        <?php endif; ?>

                    </div><!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary save-attribute" type="submit" value="save" name="submit">
                </div>
            </form>
        </div>
    </div>
</div>