<div class="modal fade" id="existing-colour-value" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add existing colour groups</h4>
            </div>
            <div class="modal-body">
                <?php
                $attributesColourGroupsAddForm->setAttribute('action', $this->url ('merchant-attributes', array('action' => 'add-existing-colour', 'id' => $id)));
                $attributesColourGroupsAddForm->prepare();
                ?>
                <?php echo $this->form()->openTag($attributesColourGroupsAddForm) . PHP_EOL; ?>
                <div class="form-group attribute-errors"></div>

                <div class="form-group">
                    <label class="control-label" for="colourName">Select Colour Groups *</label>
                    <?php echo $this->formRow($attributesColourGroupsAddForm->get('colourGroups')) . PHP_EOL; ?>
                </div>

                <?php echo $this->formRow($attributesColourGroupsAddForm->get('csrf')) . PHP_EOL; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit($attributesColourGroupsAddForm->get('submit')) . PHP_EOL; ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL; ?>
        </div>
    </div>
</div>