<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <h2>Manage merchant attributes for group <b><?php echo $group['name']; ?></b></h2>
        <fieldset class="dashboard-title-options">
            <button id="go-back-button" class="btn" onclick="window.history.back()" aria-hidden="true" type="button">Go back</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#sizes-modal"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; Manage sizes</button>
        </fieldset><!-- End dashboard title options -->

    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="25%">Type</th>
                <th width="30%">Uk Size</th>
                <th width="20%">Us Size</th>
                <th width="20%">Europe Size</th>
            </tr>

            <?php if (isset($group['children']) && !empty($group['children'])) : ?>
                <?php foreach($group['children'] as $child): ?>
                    <tr>
                        <td><?php echo isset($child['type']) ? $child['type'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['uk']) ? $child['uk'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['us']) ? $child['us'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['eur']) ? $child['eur'] : 'N/A'; ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>

        </table>

    </div><!-- End main column -->

</div><!-- End dashboard section -->

<!-- Modal -->
<!-- Manage sizes modal -->
<?php echo $this->partial('prism-products-manager/merchant-attributes/partials/partial-merchant-sizes-manage', array ('group' => $group, 'sizes' => $sizes)); ?>
