<div class="modal fade modal-big" id="manage-barcodes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="manage-images">Manage Barcodes</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="form-group margin-top-10">
                        <input type="hidden" name="productId" value="<?php echo $this->productId; ?>" />

                        <table class="table">
                            <thead>
                                <tr>
                                    <td>SKU</td>
                                    <td>Barcode</td>
                                </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->variants as $variant) { ?>
                                <tr>
                                    <td><?php echo $variant['sku']; ?></td>
                                    <td>
                                        <?php if (empty($variant['ean13'])) { ?>
                                            <input class="form-control barcode-input" placeholder="Barcode" type="text" name="<?php echo $variant['sku'] ?>" value="" />
                                        <?php } else { ?>
                                            <?php echo $variant['ean13']; ?>
                                        <?php } ?>
                                    </td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="manage-barcode-button btn btn-primary">Save Barcodes</button>
            </div>
        </div>
    </div>
</div>
