<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <?php
        //Start the product attributes form
        echo $this->form()->openTag($addNewTaxForm);
        ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add/Edit tax</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <?php echo $this->formRow($addNewTaxForm->get('id')); ?>
            </div><!-- End form control -->
            <!--<div class="row">-->
            <div class="form-group">
                <?php echo $this->formRow($addNewTaxForm->get('tax_country')); ?>
            </div><!-- End form control -->
            <div class="form-group">
                <?php echo $this->formRow($addNewTaxForm->get('tax_type')); ?>
            </div><!-- End form control -->
            <div class="form-group">
                <?php echo $this->formRow($addNewTaxForm->get('tax_value')); ?>
            </div><!-- End form control -->
            <div class="form-group">
                <?php echo $this->formRow($addNewTaxForm->get('name')); ?>
            </div><!-- End form control -->

            <div class="form-group">
                <?php echo $this->formRow($addNewTaxForm->get('description')); ?>
            </div><!-- End form control -->

            <?php
            //echo $this->formRow($addNewTaxForm->get('name'));
            //echo $this->formRow($addNewTaxForm->get('description'));
            //echo $this->formRow($addNewTaxForm->get('variantId'));

            echo $this->formRow($addNewTaxForm->get('csrf'));
            /*
            //Output the prices form
            if (isset($currenciesPriceTypeMatrix) && count($currenciesPriceTypeMatrix) > 0) {

                foreach ($currenciesPriceTypeMatrix as $currency => $priceTypes) {

                    if (isset($currency) && trim($currency) != '' && is_array($priceTypes) && count($priceTypes) > 0) {
                        ?>
                        <div class="col-md-4 form-group">

                            <div class="price-container">

                                <h3><?php echo $currency; ?> Prices</h3>

                                <?php
                                $maxPriceTypeLength = max(array_map('strlen', $priceTypes));

                                foreach ($priceTypes as $priceTypeKey => $priceTypeValue) {

                                    if (trim($priceTypeValue) != '') {

                                        $elementName = $priceTypeKey . ucfirst(strtolower($currency));
                                        ?>

                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><?php echo str_pad($priceTypeValue, $maxPriceTypeLength); ?></span>
                                            <?php echo $this->formElement($addNewTaxForm->get($elementName)); ?>
                                        </div><!-- End form control -->
                                        <?php
                                    }
                                }
                                ?>

                            </div>
                        </div>
                        <?php
                    }
                }
            } */
            ?>
            <!--</div>-->

        </div>
        <div class="modal-footer">
            <?php
            echo $this->formElement($addNewTaxForm->get('saveNewTax'));
            //echo $this->formElement($addNewTaxForm->get('closeModal'));
            ?>
        </div>
        <?php
        //End the form
        echo $this->form()->closeTag();
        ?>
    </div>
</div>