<tr>
    <td><?php echo $this->commonAttribute->getCommonAttributeId(); ?></td>
    <td><?php echo $this->commonAttribute->getcommonAttributeDefinitions()->getDescription(); ?></td>
    <?php $attributeValues = $this->commonAttribute->getCommonAttributeValues(); ?>
    <td><?php echo !empty($attributeValues) ? $this->commonAttribute->getCommonAttributeValues()->count() : 0; ?></td>
    <td>
        <a href="<?php echo $this->url('common-attributes', array('action' => 'view-attribute', 'attributeId' => $this->commonAttribute->getCommonAttributeId())); ?>" class="btn btn-warning"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</a>
        <a href="javascript:void(0)" data-page="<?php echo $this->page; ?>" data-common-attribute-id="<?php echo $this->commonAttribute->getCommonAttributeId(); ?>" class="btn btn-primary edit-common-attribute"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a>
        <?php if ($this->commonAttribute->isEditable()) { ?>
            <a href="javascript:void(0)" data-href="<?php echo $this->url('common-attributes', array('action' => 'delete-attribute', 'attributeId' => $this->commonAttribute->getCommonAttributeId())); ?>" class="btn btn-danger delete-common-attribute"><span class="glyphicon  glyphicon-remove-circle"></span> &nbsp;Delete</a>
        <?php } ?>
    </td>
</tr>