<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="common-attribute-value-auto-from-date" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Time Period Management</h4>
            </div>

            <div class="modal-body clearfix">

                <div class="alert alert-danger auto-from-date-error" style="display:none" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Something went wrong. Please try again or contact support quoting TI-CR-01
                </div>
                <div class="alert alert-success auto-from-date-success" style="display:none" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    Values have been updated
                </div>

                <input type="hidden" name="common-attribute-value-id-for-auto-from-date" value="<?php echo $this->commonAttributeValueId; ?>" />
                <div class="form-group">
                    <label for="startDate" class="control-label">From Date</label>
                    <div class="input-group date publish-date-only" data-date="<?php echo date('Y-m-d'); ?>" data-date-format="yyyy-mm-dd" data-link-field="publish-date">
                        <?php
                            $date = '';
                            if (isset($this->autoFromDate['fromDate'])) {
                                $timestamp = strtotime($this->autoFromDate['fromDate']);
                                $date = date('Y-m-d', $timestamp);
                            }
                        ?>
                        <input type="text" name="fromDate" class="form-control" placeholder="From Date" value="<?php echo $date; ?>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" name="fromDateHidden" value="<?php echo $date; ?>"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary save-auto-from-date" >
                    Save
                </button>
            </div>
        </div>
    </div>
</div>