<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="value-equivalence-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Value Equivalence Management for <span class="title-equivalence"><?php echo $this->commonAttributeValueEntity->getCommonAttributeValuesDefinitions()->getValue(); ?></span>
                    <button data-open="#create-new-group" data-close="#list-groups" class="btn btn-sm btn-primary pull-right margin-right-15 change-action-button">
                        &nbsp; Create new equivalence ( group )
                    </button>
                    <button data-open="#list-groups" data-close="#create-new-group" class="btn btn-sm btn-success pull-right margin-right-15 change-action-button" style="display:none">
                        &nbsp; Manage existing equivalences ( groups )
                    </button>
                </h4>
            </div>
            <div class="modal-body clearfix">
                <section class="change-action-section" id="list-groups">
                    <?php foreach($this->equivalenceGroups as $groupId => $equivalenceGroup): ?>
                        <div class="col-xs-3 group-holder">
                            <?php if (!empty($equivalenceGroup)) { ?>
                                <?php foreach($equivalenceGroup as $equivalenceValue): ?>
                                    <div class="col-xs-12 group-element">
                                        <?php echo $equivalenceValue->getCommonAttributeValuesDefinitions()->getValue(); ?>
                                        <?php if ($equivalenceValue->getCommonAttributeValueId() == $this->commonAttributeValueEntity->getCommonAttributeValueId()) { ?>
                                            <span class="label label-success pull-right">current value</span>
                                        <?php } ?>
                                    </div>
                                <?php endforeach; ?>
                                <div class="col-xs-12 group-element">
                                    <button class="btn btn-sm btn-danger leave-group-action"
                                            data-common-attribute-value-id="<?php echo $this->commonAttributeValueEntity->getCommonAttributeValueId(); ?>"
                                            data-common-attribute-group-id="<?php echo $groupId; ?>"
                                        >
                                        &nbsp; Leave Group
                                    </button>
                                </div>
                            <?php } ?>
                        </div>
                    <?php endforeach; ?>
                    <div class="clearfix"></div>
                </section>
                <section class="change-action-section" id="create-new-group" style="display:none">
                    <div class="col-xs-3 group-holder new-group-holder">
                        <div class="col-xs-12 group-element current-attribute-value-id" data-common-attribute-value-id="<?php echo $this->commonAttributeValueEntity->getCommonAttributeValueId(); ?>">
                            <?php echo $this->commonAttributeValueEntity->getCommonAttributeValuesDefinitions()->getValue(); ?>
                            <span class="label label-success pull-right">current value</span>
                        </div>
                        <div class="col-xs-12 group-element ">
                            <button class="btn btn-sm btn-primary save-group-action" data-common-attribute-value-id="<?php echo $this->commonAttributeValueEntity->getCommonAttributeValueId(); ?>">
                                &nbsp; Save Group
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-3 group-holder">
                        <input type="text" name="search-common-attribute" placeholder="Search common attribute" class="form-control" value="">
                        <div class="search-container-common-attribute"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-xs-3 group-holder select-value-holder">
                        <input type="text" name="search-common-attribute-value" placeholder="Search common attribute value" class="form-control" value="">
                        <div class="search-container-common-attribute-values"></div>
                        <div class="clear"></div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default close-equivalence-modal" data-dismiss="modal">
                    &nbsp; Close
                </button>
            </div>
        </div>
    </div>
</div>