<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="value-chain-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Value Chaining Management for <span class="title-equivalence"><?php echo $this->commonAttributeValueEntity->getCommonAttributeValuesDefinitions()->getValue(); ?></span>
                </h4>
            </div>
            <div class="modal-body clearfix chain">
                <section>
                    <input type="hidden" name="input-chain-source" value="<?php echo $this->commonAttributeValueEntity->getCommonAttributeValueId(); ?>"/>
                    <div class="col-xs-3 group-holder">
                        <?php if (!empty($this->chainedValues)) { ?>
                            <?php foreach($this->chainedValues as $chainValues): ?>
                                <div class="col-xs-12 group-element">

                                    <?php echo $chainValues->getcommonattributeid()->getcommonAttributeDefinitions()->getDescription() . ' - ' . $chainValues->getCommonAttributeValuesDefinitions()->getValue(); ?>
                                    <span data-destination="<?php echo $chainValues->getCommonAttributeValueId() ?>" data-source="<?php echo $this->commonAttributeValueEntity->getCommonAttributeValueId(); ?>" class="label label-danger pull-right remove-chaining">Remove</span>
                                </div>
                            <?php endforeach; ?>
                        <?php } ?>
                    </div>
                    <div class="col-xs-3 group-holder">
                        <input type="text" name="search-common-attribute" placeholder="Search common attribute" class="form-control" value="">
                        <div class="search-container-common-attribute"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-xs-3 group-holder select-value-holder">
                        <input type="text" name="search-common-attribute-value" placeholder="Search common attribute value" class="form-control" value="">
                        <div class="search-container-common-attribute-values"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clearfix"></div>
                </section>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default close-equivalence-modal" data-dismiss="modal">
                    &nbsp; Close
                </button>
            </div>
        </div>
    </div>
</div>