<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="common-attribute-value-time-period" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Time Period Management</h4>
            </div>

            <div class="modal-body clearfix">

                <div class="alert alert-danger time-interval-error" style="display:none" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Something went wrong. Please try again or contact support quoting TI-CR-01
                </div>
                <div class="alert alert-success time-interval-success" style="display:none" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    Values have been updated
                </div>

                <input type="hidden" name="common-attribute-value-id-for-time-period" value="<?php echo $this->commonAttributeValueId; ?>" />
                <div class="form-group">
                    <label for="startDate" class="control-label">Start Date</label>
                    <div class="input-group date publish-date" data-date="<?php echo date('Y-m-d'); ?>T00:00:00Z" data-date-format="yyyy-mm-dd HH:ii:ss" data-link-field="publish-date">
                        <input type="text" name="startDate" class="form-control" placeholder="Start Date" value="<?php echo isset($this->timeInterval['startDate']) ? $this->timeInterval['startDate'] : '' ?>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="endDate" class="control-label">End Date</label>
                    <div class="input-group date publish-date" data-date="<?php echo date('Y-m-d'); ?>T00:00:00Z" data-date-format="yyyy-mm-dd HH:ii:ss" data-link-field="publish-date">
                        <input type="text" name="endDate" class="form-control datepicker" placeholder="Start Date" value="<?php echo isset($this->timeInterval['endDate']) ? $this->timeInterval['endDate'] : '' ?>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary save-time-period" >
                    Save
                </button>
            </div>
        </div>
    </div>
</div>