<tr
    data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>"
    class="draggable-row">
    <td class="center-align">
        <?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>
    </td>
    <td class="center-align droppable-container" data-dropped-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
        <?php if ($this->commonAttributeValue->getCommonAttributeValuesGuiRepresentation()->getIsDefault()) { ?>
            <span class="label label-success updated-label default-value-label">
                Default Value <span class="glyphicon glyphicon-remove remove-default-value" title="Remove default value" data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>"></span>
            </span>

        <?php } ?>
    </td>
    <td class="center-align">
        <?php if ($this->commonAttributeValue->getEnabled()): ?>
            <span class="change-value-status"
                  data-common-attribute-value="<?php echo $this->commonAttributeValue->getCommonAttributeValueId() ; ?>"
                  data-new-status="0"
                  data-toggle="tooltip"
                  data-original-title="Click to disable value">
                Y
            </span>
        <?php else: ?>
            <span class="change-value-status"
                  data-common-attribute-value="<?php echo $this->commonAttributeValue->getCommonAttributeValueId() ; ?>"
                  data-new-status="1"
                  data-toggle="tooltip"
                  data-original-title="Click to enable value">
                N
            </span>
        <?php endif; ?>
    </td>
    <?php if ($this->commonAttribute->getUsedForMerchantCategories()) { ?>
        <td class="center-align"><?php echo $this->commonAttributeValue->getCommonAttributeValueSkuCode(); ?></td>
    <?php } ?>
    <td class="center-align"><?php echo $this->commonAttributeValue->getcommonAttributeValuesDefinitions()->getValue(); ?></td>
    <?php if ($this->commonAttribute->isChained()) { ?>
    <td class="center-align chained-values-count-<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
        <?php echo count($this->commonAttributeValue->getcommonAttributesSourceValuesChain()); ?>
    </td>
    <?php } ?>

    <td class="center-align">
        <?php if ($this->attributeName != 'Supplier') { ?>
            <a href="/common-attributes/view-attribute/attributeId/<?php echo $this->commonAttribute->getCommonAttributeId(); ?>/set-default/<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>"  style="<?php echo $this->hasDefaultValue ? 'display:none' : ''; ?>" class="label label-success updated-label margin-right-10" data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>" >
                Set as Default
            </a>
            <?php if ($this->commonAttribute->isChained()) { ?>
                <button class="btn btn-sm btn-primary chain-common-attribute-values"  data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
                    <span class="glyphicon  glyphicon-th-list"></span> &nbsp; Chained Values
                </button>
            <?php } ?>
            <?php if ($this->commonAttribute->isPeriod()) { ?>
                <button class="btn btn-sm btn-primary time-period"  data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
                    <span class="glyphicon glyphicon glyphicon-time"></span> &nbsp; Time Period
                </button>
            <?php } ?>
            <?php if ($this->commonAttribute->isAutomaticFromDate()) { ?>
                <button class="btn btn-sm btn-primary auto-from-date"  data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
                    <span class="glyphicon glyphicon glyphicon-time"></span> &nbsp; Automatic from date
                </button>
            <?php } ?>
            <!-- Comment it for now - Value equivalence -->
            <!--        <button class="btn btn-sm btn-primary group-common-attribute-values"  data-common-attribute-value-id="--><?php //echo $this->commonAttributeValue->getCommonAttributeValueId(); ?><!--">-->
            <!--            <span class="glyphicon  glyphicon-th-list"></span> &nbsp; Value Equivalence-->
            <!--        </button>-->
            <!-- Comment it for now - Value equivalence -->
            <?php if ($this->commonAttribute->getIsSize() || $this->commonAttribute->getIsSizeProperty()) { ?>
                <button class="btn btn-sm btn-primary territory-override-common-attribute-value" data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
                    <span class="glyphicon glyphicon-th-list"></span> &nbsp; Territory Override
                </button>
            <?php } ?>
            <button class="btn btn-sm btn-warning edit-common-attribute-value" data-common-attribute-id="<?php echo $this->commonAttribute->getCommonAttributeId(); ?>" data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
                <span class="glyphicon glyphicon-edit"></span> &nbsp; Edit Value
            </button>
             <?php if (!$this->commonAttributeValue->getCommonAttributeValuesGuiRepresentation()->getIsDefault()) { ?>
            <a href="/common-attributes/delete-common-attribute-value/attributeId/<?php echo $this->commonAttribute->getCommonAttributeId(); ?>/valueId/<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-remove-circle"></span> &nbsp; Delete Value
            </a>
            <?php }?>
        <?php } else { ?>
            <?php if ($this->commonAttribute->isChained()) { ?>
                <button class="btn btn-sm btn-primary chain-common-attribute-values"  data-common-attribute-value-id="<?php echo $this->commonAttributeValue->getCommonAttributeValueId(); ?>">
                    <span class="glyphicon  glyphicon-th-list"></span> &nbsp; Chained Values
                </button>
            <?php } ?>
        <?php } ?>
    </td>
</tr>