<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="product-common-attribute-value" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <?php
                if($this->commonAttributesValuesForm->get('commonAttributeValueId')->getValue() > 0){ ?>
                    <h4 class="modal-title" id="myModalLabel">Edit Common Attribute</h4>
                 <?php } else{ ?>
                <h4 class="modal-title" id="myModalLabel">New Common Attribute</h4>
                <?php } ?>
            </div>
            <?php
            $this->commonAttributesValuesForm->setAttribute('action', $this->url ('common-attributes', array('action' => 'view-attribute', 'attributeId' => $this->commonAttributeId)));
            $this->commonAttributesValuesForm->prepare();
            echo $this->form()->openTag($this->commonAttributesValuesForm);
            ?>
            <div class="modal-body clearfix">
                <div class="form-group attribute-errors"></div>
                <?php echo $this->formRow($this->commonAttributesValuesForm->get('commonAttributeValueId')); ?>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesValuesForm->get('commonAttributeValueSkuCode')); ?>
                    <?php echo $this->formElement($this->commonAttributesValuesForm->get('commonAttributeValueSkuCode')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesValuesForm->get('commonAttributeValueSkuCode')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesValuesForm->get('commonAttributeValueAbbrev')); ?>
                    <?php echo $this->formElement($this->commonAttributesValuesForm->get('commonAttributeValueAbbrev')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesValuesForm->get('commonAttributeValueAbbrev')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesValuesForm->get('commonAttributeValueBaseSize')); ?>
                    <?php echo $this->formElement($this->commonAttributesValuesForm->get('commonAttributeValueBaseSize')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesValuesForm->get('commonAttributeValueBaseSize')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesValuesForm->get('value')); ?>
                    <?php echo $this->formElement($this->commonAttributesValuesForm->get('value')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesValuesForm->get('value')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formRow($this->commonAttributesValuesForm->get('sizePropertyCommonAttributeCount')); ?>
                </div>
                <?php
                $sizePropertyCommonAttributeCount = $this->commonAttributesValuesForm->get('sizePropertyCommonAttributeCount')->getValue();
                if($sizePropertyCommonAttributeCount > 0){ ?>
                    <div class="form-group">
                        <h4 class="modal-title" id="myModalLabel">Size Property Common Attribute</h4>
                    </div>
                    <?php
                    for ($i = 0; $i <= $sizePropertyCommonAttributeCount-1; $i++){
                    ?>
                        <div class="form-group">
                            <?php echo $this->formLabel($this->commonAttributesValuesForm->get('sizePropertyCommonAttribute_' . $i)); ?>
                            <?php echo $this->formElement($this->commonAttributesValuesForm->get('sizePropertyCommonAttribute_' . $i)); ?>
                            <?php echo $this->formElementErrors($this->commonAttributesValuesForm->get('sizePropertyCommonAttribute_' . $i)); ?>
                            <?php echo $this->formRow($this->commonAttributesValuesForm->get('sizePropertyCommonAttributeId_' . $i)); ?>
                        </div>
                    <?php } ?>
                <?php } ?>
            </div>
            <div class="modal-footer">
                <?php echo $this->formRow($this->commonAttributesValuesForm->get('csrf')); ?>
                <?php echo $this->formSubmit($this->commonAttributesValuesForm->get('submit')); ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL;?>
        </div>
    </div>
</div>