<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="product-common-attribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><label id="LabelStateCommonAttribute"><?php echo ($this->onEditState) ? 'Edit' : 'New';  ?></label> Common Attribute</h4>
            </div>
            <?php
            $this->commonAttributesForm->setAttribute('action', $this->url ('common-attributes', array('action' => 'index', 'page' => $this->page)));
            $this->commonAttributesForm->prepare();
            echo $this->form()->openTag($this->commonAttributesForm);
            ?>
            <div class="modal-body clearfix">
                <div class="form-group attribute-errors"></div>
                <?php echo $this->formRow($this->commonAttributesForm->get('commonAttributeId')); ?>
                <?php echo $this->formRow($this->commonAttributesForm->get('isEditable')); ?>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('description')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('description')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('description')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('commonAttributeType')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('commonAttributeType')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('commonAttributeType')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('mapping')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('mapping')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('mapping')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('commonAttributeDataElement')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('commonAttributeDataElement')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('commonAttributeDataElement')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('isSizeProperty')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('isSizeProperty')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('isSizeProperty')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('isTicketByDefault')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('isTicketByDefault')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('isTicketByDefault')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('usedForFiltering')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('usedForFiltering')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('usedForFiltering')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('usedForMerchantCategories')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('usedForMerchantCategories')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('usedForMerchantCategories')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('isSize')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('isSize')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('isSize')); ?>
                </div>
                <div class="form-group" id="divCommonAttributeSizeProperty">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('commonAttributeSizeProperty')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('commonAttributeSizeProperty')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('commonAttributeSizeProperty')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('chained')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('chained')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('chained')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('period')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('period')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('period')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('autoFromDate')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('autoFromDate')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('autoFromDate')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('keepHistory')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('keepHistory')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('keepHistory')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($this->commonAttributesForm->get('EditableOnLevel')); ?>
                    <?php echo $this->formElement($this->commonAttributesForm->get('EditableOnLevel')); ?>
                    <?php echo $this->formElementErrors($this->commonAttributesForm->get('EditableOnLevel')); ?>
                </div>
                <?php echo $this->formRow($this->commonAttributesForm->get('csrf')); ?>
            </div>
            <div class="modal-footer">
                <?=$this->formSubmit($this->commonAttributesForm->get('submit')); ?>
            </div>
            <?=$this->form()->closeTag() . PHP_EOL;?>
        </div>
    </div>
</div>
