<!-- Modal -->
<!-- Territory Override Modal -->
<div class="modal fade" id="territory-override-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="territory-override-modal-label">Size territory override</h4>
            </div>
            <?php
            $this->territoryOverrideForm->setAttribute('action', $this->url ('common-attributes', array('action' => 'saveTerritoryOverrides')));
            $this->territoryOverrideForm->prepare();
            echo $this->form()->openTag($this->territoryOverrideForm);
            ?>
            <div class="modal-body clearfix">
                <div class="form-group attribute-errors"></div>

                <?php foreach ($this->territories as $territory) { ?>
                    <?php if ($territory['territoryId'] != $this->commonAttributeValueEntity->getTerritoryId()) { ?>
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <?php echo $this->formLabel($this->territoryOverrideForm->get('skuCode['.$territory['territoryId'].']')); ?>
                                <?php echo $this->formElement($this->territoryOverrideForm->get('skuCode['.$territory['territoryId'].']')); ?>
                                <?php echo $this->formElementErrors($this->territoryOverrideForm->get('skuCode['.$territory['territoryId'].']')); ?>
                            </div>
                            <div class="col-xs-6 form-group">
                                <?php echo $this->formLabel($this->territoryOverrideForm->get('value['.$territory['territoryId'].']')); ?>
                                <?php echo $this->formElement($this->territoryOverrideForm->get('value['.$territory['territoryId'].']')); ?>
                                <?php echo $this->formElementErrors($this->territoryOverrideForm->get('value['.$territory['territoryId'].']')); ?>
                            </div>
                        </div>
                    <?php } ?>
                <?php } ?>
                <?php echo $this->formRow($this->territoryOverrideForm->get('csrf')); ?>
                <?php echo $this->formRow($this->territoryOverrideForm->get('commonAttributeValueId')); ?>
            </div>
            <div class="modal-footer">
                <?php echo $this->formSubmit($this->territoryOverrideForm->get('submit')); ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL;?>
        </div>
    </div>
</div>