<article class="small-9">
    <p>
        Detect mutiple Spectrum Id for:<br />
        SKU:  <?php echo $this->productStyle; ?><br />
        PIM Id: <?php echo $this->productId; ?><br />
        Spectrum Id: <?php echo $this->spectrumId; ?><br />
        Existing Id:
        <?php
        foreach ($this->ExistingSpectrumIds as $id){
            echo $id,
        }
        ?>
    </p>
    <br/>
</article>