
<div class="col-md-1"></div>
<div class="col-md-10">
    <fieldset>
        <legend>Search</legend>
        <?php
        $form->prepare();

        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('keyword'));
        echo $this->formRow($form->get('process_type'));
        echo $this->formRow($form->get('status'));
        echo $this->formRow($form->get('new-search'));
        echo $this->formRow($form->get('search-button'));

        echo $this->form()->closeTag(); ?>

    </fieldset>

    <fieldset class="dashboard-title-options">
        <br />
        <a href="javascript: reload()" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh"></span> &nbsp;Reload</a>
    </fieldset><!-- End dashboard title options -->

    <div class="load-bulk-processes">
        <?php
        echo $this->partial('prism-products-manager/bulk-processes/partial-bulk-process', [
            'list' => $this->list,
            'process_type' => $this->process_type,
            'page' => $this->page,
            'status' => $this->status,
            'keyword' => $this->keyword,
            'perPageGet' => $this->perPageGet,
            'count' => $this->count
        ]);
        ?>
    </div>
</div>

<div class="col-md-1"></div>
<script type="text/javascript">
var base_url = '<?php echo $this->basePath(); ?>';
var process_type = '<?php echo $this->process_type; ?>';
var page = '<?php echo $this->page; ?>';
var status = '<?php echo $this->status; ?>';

function reload() {
    $.ajax({
        url: base_url + '/bulk-processes/reload-bulk-process/page/'+page+'?process_type='+process_type+'&status='+status
    })
    .done(function (response) {
        $(".load-bulk-processes").html(response);
    })
}
</script>