<div class="dashboard-title clearfix">

    <h2>Bulk Processes</h2>

</div><!-- End dashboard header -->

<div class="dashboard-content-area">

    <table class="table valign-td" style="display: block; width: 100%;">
        <tbody>
        <tr>
            <th> process type</th>
            <th> original file name</th>
            <!--  <th> changed file name </th> -->
            <th> style Or Option</th>
            <th> processing</th>
            <th> processed</th>
            <th> Schedule</th>
            <th> Processed response</th>
            <th> Process key</th>
            <th> Process value</th>
            <th> Submitted by</th>
            <th> Created</th>
        </tr>
        <?php foreach ($this->list as $row) { ?>
            <tr>
                <td>
                    <?php echo $row->getProcessType(); ?>
                </td>

                <td>
                    <?php echo $row->getOrginalFileName(); ?>
                </td>
                <!--
            <td>
                <?php echo $row->getChangedFileName(); ?>
            </td> -->

                <td>
                    <?php echo $row->getStyleOrOption(); ?>
                </td>

                <td>
                    <?php echo $row->getProcessing(); ?>
                </td>

                <td>
                    <?php echo $row->getProcessed(); ?>
                </td>

                <td>
                    <?php echo $this->showDate($row->getSchedule()->format('Y-m-d H:i:s')); ?>
                </td>

                <td>
                    <?php echo $row->getProcessedResponse(); ?>
                </td>

                <td>
                    <?php echo $row->getProcessKey(); ?>
                </td>

                <td>
                    <?php echo $row->getProcessValue(); ?>
                </td>

                <td>
                    <?php echo $row->getSubmittedBy(); ?>
                </td>

                <td>
                    <?php echo $this->showDate($row->getCreated()->format('Y-m-d H:i:s'), 'Y-m-d'); ?><br>
                    <?php echo $this->showDate($row->getCreated()->format('Y-m-d H:i:s'), 'H:i:s'); ?>
                </td>

            </tr>
        <?php } ?>
        </tbody>
    </table>
    <div class="paging" style="margin-bottom:100px">
        <?php
        // add at the end of the file after the table

        echo $this->paginationHelper(
            $this->list,
            $this->page,
            '/bulk-processes/',
            $this->perPageGet,
            [
                'perPageGet' => !empty($this->perPageGet) ? $this->perPageGet : 100 ,
                'keyword' => !empty($this->keyword) ? $this->keyword : '',
                'process_type' => !empty($this->process_type) ? $this->process_type : '',
                'status' => !empty($this->status) ? $this->status : '',
                'search-button' => 'Search'
            ],
            !empty($this->count) ? $this->count : 0
        );

        ?>
    </div>
</div><!-- End dashboard content area -->