<div class="modal fade modal-big" id="manage-images-for-options" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="manage-images">Manage Images</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    Select options to manage images for. You will not be able to manage images for multiple options if they have different images or a different order.
                    <div class="form-group margin-top-10">
                        <input type="hidden" name="productId" value="<?php echo $this->productId; ?>" />
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Option Code</td>
                                    <td>Manage Images</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($this->options as $optionCode => $data) { ?>
                                    <tr>
                                        <td><?php echo $optionCode; ?></td>
                                        <td><input class="image-management" type="checkbox" name="<?php echo $optionCode; ?>" data-string="<?php echo $data['variantString'] ?>" data-url="<?php echo $data['url'] ?>"></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="manage-images-button btn btn-primary">Manage Images</button>
            </div>
        </div>
    </div>
</div>
