<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <h2>Manage Merchant Product Groups</h2>

        <fieldset class="dashboard-title-options">
            <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array ('searchForm' => $searchForm)); ?>
            <button id="new-merchant-category" class="btn btn-success pull-right" data-toggle="modal" data-backdrop="static" data-target="#product-merchant-category"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New merchant product group</button>
        </fieldset><!-- End dashboard title options -->

    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">

        <table class="table table-responsive valign-td">
            <tr>
                <th width="5%">
                    <?php if(!$this->orderby || ($this->orderby == 'productMerchantCategoryId' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'productMerchantCategoryId', 'orderbyoption' => 'desc')); ?>" >Id<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'productMerchantCategoryId', 'orderbyoption' => 'asc')); ?>" >Id<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="20%">
                    <?php if(!$this->orderby || ($this->orderby == 'categoryName' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'categoryName', 'orderbyoption' => 'desc')); ?>" >Name<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'categoryName', 'orderbyoption' => 'asc')); ?>" >Name<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th>
                    <?php if(!$this->orderby || ($this->orderby == 'shortDescription' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'shortDescription', 'orderbyoption' => 'desc')); ?>" >Short Description<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'shortDescription', 'orderbyoption' => 'asc')); ?>" >Short Description<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th>
                    <?php if(!$this->orderby || ($this->orderby == 'modified' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'modified', 'orderbyoption' => 'desc')); ?>" >Date Modified<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'modified', 'orderbyoption' => 'asc')); ?>" >Date Modified<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="5%">
                    <?php if(!$this->orderby || ($this->orderby == 'status' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'status', 'orderbyoption' => 'desc')); ?>" >Active<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-categories', array('action' => 'index', 'orderby' => 'status', 'orderbyoption' => 'asc')); ?>" >Active<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="20%"></th>
            </tr>
            <?php
                if (!empty($paginator)) {
                    foreach ( $paginator as $category ) {
                        echo $this->partial('prism-products-manager/merchant-categories/partials/partial-groups', array ('category' => $category, 'level' => 0));
                    }
                }
            ?>
        </table>
        <!-- Pagination -->
        <?php echo $this->paginationControl($this->paginator, 'Sliding', $this->makePagination(), array('route' => $this->route)); ?>
    </div><!-- End dashboard section -->

    <!-- Modal -->
    <!--New / edit merchant category form -->
    <?php echo $this->partial('prism-products-manager/merchant-categories/partials/partial-add-new-merchant-category-form', array ('addMerchantCategoryForm' => $addMerchantCategoryForm, 'valid' => $valid)); ?>

</div>
