<?php
if (isset($this->productDetails['marketingCategories']) && is_array($this->productDetails['marketingCategories']) && count($this->productDetails['marketingCategories']) > 0) {

    $defaultMarketingCategory = isset($this->productDetails['defaultMarketingCategory']) ?
            $this->productDetails['defaultMarketingCategory'] : 0;
    ?>
    <ul class="tag-list">
        <?php
        foreach ($this->productDetails['marketingCategories'] as $categoryId => $marketingCategory) {
            $defaultTooltip = '';
            if ($defaultMarketingCategory > 0 && $defaultMarketingCategory == $categoryId) {
                $defaultTooltip = ' class="glyphicon glyphicon-ok moreInfo cursor-pointer text-success" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Default category" data-html="true" data-trigger="hover" data-original-title=""';
            }
            ?>
            <li><?php echo $marketingCategory; ?> 
                <span <?php echo $defaultTooltip; ?>></span></li>
            <?php
        }
        ?>
    </ul>
    <?php
} else {
    ?>
    No marketing category has been selected for this product
    <?php
}
