<?php
$websitesSelected = $productDetails['websites'];

$showCurrencies = array();
if (count($websitesSelected) > 0) {
    foreach ($websitesSelected as $websiteId) {
        $showCurrencies[] = $currencyConfig[$websiteId];
    }
}

if (isset($currenciesPriceTypeMatrix) && count($currenciesPriceTypeMatrix) > 0) {
    foreach ($currenciesPriceTypeMatrix as $currency => $priceTypes) {
        if (isset($currency) && trim($currency) != '' && is_array($priceTypes) && count($priceTypes) > 0) {
            if (count($showCurrencies) > 0 && in_array($currency, $showCurrencies)) {
                ?>
                <div class="col-md-4 form-group">
                    <div class="price-container">
                        <h3><?php echo $currency; ?> Prices</h3>
                        <?php
                        foreach ($priceTypes as $priceTypeKey => $priceTypeVal) {
                            $priceTypeValue = $priceTypeVal['name']; 
                            $priceTypeHoverText = $priceTypeVal['hoverText']; 
                            if (trim($priceTypeValue) != '') {
                                $elementName = $priceTypeKey . ucfirst(strtolower($currency));
                                ?>
                                <div class="form-group input-group">
                                    <span class="input-group-addon moreInfo" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<?php echo $priceTypeHoverText; ?>" data-trigger="hover" data-html="true" data-original-title="" title=""><?php echo $priceTypeValue; ?></span>
                                    <input type="text" class="form-control" value="<?php echo $productDetails[$elementName]; ?>" readonly="readonly">
                                </div><!-- End form control -->
                            <?php
                            }
                        }
                        ?>
                    </div>
                </div>
                <?php
            }
        }
    }
}

echo $this->partial('prism-products-manager/products/partials/view/modal/partial-add-tax-form-view', array('productTaxTerritoriesArray' => $productTaxTerritoriesArray));
    