<?php
if (count($dynamicallyGeneratedAttributes) > 0) {
    $position = 0; 
    foreach ($dynamicallyGeneratedAttributes as $attributeType => $attributeArray) {
        if (isset($attributeType) && trim($attributeType) != '' && isset($attributeArray) && count($attributeArray) > 0) {

            if ($attributeType == 'new') {
                
            } else {
                ?>
                <h4><?php echo ucfirst($attributeType); ?> Attributes</h4>
                <div class="row">
                    <?php
                    foreach ($attributeArray as $key => $attributeDetails) {
                        if (isset($productDetails['attributes'][$attributeDetails['name']])) {
                            $attributValue = $productDetails['attributes'][$attributeDetails['name']];
                            if (strtolower($attributeDetails['viewAs']) == 'checkbox') {
                                $attributValue = $productDetails['attributes'][$attributeDetails['name']] == 1 ? 'True' : 'False';
                            }
                            ?>
                            <div class="col-md-3 form-group">
                                <label><?php echo $attributeDetails['publicName']; ?>:</label> <?php echo $attributValue; ?>
                            </div>
                            <?php
                        }
                    }
                    ?>
                </div><hr>
                <div class="clearfix"></div>
                <?php
            }
        }
        $position++;
    }
    ?>
    <?php
} 
