<table class="table table-hover vertical-align-none">
    <thead>
        <tr>
            <th>Image</th>
            <th>Colour</th>
            <th>Size</th>
            <th>Sku</th>
            <th>Barcode</th>
            <th>Active</th>
            <th>Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        if (isset($allSavedVariants) && is_array($allSavedVariants) && isset($allSavedVariants['dataCount']) && $allSavedVariants['dataCount'] > 0) {
            if (isset($allSavedVariants['data']) && $allSavedVariants['data']) {
                foreach ($allSavedVariants['data'] as $key => $variantData) {
                    ?>
                    <tr>
                        <td><img src="<?php echo $this->productImageHelper($productId, $variantData['productAttributeId'] , 'default', 'product-listing'); ?>"></td>      
                        <td><?php echo isset($variantData['skuRule1']) ? $variantData['skuRule1'] : ''; ?></td>
                        <td><?php echo isset($variantData['skuRule2']) ? $variantData['skuRule2'] : ''; ?></td>
                        <td><?php echo $variantData['sku']; ?></td>
                        <td>
                            <?php echo $variantData['ean13']; ?>
                        </td>
                        <td>
                            <?php
                            echo $variantData['status'];
                            ?>
                        </td>
                        <td><?php echo $variantData['modified']; ?></td>
                        <td>
                            <fieldset class="crud-buttons">
                                <div class="dropdown">
                                    <button data-toggle="dropdown" id="dropdownMenu1" class="btn btn-default">
                                        <span class="glyphicon glyphicon-align-justify"></span> &nbsp;Options
                                    </button>
                                    <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                                        <li role="presentation">
                                            <a href="#" data-toggle="modal" data-view-only="1" data-product-id="<?php echo $productId; ?>"
                                               data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                               class="change-variant-prices" tabindex="-1" role="menuitem">
                                                <span class="glyphicon glyphicon-edit"></span> View Price
                                            </a>
                                            <!-- view images button -->
                                            <!--<a href="#" data-toggle="modal" data-target="#view-images" tabindex="-1" role="menuitem">
                                                <span class="glyphicon glyphicon-wrench"></span> Manage Images Pop-Up
                                            </a>-->
                                            <a href="/media/product/<?= $productId ?>/<?= $variantData['productAttributeId'] ?>" id="view-images-<?= $variantData['productAttributeId'] ?>">
                                                <span class="glyphicon glyphicon-wrench"></span> View Images Screen
                                            </a>
                                            <!-- end view images button -->
                                            <a href="#" data-toggle="modal" data-view-only="1" data-product-id="<?php echo $productId; ?>"
                                               data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                               class="change-variant-attributes" tabindex="-1" role="menuitem">
                                                <span class="glyphicon glyphicon-edit"></span> View Attributes
                                            </a>
                                            <a href="#" data-toggle="modal" data-view-only="1" data-product-id="<?php echo $productId; ?>"
                                               data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                               class="change-variant-tax" tabindex="-1" role="menuitem">
                                                <span class="glyphicon glyphicon-edit"></span> View Tax
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <?php
                }
            }
        } else {
            ?>
            <tr>
                <td colspan="4">This product does not have variants.</td>
            </tr>
            <?php
        }
        ?>
    </tbody>
</table>