<?php
//Start the product attributes form
echo $this->form()->openTag($productPricesSelectForm);
?>
<div class="row">
    <h4 class="margin-left">Variants: 
        <?php
        foreach ($skuList as $key => $sku) {
            echo '<strong>' . $sku . '</strong>';
            if ($key != count($skuList) - 1) {
                echo ', ';
            }
        }
        ?>
    </h4>
</div>
<div class="row">
    <?php
    $position = 0;
    //Output the prices form
    $usedCurrencies = array();
    if (isset($currenciesPriceTypeMatrix) && count($currenciesPriceTypeMatrix) > 0) {
        foreach ($currenciesPriceTypeMatrix as $currency => $priceTypes) {
            if (isset($currency) && trim($currency) != '' && is_array($priceTypes) && count($priceTypes) > 0) {
                foreach ($priceTypes as $priceTypeKey => $priceTypeValue) {
                    $elementName = $priceTypeKey . ucfirst(strtolower($currency));
                    if ($productPricesSelectForm->has($elementName)) {
                        $usedCurrencies[] = $currency;
                        break;
                    }
                }
            }
        }
        foreach ($currenciesPriceTypeMatrix as $currency => $priceTypes) {
            if (in_array($currency, $usedCurrencies)) {
                ?>
                <div class="col-md-4 form-group variant-price-container" id="variant-price-container-<?php echo $currency; ?>">
                    <div class="price-container">
                        <h3><?php echo $currency; ?> Prices</h3>
                        <?php
                        foreach ($priceTypes as $priceTypeKey => $priceTypeVal) {
                            $elementName = $priceTypeKey . ucfirst(strtolower($currency));
                            $priceTypeValue = $priceTypeVal['name']; 
                            $priceTypeHoverText = $priceTypeVal['hoverText'];
                            ?>
                            <div><?php echo $this->formElementErrors($productPricesSelectForm->get($elementName)); ?></div>
                            <div class="form-group input-group">
                                <span class="input-group-addon moreInfo" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<?php echo $priceTypeHoverText; ?>" data-trigger="hover" data-html="true" data-original-title="" title="<?php echo $priceTypeHoverText; ?>"><?php echo $priceTypeValue; ?></span>
                                <?php
                                $productPricesSelectForm->get($elementName)->setAttribute('readonly', 'readonly');
                                echo $this->formElement($productPricesSelectForm->get($elementName));
                                ?>
                            </div><!-- End form control -->
                            <?php
                        }
                        ?>
                    </div>
                </div>
                <?php
            }
        }
    }
    ?>
</div>
<div class="row margin-right">
    <div><?= $this->formRow($productPricesSelectForm->get('closeModal')); ?></div>
</div>
<?php
//End the form
echo $this->form()->closeTag();
?>


