<?php
$productChannels = array_unique($this->productDetails['channels']);
    $channelString = '';
    $activeChannelsArray = array();
    if (count($productChannels) > 0) {
        foreach ($productChannels as $key => $channelId) {
            if (isset($channels[$channelId])) {
                $activeChannelsArray[] = $channels[$channelId];
            }
        }
        if (count($activeChannelsArray) > 0) {
            $channelString = implode(', ', $activeChannelsArray);
        }
    }
$productWebsites = array_unique($this->productDetails['websites']);
    $websiteString = '';
    $activeWebsitesArray = array();
    if (count($productWebsites) > 0) {
        foreach ($productWebsites as $key => $websiteId) {
            if (isset($websites[$websiteId])) {
                $activeWebsitesArray[] = $websites[$websiteId];
            }
        }
        if (count($activeWebsitesArray) > 0) {
            $websiteString = implode(', ', $activeWebsitesArray);
        }
    }
?>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Product ID:</label> <?php echo $this->productId; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Short Product Name:</label> <?php echo isset($this->productDetails['shortProductName']) ? $this->productDetails['shortProductName'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-8 form-group">
        <label>Full Product Name:</label> <?php echo isset($this->productDetails['productName']) ? $this->productDetails['productName'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Version ID:</label> <?php echo isset($this->productDetails['versionId']) ? $this->productDetails['versionId'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-8 form-group">
        <label>Version Description:</label> <?php echo isset($this->productDetails['versionDescription']) ? $this->productDetails['versionDescription'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Created:</label> <?php echo isset($this->productDetails['created']) ? $this->productDetails['created'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Modified:</label> <?php echo isset($this->productDetails['modified']) ? $this->productDetails['modified'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Status:</label> <?php echo isset($this->productDetails['status']) ? $this->productDetails['status'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Product Type:</label> <?php echo isset($this->productDetails['productTypeName']) ? $this->productDetails['productTypeName'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Merchant Category:</label> <?php echo !empty($merchantCategoryName) ? $merchantCategoryName : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Sku:</label> <?php echo isset($this->productDetails['sku']) ? $this->productDetails['sku'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Style:</label> <?php echo isset($this->productDetails['style']) ? $this->productDetails['style'] : ''; ?>
    </div><!-- End form group -->

    <div class="col-md-4 form-group">
        <label>Barcode:</label> <?php echo isset($this->productDetails['ean13']) ? $this->productDetails['ean13'] : ''; ?>
    </div>

    <div class="col-md-4 form-group">
        <label>Supplier Product Code:</label> <?php echo isset($this->productDetails['supplierReference']) ? $this->productDetails['supplierReference'] : ''; ?>
    </div>

    <div class="col-md-4 form-group">
        <label>Channels:</label> <?php echo $channelString; ?>
    </div>

    <div class="col-md-4 form-group">
        <label>Websites:</label> <?php echo $websiteString; ?>
    </div>

    <div class="col-md-12 form-group">
        <label>Tags:</label> <?php echo isset($this->productDetails['tags']) ? $this->productDetails['tags'] : ''; ?>
    </div>

    <div class="col-md-12 form-group">
        <label>Misspells:</label> <?php echo isset($this->productDetails['misSpells']) ? $this->productDetails['misSpells'] : ''; ?>
    </div>

    <div class="col-md-12 form-group">
        <label>URL Name:</label> <?php echo isset($this->productDetails['urlName']) ? $this->productDetails['urlName'] : ''; ?>
    </div>

    <div class="col-md-12 form-group">
        <label for="shortDescription">Short Description</label> <br>
        <?php echo isset($this->productDetails['shortDescription']) ? $this->productDetails['shortDescription'] : ''; ?>
    </div>

    <div class="col-md-12 form-group">
        <label for="fulldescription">Full Description</label> <br>
        <?php echo isset($this->productDetails['longDescription']) ? $this->productDetails['longDescription'] : ''; ?>
    </div>
    <?php if(!empty($this->productDetails['productSupplierPrice'])) :?>
    <div class="col-md-12 form-group">
        <label for="fulldescription">Supplier Cost</label> <br>
        <?php echo $this->productDetails['productSupplierPrice']['price'] . ' ' . $this->productDetails['productSupplierPrice']['currencyCode'];  ?>
    </div>
    <?php  endif; ?>

    <div class="col-md-12 form-group">
        <label for="fulldescription">Care Information</label> <br>
        <?php echo isset($this->productDetails['careInformationString']) ? $this->productDetails['careInformationString'] : ''; ?>
    </div>
</div>