
<?php
$bulkDownloadForm->setAttribute('action', $this->url ('merchant-attributes', array('action' => 'bulk')));
$bulkDownloadForm->prepare();
?>

    <div class="form-group">
        <?php echo $this->form()->openTag($bulkDownloadForm) . PHP_EOL; ?>
    </div>

    <div class="form-group">
        <label class="control-label" for="attributeInternalName">Merchant Attribute Group *</label>
        <?php echo $this->formRow($bulkDownloadForm->get('downloadType')) . PHP_EOL; ?>
    </div>
    <?php echo $this->formRow($bulkDownloadForm->get('csrf')) . PHP_EOL; ?>

    <?php echo $this->formSubmit($bulkDownloadForm->get('submit')) . PHP_EOL; ?>
<?php echo $this->form()->closeTag() . PHP_EOL; ?>
