<div class="modal fade" id="bulk-errors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-bulk-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bulk Colours Upload Errors</h4>
            </div>

            <div class="modal-body">
                <table class="table valign-td">
                    <tr>
                        <th>Record Number</th>
                        <th>Merchant Attribute Group Name</th>
                        <th>Merchant Attribute Group Code</th>
                        <th>Colour Group Name</th>
                        <th>Colour Group Code</th>
                        <th>Colour Group Hex</th>
                        <th>Colour Group Has Image</th>
                        <th>Colour Name</th>
                        <th>Colour Code</th>
                        <th>Colour hex</th>
                        <th>Language</th>
                        <th>Enable</th>
                    </tr>
                    <?php foreach ($bulkErrors as $key => $error): ?>
                    <tr>
                        <td><?php echo $error['A']; ?></td>
                        <td><?php echo $error['B']; ?></td>
                        <td><?php echo $error['C']; ?></td>
                        <td><?php echo $error['D']; ?></td>
                        <td><?php echo $error['E']; ?></td>
                        <td><?php echo $error['F']; ?></td>
                        <td><?php echo $error['G']; ?></td>
                        <td><?php echo $error['H']; ?></td>
                        <td><?php echo $error['I']; ?></td>
                        <td><?php echo $error['J']; ?></td>
                        <td><?php echo $error['K']; ?></td>
                        <td><?php echo $error['L']; ?></td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <?php
                            if (isset($error['error'])) {
                                foreach ($error['error'] as $er) {
                                    echo '<div class="alert alert-error">';
                                    echo '<a class="close" data-dismiss="alert">×</a>';
                                    echo $er.'<br>';
                                    echo '</div>';
                                }
                            }
                            if (isset($error['warning'])) {
                                foreach ($error['warning'] as $warning) {
                                    echo '<div class="alert alert-warning">';
                                    echo '<a class="close" data-dismiss="alert">×</a>';
                                    echo $warning.'<br>';
                                    echo '</div>';
                                }
                            }
                            ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>