<?php
$bulkUploadForm->setAttribute('action', $this->url ('merchant-attributes', array('action' => 'bulk')));
$bulkUploadForm->prepare();
?>
<div class="form-group">
    <?php echo $this->form()->openTag($bulkUploadForm) . PHP_EOL; ?>
</div>
<div class="form-group">
    <label class="control-label" for="attributeInternalName">Merchant Attribute Group *</label>
    <?php echo $this->formRow($bulkUploadForm->get('downloadType')) . PHP_EOL; ?>
</div>
<div class="form-group">
    <?php echo $this->formRow($bulkUploadForm->get('feedAttachment')) . PHP_EOL; ?>
    <button data-toggle="modal"  class="btn btn-default browse-file-bulk"><span class="glyphicon glyphicon-file"></span> &nbsp; Browse</button>
    <input type="text" name="browse-file-bulk-text" disabled="disabled" class="btn btn-default btn-file">
</div>

<?php echo $this->formRow($bulkUploadForm->get('csrf')) . PHP_EOL; ?>
<?php echo $this->formSubmit($bulkUploadForm->get('submit')) . PHP_EOL; ?>
<?php echo $this->form()->closeTag() . PHP_EOL; ?>
