<table class="table valign-td">
    <tr>
        <th width="3%">ID</th>
        <th width="5%">Image</th>
        <th width="25%">
            <?php if(!$this->orderby || ($this->orderby == 'productName' && $this->orderbyOption == 'asc')): ?>
                <a href="<?php echo $this->url('products_index', array('action' => 'index', 'orderby' => 'productName', 'orderbyoption' => 'desc')); ?>" >Name<span class="caret"></span></a>
            <?php else: ?>
                <a href="<?php echo $this->url('products_index', array('action' => 'index', 'orderby' => 'productName', 'orderbyoption' => 'asc')); ?>" >Name<span class="caret caret-reversed"></span></a>
            <?php endif; ?>
        </th>
        <th width="5%">Style</th>
        <th width="8%">Type</th>
        <th width="5%">Variants</th>
        <th width="5%">
            <?php if(!$this->orderby || ($this->orderby == 'status' && $this->orderbyOption == 'asc')): ?>
                <a href="<?php echo $this->url('products_index', array('action' => 'index', 'orderby' => 'status', 'orderbyoption' => 'desc')); ?>" >Status<span class="caret"></span></a>
            <?php else: ?>
                <a href="<?php echo $this->url('products_index', array('action' => 'index', 'orderby' => 'status', 'orderbyoption' => 'asc')); ?>" >Status<span class="caret caret-reversed"></span></a>
            <?php endif; ?>
        </th>
        <th></th>
    </tr>
    <?php
    if (count($productList) > 0) {
        foreach ($productList as $productKey => $productDetails) {
            if (isset($productDetails['productId']) && $productDetails['productId'] > 0 && isset($productDetails['productName']) && trim($productDetails['productName']) != '') {
                $productId = $productDetails['productId'];
                $productName = $productDetails['productName'];
                $style = isset($productDetails['style']) ? $productDetails['style'] : '';
                $productType = isset($productDetails['productType']) ? $productDetails['productType'] : '';
                $status = isset($productDetails['status']) ? $productDetails['status'] : '';
                $variantCount = isset($productDetails['variantCount']) ? $productDetails['variantCount'] : 0;
                ?>

                <tr data-id="<?php echo $productId; ?>">
                    <td><?php echo $productId; ?></td>
                    <td><img width="40" height="auto" src="<?php echo $this->productImageHelper($productId); ?>"></td>
                    <td><?php echo $productName; ?></td>
                    <td><?php echo $style; ?></td>
                    <td><?php echo $productType; ?></td>
                    <td><?php echo $variantCount; ?></td>
                    <td><?php echo $status; ?></td>
                    <td>
                        <fieldset class="crud-buttons">
                            <a href="/products/view/<?php echo $productId; ?>" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</a>
                            <a href="/products/edit/<?php echo $productId ?>" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a>
<!--                            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                            <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</button>
                            <button class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>-->
                            <a href="/products/delete/<?php echo $productId; ?>" class="product-delete btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</a>
                        </fieldset>
                    </td>
                </tr>
            <?php
            }
        }
    }
    ?>
</table>