<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add new colour/colour group</h4>
            </div>
            <div class="modal-body">

                <form role="form">

                    <div>
                        <label>Colour Theme</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios2" id="optionsRadios3" value="option2" checked="checked">
                            Select from existing
                        </label>
                        <select id="colour-theme" name="colourTheme" class="selectize selectized" tabindex="-1" style="display: none;">
                            <option value="0">Spring-Summer Colours</option>
                            <option value="1">Summer-Autum Colours</option>
                            <option value="2">Autum-Winter Colours</option>
                            <option value="3">Winter-Spring Colours</option>
                        </select>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios2" id="optionsRadios4" value="option3">
                            Add new colour theme
                        </label>
                        <input class="form-control" name="colourName" id="colour-name" placeholder="New Colour Theme Name">
                    </div>

                    <div>
                        <label>Colour Group</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="checked">
                            Select from existing
                        </label>
                        <select id="colour-group" name="colourGroup" class="selectize selectized" tabindex="-1" style="display: none;">
                            <option value="0">Red</option>
                            <option value="1">Blue</option>
                            <option value="2">Green</option>
                            <option value="3">White</option>
                        </select>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                            Add new colour group
                        </label>
                        <input class="form-control" name="colourName" id="colour-name" placeholder="New Colour Group Name">
                    </div>

                    <div class="form-group">
                        <label for="colour-name">Colour Name</label>
                        <input class="form-control" name="colourName" id="colour-name" placeholder="Colour Name">
                    </div><!-- End form group -->

                    <div class="row">

                        <div class="col-md-6 form-group">
                            <label for="hex-code">Hex Code</label>
                            <input class="form-control" name="hex" id="hex-code" placeholder="Hex Code">
                        </div><!-- End form group -->

                        <div class="col-md-6 form-group">
                            <label for="colour-code">Colour Code</label>
                            <input class="form-control" name="colourCode" id="colour-code" placeholder="Colour Code">
                        </div><!-- End form group -->

                    </div>

                    <div class="form-group">
                        <label for="swatch-url">Swatch URL</label>
                        <input class="form-control" name="swatchUrl" id="swatch-url" placeholder="Swatch Url">
                    </div><!-- End form group -->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>