<?php
switch ($mainProduct) {
    case true:
        $taxManagerId = 'tax-manager';
        $addSectionId = 'add-new-tax-section';
        $addButtonId = 'add-new-tax-button';
        $taxTableContainerId = 'tax-table-container';
        $removeTaxClass = 'remove-tax';
        $taxIdsFieldId = 'tax_keep_field';
        $taxIdsFieldName = 'tax';
        $usedTaxTerritoriesId = 'used-tax-territories';
        $saveFormButton = '';
        break;
    case false:
        $taxManagerId = 'tax-manager-variant';
        $addSectionId = 'add-new-tax-section-variant';
        $addButtonId = 'add-new-tax-button-variant';
        $taxTableContainerId = 'tax-table-container-variant';
        $removeTaxClass = 'remove-tax-variant';
        $taxIdsFieldId = 'tax_keep_field_variant';
        $taxIdsFieldName = 'tax_variant';
        $usedTaxTerritoriesId = 'used-tax-territories-variant';
        $saveFormButton = '<div class="row"><a href="#" class="btn btn-success pull-right margin-right-15" id="save-variant-tax">Update Tax</a>';
        break;
}
?>
<div class="row">
    <div class="col-md-8 form-group" id="<?=$taxManagerId?>">
        <div class="price-container">
            <h3>
                Tax management
            </h3>
            <div class="row" id="<?=$addSectionId?>">
                <a href="javascript:void(0)" id="<?=$addButtonId?>" class="btn btn-primary btn-sm margin-left">Add new tax</a>
            </div>
            <table class="table valign-td">
                <thead>
                <tr>
                    <th>Territory</th>
                    <th>Tax</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="<?=$taxTableContainerId?>">
                <?php
                foreach ($productTaxTerritoriesArray as $territory => $value) {
                    ?>
                    <tr>
                        <td><?php echo $territory; ?></td>
                        <td><?php echo $value['name']; ?></td>
                        <td><a href="javascript:void(0)" class="btn btn-sm btn-danger <?=$removeTaxClass?>" data-id="<?php echo $value['taxId']; ?>" data-territory="<?php echo $territory; ?>">Remove</a></td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
            <?php
            $territories = '';
            $taxIds = '';
            foreach ($productTaxTerritoriesArray as $territory => $value) {
                $territories .= $territory.',';
                $taxIds .= $value['taxId'].',';
            }
            $territories = rtrim($territories, ',');
            $taxIds = rtrim($taxIds, ',');
            ?>
            <div id="tax-ids-container">
                <input type="hidden" id="<?=$taxIdsFieldId?>" name="<?=$taxIdsFieldName?>" value="<?php echo $taxIds; ?>" />
            </div>
            <div class="hidden" id="<?=$usedTaxTerritoriesId?>"><?php echo $territories; ?></div>
        </div>
    </div>
</div>
<?php
echo $saveFormButton;
echo '<input type="hidden" name="tax_product_id" value="'.$productId.'" />';
if ($variantIds != '') {
    echo '<input type="hidden" name="tax_variant_id" value="'.$variantIds.'" />';
}