<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Related product </h4>
        </div>
        <div class="modal-body">
            <input type="hidden" name="productId" value="<?php echo $this->productId; ?>">

            <div class="margin-bottom"><label>You are currently creating product - <i><span class="show-product-name font-normal"></span></i></label></div>

            <form id="add-related-products" role="form"></form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="button" class="btn btn-primary save-related-product" name="saveRelatedProduct" value="Save">
        </div>
    </div>
</div>