<?php
//Start the product attributes form
echo $this->form()->openTag($this->variantsBasicForm);
?>
<div class="row margin-bottom">
    <h4 class="margin-left">Variants:
        <?php
        foreach ($skuList as $key => $sku) {
            echo '<strong>'.$sku.'</strong>';
            if ($key != count($skuList)-1) {
                echo ', ';
            }
        }
        ?>
    </h4>
</div>
<div class="row">
    <?php
    echo $this->formRow($this->variantsBasicForm->get('variantIds'));
    echo $this->formRow($this->variantsBasicForm->get('productId'));
    echo $this->formRow($this->variantsBasicForm->get('csrf'));
    ?>
    <div class="row margin-bottom">
        <div class="col-md-6">
            <?php echo $this->formRow($this->variantsBasicForm->get('shortProductName')); ?>
        </div>
        <div class="col-md-6">
            <?php echo $this->formRow($this->variantsBasicForm->get('productName')); ?>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row margin-bottom">
        <div class="col-md-12">
            <?php echo $this->formRow($this->variantsBasicForm->get('shortDescription')); ?>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row margin-bottom">
        <div class="col-md-12">
            <?php echo $this->formRow($this->variantsBasicForm->get('longDescription')); ?>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row margin-bottom">
        <div class="col-md-4">
            <?php echo $this->formRow($this->variantsBasicForm->get('metaTitle')); ?>
        </div>
        <div class="col-md-4">
            <?php echo $this->formRow($this->variantsBasicForm->get('metaDescription')); ?>
        </div>
        <div class="col-md-4">
            <?php echo $this->formRow($this->variantsBasicForm->get('metaKeyword')); ?>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row margin-right">
    <div><?= $this->formRow($this->variantsBasicForm->get('submitChangeDetails')); ?></div>
    <div><?= $this->formRow($this->variantsBasicForm->get('cancelChangeDetails')); ?></div>
</div>
<?php
//End the form
echo $this->form()->closeTag();
?>


