<div class="transfer-errors" style="margin-bottom: 10px"></div>
<form action="" method="POST" name="TransferToVariants" role="form" id="transfer-to-variants-form">
    <div class="row">
        <div class="col-md-3 sku-select-product table-bordered" style="text-align: center">
            <label>From Sku ( base )</label>
            <select name="sku-select-product" id="sku-select-product">
                <?php 
                if (!empty($this->allSavedVariants['data'])):
                    foreach ($this->allSavedVariants['data'] as $variant):
                        ?>
                        <option value="<?php echo $variant['productAttributeId']; ?>">
                            <?php echo $variant['sku']; ?>
                        </option>
                        <?php
                    endforeach;
                endif;
                ?>
            </select>
        </div>
        <div class="col-md-3 sku-select-all hidden table-bordered">

        </div>
        <div class="col-md-2" style="margin-top:10px;">
            <input type="checkbox" name="select-all"/> Show all variants
        </div>
        <div class="col-md-3 table-bordered target-transfer-sku" style="text-align: center">
            <label>To Sku(s) ( target )</label><br>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 table-bordered">
            <label style="text-align: center">Data to transfer</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" class="what-to-update" data-update="images" name="transfer-images"/>Transfer Images
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" class="what-to-update" data-update="basic-details" name="transfer-basic-details"/>Transfer Basic Details
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" class="what-to-update" data-update="prices" name="transfer-prices"/>Transfer Prices
                </div>
            </div>
        </div>
    </div>
    <div class="selected-to-update-details row">
        <div class="col-md-12 images-transfer-holder"></div>
        <div class="col-md-12 basic-details-transfer-holder"></div>
        <div class="col-md-12 prices-transfer-holder"></div>
    </div>
    <div class="row margin-top-10">
        <div class="pull-right">
            <input name="submitTransferToVariants" type="submit" class="btn btn-success pull-right margin-left" value="Save">
        </div>
        <div class="pull-right" style="margin-right:5px;">
            <input name="cancelTranferToVariants" type="submit" data-dismiss="modal" class="btn btn-default pull-right" value="Cancel">
        </div>

    </div>
</form>