<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change product defaults</h4>
            </div>
            <div class="modal-body">

                <div>
                    <label>Change the defaults below</label>
                </div>

                <div class="panel-group" id="accordion">

                    <form action="/products/add" method="post">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <label>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#product-attribtes">
                                            Product Attributes <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </label>
                                </h4>
                            </div>
                            <div id="product-attribtes" class="panel-collapse in">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="enabled">
                                                    <input type="checkbox" id="enabled" name="enabled" /> Enabled
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="visible">
                                                    <input type="checkbox" id="visible" name="visible" /> Visible
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="ageI8Plus">
                                                    <input type="checkbox" id="ageI8Plus" name="ageI8Plus" /> Age I8 Plus
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="exclude-from-search">
                                                    <input type="checkbox" id="exclude-from-search" name="exclude_from_search" /> Hide from Search
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="allow-back-order">
                                                    <input type="checkbox" id="allow-back-order" name="backorder" /> Allow Back Order
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="personalisation-enabled">
                                                    <input type="checkbox" id="personalisation-enabled" name="personalisationenabled" /> Personalisation Enabled
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="member-only">
                                                    <input type="checkbox" id="member-only" name="memberonly" /> Member Only
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="expressenabled">
                                                    <input type="checkbox" id="exclude-low-stock" name="expressenabled" /> Express Enabled
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="gift-wrap-enabled">
                                                    <input type="checkbox" id="gift-wrap-enabled" name="gift_wrap_enabled" /> Gift Wrap Enabled
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="dd-non-uk">
                                                    <input type="checkbox" id="dd-non-uk" name="dd_non_uk" /> DD Non UK
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                <label for="exclude-low-stock">
                                                    <input type="checkbox" id="exclude-low-stock" name="excludelowstock" /> Exclude When Low Stock
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <label for="out-of-stock">Minimum Level</label>
                                            <input class="form-control" name="outOfStock" id="out-of-stock" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <label>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#seo-option">
                                            SEO Options <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </label>
                                </h4>
                            </div>
                            <div id="seo-option" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <fieldset class="form-group">
                                        <label for="meta-title">Seo Title</label>
                                        <input type="text" name="seoTitle" class="form-control">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="meta-description">Seo Description</label>
                                        <!--<input type="text" name="seoDescription" class="form-control">-->
                                        <textarea class="form-control"></textarea>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label for="meta-keywords">Seo Keywords</label>
                                        <input type="text" name="seoKeyword" class="form-control">
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>