<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Product images</h4>
            </div>
            <div class="modal-body">

                <form role="form">

                    <table>

                        <tr>
                            <th width="5%">ID</th>
                            <th width="30%">Image</th>
                            <th width="10%">Default</th>
                            <th width="15%">Hover Image</th>
                            <th width="8%">Enabled</th>
                            <th width="5%">Move</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/fc6d27c0.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1921</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/90aadb15.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/c7779dd1.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/b59cd27d.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/cafabcb5.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/8a7dd2e5.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/fc6d27c0.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/90aadb15.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/c7779dd1.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>1920</td>
                            <td><img src="http://www.oliversweeney.com/images/dynamic/220x141/b59cd27d.jpg" /></td>
                            <td><input type="radio" name="productImageDefault" class="text-center" /></td>
                            <td><input type="radio" name="productImageHover" /></td>
                            <td><input type="radio" name="productImageEnabled" /></td>
                            <td>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
                            </td>
                            <td>
                                <fieldset class="crud-buttons">
                                    <button class="btn btn-warning" data-toggle="modal" data-backdrop="static" data-target="#view-images">
                                        <span class="glyphicon glyphicon-edit"></span> &nbsp;Change
                                    </button>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                </fieldset>
                            </td>
                        </tr>

                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>