<?php
$variantCategories = isset($variantsMarketingCategories) && is_array($variantsMarketingCategories) && count($variantsMarketingCategories) > 0 ? $variantsMarketingCategories : array();

//if (isset($variantsMarketingCategories['categoryList']) && is_array($variantsMarketingCategories['categoryList']) && count($variantsMarketingCategories['categoryList']) > 0) {
if (count($variantCategories) > 0) {
    ?>
    <h4>This variant is currently assigned to the following marketing categories</h4>
    <ul class="tag-list" id="marketing-category-taglist">
        <?php
        $defaultMarketingCategory = isset($variantCategories['defaultCategory']) ?
                $variantCategories['defaultCategory'] : 0;
        foreach ($variantCategories['categoryList'] as $categoryId => $productCategoryNames) {
            //Ensure we have a productId and category name is not empty.
            if ($categoryId > 0 && trim($productCategoryNames) != '') {
                $productCategoryNames = str_replace(' --> ', ' &Rarr; ', $productCategoryNames);
                $removeTooltip = 'data-container="body" data-toggle="popover" data-placement="bottom" data-content="Remove this category" data-html="true" data-trigger="hover" data-original-title=""';
                $defaultTooltip = 'data-container="body" data-toggle="popover" data-placement="bottom" data-content="Set as default category" data-html="true" data-trigger="hover" data-original-title=""';
                $toolTipColor = '';
                $defaultCategoryClassName = ' set-as-default-marketing-category';
                if ($defaultMarketingCategory > 0 && $defaultMarketingCategory == $categoryId) {
                    $defaultCategoryClassName = ' fully-visible';
                    $toolTipColor = ' text-success';
                    $defaultTooltip = 'data-container="body" data-toggle="popover" data-placement="bottom" data-content="Default category" data-html="true" data-trigger="hover" data-original-title=""';
                }
                ?>
                <li id="li-<?php echo $categoryId; ?>"><?php echo $productCategoryNames; ?> &nbsp;  
                    <span category-id="<?php echo $categoryId; ?>" <?php echo $defaultTooltip; ?> class="glyphicon glyphicon-ok moreInfo cursor-pointer<?php echo $toolTipColor . $defaultCategoryClassName; ?>"></span>
                    <span category-id="<?php echo $categoryId; ?>" <?php echo $removeTooltip; ?> class="glyphicon glyphicon-remove-circle remove-marketing-category-taglist moreInfo cursor-pointer"></span>
                </li> 
                <?php
            }
        }
        ?>
    </ul>
    <?php
} else {
    ?>
    <h4>No marketing category has been setup for this variant.</h4>
    <?php
}
?>
<!--<hr>-->
<div class="clearfix"></div>
<div>
    <h4>You can assign more marketing categories to this variant by selecting below</h4>
    <hr>
</div>

<div class="clearfix"></div>

<div id="add-variant-to-marketing-category-div">
    <?php
//Start the marketing form
    echo $this->form()->openTag($marketingCategorySelectForm);
    echo $this->formRow($marketingCategorySelectForm->get('productId'));
    echo $this->formRow($marketingCategorySelectForm->get('variantId'));
    echo $this->formRow($marketingCategorySelectForm->get('saveVariantMarketingCategory'));
    echo $this->formRow($marketingCategorySelectForm->get('csrf'));
    ?>
    <div id="marketing-hidden-tag-list">    
        <?php
        //When the page loads, we need to build the categories list hidden fields if it had been selected
        if (count($variantCategories) > 0) {
            foreach ($variantCategories['categoryList'] as $productId => $productCategoryNames) {
                //Ensure we have a productId and category name is not empty.
                if ($productId > 0 && trim($productCategoryNames) != '') {
                    ?>
                    <input type="hidden" id="hidden-<?php echo $productId; ?>" name="categoryId[]" value="<?php echo $productId; ?>">
                    <?php
                }
            }
        }
        ?>
    </div>
    <div class="row">
        <div data-category-level="1" class="col-md-3 form-group">
            <?= $this->formRow($marketingCategorySelectForm->get('marketingCategory1')); ?>
        </div>
    </div>
    <div class="row"></div>

    <div class="form-group">
        <?php //echo $this->formRow($marketingCategorySelectForm->get('addSelectedCategoryForVariant')); ?>
        <?php echo $this->formRow($marketingCategorySelectForm->get('addSelectedCategory')); ?>
    </div>
    <?php
//End the form
    echo $this->form()->closeTag();
    ?>
</div>

<div class="clearfix"></div>
