<form action="" method="POST" name="relatedProductsForm" role="form" id="related-products-form">
    <div class="row margin-bottom">
        Skus selected : <span class="target-transfer-sku"></span>

    </div>
    <div class="row">
        <div class="col-md-12 sku-select-product table-bordered " style="text-align: center; padding:5px;">
            <div class="col-md-5 margin-bottom">
                <div class="col-md-8">
                    <input type="text" class="form-control search-related-product pull-left" value="" placeholder="Search" rel="3">
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-success tool-tip-button" data-toggle="tooltip" data-placement="right" title="Search is available by SKU, STYLE and product name">
                        <div class="search-normal-button">
                            Search
                        </div>
                        <div class="search-loading-button">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Searching ..
                        </div>
                        <div class="save-loading-button">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving ..
                        </div>

                    </button>
                </div>
            </div>
            <div class="related-products-search-container"></div>
            <div class="clearfix margin-bottom"></div>
        </div>

    </div>
    <div class="selected-to-update-details row">
        <div class="col-md-12 images-transfer-holder"></div>
        <div class="col-md-12 basic-details-transfer-holder"></div>
    </div>
    <div class="row margin-top-10">
        <div class="pull-right hidden">
            <input name="submitRelatedProducts" type="submit" class="btn btn-success pull-right margin-left" value="Save">
        </div>
        <div class="pull-right" style="margin-right:5px;">
            <input name="cancelTranferToVariants" type="submit" data-dismiss="modal" class="btn btn-default pull-right" value="Close">
        </div>

    </div>
</form>
