<div class="modal fade" id="new-attribute-value" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Attribute Value</h4>
            </div>

            <?php
            if (isset($id) && $id !== null) {
                $attributesAddForm->setAttribute('action', $this->url ('marketing-attributes', array('action' => 'values', 'id' => $id)));
            } else {
                $attributesAddForm->setAttribute('action', $this->url ('marketing-attributes', array('action' => 'values')));
            }
            $attributesAddForm->prepare();
            ?>
            <div class="modal-body">

                <div class="form-group attribute-errors"></div>

                <div class="form-group">
                    <?php echo $this->form()->openTag($attributesAddForm) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($attributesAddForm->get('attributeGroupId')) . PHP_EOL; ?>
                <?php echo $this->formRow($attributesAddForm->get('attributeValueId')) . PHP_EOL; ?>
                <div class="form-group">
                    <label class="control-label" for="attributeInternalName">Attribute Value *</label>
                    <?php echo $this->formRow($attributesAddForm->get('attributeValue')) . PHP_EOL; ?>
                </div>

                <?php echo $this->formRow($attributesAddForm->get('csrf')) . PHP_EOL; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit($attributesAddForm->get('submit')) . PHP_EOL; ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL; ?>
        </div>
    </div>
</div>