<?php $groupTmp = $group; unset($groupTmp['children']); ?>
<tr>
    <td>
        <?php
            for($i=0;$i<$level;$i++){
                if($i == $level-1) {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>';
                } else {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                }

            }
        ?>
        <?php echo $group['groupParentId'] == '0' ? '<b>'. $group['name'] . '</b>' : $group['name']; ?>
    </td>
    <td><?php echo ($group['groupParentId'] == '0' && $group['groupType'] == 'Merchant') ? 'Root Group' : $group['attributesCount']; ?></td>
    <td><?php echo $group['viewAs']?></td>
    <td><span class="label label-success">Marketing Attribute Group</span></td>
    <td><input name="enable-filter" type="checkbox" value="<?php echo $group['attributeGroupId']; ?>" <?php echo $group['usedForFiltering'] == 1 ? 'checked' : ''; ?> /></td>
    <td>
        <fieldset class="crud-buttons">
            <?php if ($group['groupType'] == 'Marketing'): ?>
                <button id="view-marketing-group-<?php echo $group['attributeGroupId']; ?>" onclick="location.href='/marketing-attributes/values/<?php echo $group['attributeGroupId']; ?>'" class="btn btn-primary" data-toggle="modal" data-id="<?php echo $group['attributeGroupId']; ?>" data-target="#view-attribute"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</button>
                <button id="edit-marketing-group-<?php echo $group['attributeGroupId']; ?>" class="btn btn-warning edit-modal" data-json='<?php echo htmlentities(json_encode($groupTmp)); ?>'  data-toggle="modal" data-id="<?php echo $group['attributeGroupId']; ?>" data-target="#new-attribute"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                <?php if ($group['viewAs'] != 'TEXT' && $group['viewAs'] != 'CHECKBOX') : ?>
                    <button id="add-attribute-marketing-group-<?php echo $group['attributeGroupId']; ?>" class="btn btn-info add-attributes-value-modal" data-id="<?php echo $group['attributeGroupId']; ?>"  data-toggle="modal" data-target="#new-attribute-value"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add Attribute</button>
                <?php else : ?>
                    <button class="btn btn-info" data-toggle="modal" ><span class="glyphicon glyphicon-lock"></span> &nbsp;Add Attribute</button>
                <?php endif; ?>
                <button id="delete-marketing-group-<?php echo $group['attributeGroupId']; ?>" onclick="location.href='/marketing-attributes/delete/<?php echo $group['attributeGroupId']; ?>/group'" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
            <?php elseif ($group['groupType'] == 'Merchant' && $group['groupParentId'] != 0): ?>
                <button onclick="location.href='/marketing-attributes/values/<?php echo $group['attributeGroupId']; ?>'" class="btn btn-primary" data-toggle="modal" data-id="<?php echo $group['attributeGroupId']; ?>" data-target="#view-attribute"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</button>
                <button class="btn btn-warning edit-modal-merchant" data-json='<?php echo htmlentities(json_encode($groupTmp)); ?>'  data-toggle="modal" data-target="#new-merchant"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                <button onclick="location.href='/marketing-attributes/deletemerchant/<?php echo $group['attributeGroupId']; ?>/group'" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
            <?php endif; ?>

        </fieldset>
    </td>
</tr>

<?php
    if ($group['children'] !== null){
    $level++;
        foreach ($group['children'] as $child){
            echo $this->partial('prism-products-manager/marketing-attributes/partials/partial-groups', array ('group' => $child, 'level' => $level));
        }
    }
?>