<div class="modal fade" id="new-attribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Marketing Attribute Group</h4>
            </div>

            <?php
            $attributesGroupAddForm->setAttribute('action', $this->url ('marketing-attributes', array('action' => 'index')));
            $attributesGroupAddForm->prepare();
            ?>
            <div class="modal-body">

                <div class="form-group attribute-errors"></div>

                <div class="form-group">
                    <?php echo $this->form()->openTag($attributesGroupAddForm) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($attributesGroupAddForm->get('attributeId')) . PHP_EOL; ?>
                <div class="form-group">
                    <label class="control-label" for="attributeInternalName">Attribute Group Internal Name *</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('attributeInternalName')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="attributePublicName">Attribute Group Public Name *</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('attributePublicName')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="attributeGroupParent">Attribute Group Parent *</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('attributeGroupParent')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="validationType">Validation Type *</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('validationType')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="validationType">Mandatory *</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('isRequired')) . PHP_EOL; ?>
                </div>
                <div class="form-group attribute-change">
                    <label class="control-label" for="attributeType">Attribute Type</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('attributeType')) . PHP_EOL; ?>
                </div>
                <div class="form-group" id="options-div" style="display:none">
                    <label class="control-label" for="attributeValues">Attribute Values (One per line) *</label>
                    <?php echo $this->formRow($attributesGroupAddForm->get('attributeValues')) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($attributesGroupAddForm->get('csrf')) . PHP_EOL; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit($attributesGroupAddForm->get('submit')) . PHP_EOL; ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL; ?>
        </div>
    </div>
</div>