<div class="dashboard-section full-width-container table-container">
    <div class="dashboard-title clearfix">

        <h2>Manage marketing attributes for group <b><?php echo $group['name']; ?></b></h2>
        <?php if ($group['viewAs'] != 'TEXT' && $group['viewAs'] != 'CHECKBOX') : ?>
            <fieldset class="dashboard-title-options">
                <button id="go-back-button" class="btn" onclick="window.history.back()" aria-hidden="true" type="button">Go back</button>
                <button id="add-new-attribute" class="btn btn-success" data-toggle="modal" data-target="#new-attribute-value"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Attribute</button>
            </fieldset><!-- End dashboard title options -->
        <?php endif; ?>
    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="20%">Id</th>
                <th width="20%">Value</th>
                <th width="20%">Status</th>
                <th width="40%"></th>
            </tr>
            <?php if (isset($group['children']) && !empty($group['children'])) : ?>
                <?php foreach ($group['children'] as $child): ?>
                    <tr>
                        <td><?php echo isset($child['attributeId']) ? $child['attributeId'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['attributeValue']) ? $child['attributeValue'] : 'N/A'; ?></td>
                        <td><?php echo isset($child['status']) ? $child['status'] : 'N/A'; ?></td>
                        <td>
                            <fieldset class="pull-right">

                                <?php if ($child['status'] == 'ACTIVE'): ?>
                                    <button onclick="window.location='<?php echo $this->url('marketing-attributes', array('action' => 'activate-attribute', 'id' => $child['attributeId'], 'from' => $child['attributeGroupId'])); ?>'" id="deactivate-attribute-<?php echo $child['attributeId']; ?>" class="btn btn-warning edit-attribute-value-modal"><span class="glyphicon glyphicon-remove"></span> &nbsp;Deactivate</button>
                                <?php else: ?>
                                    <button onclick="window.location='<?php echo $this->url('marketing-attributes', array('action' => 'activate-attribute', 'id' => $child['attributeId'], 'from' => $child['attributeGroupId'])); ?>'" id="activate-attribute-<?php echo $child['attributeId']; ?>" class="btn btn-warning edit-attribute-value-modal"><span class="glyphicon glyphicon-ok"></span> &nbsp;Activate</button>
                                <?php endif; ?>
                                <button id="edit-attribute-<?php echo $child['attributeId']; ?>" class="btn btn-warning edit-attribute-value-modal" data-json='<?php echo json_encode($child); ?>'  data-toggle="modal" data-target="#new-attribute-value"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                                <?php if ($group['viewAs'] != 'TEXT' && $group['viewAs'] != 'CHECKBOX') : ?>
                                    <button id="delete-attribute-<?php echo $child['attributeId']; ?>" onclick="location.href='/marketing-attributes/delete/<?php echo $child['attributeId']; ?>/attribute/<?php echo $child['attributeGroupId']; ?>'" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                                <?php endif; ?>
                            </fieldset>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>

        </table>

    </div><!-- End main column -->

</div><!-- End dashboard section -->

<?php
