<!--<input type="hidden" name="bulk-errors" value=""/>-->

<div class="dashboard-section full-width-container">

    <div class="row-fluid margin-top-15">
        <div class="col-md-6 col-lg-offset-3">
            <div class="dashboard-content-column">
                <!-- Bulk Download Form -->
                <h3>Download Template</h3>
                <?php echo $this->partial('prism-products-manager/merchant-attributes/partials/bulk/bulk-download-form', array ('bulkDownloadForm' => $bulkDownloadForm)); ?>
                <hr>
                <h3>Upload Template</h3>
                <!-- Bulk Upload Form -->
                <?php echo $this->partial('prism-products-manager/merchant-attributes/partials/bulk/bulk-upload-form', array ('bulkUploadForm' => $bulkUploadForm)); ?>
            </div><!-- End main content column -->

        </div><!-- End main column -->
    </div><!-- End row -->

</div><!-- End dashboard section -->

<!-- Modal -->
<!--New / edit attribute Group -->
<?php //echo $this->partial('prism-products-manager/merchant-attributes/partials/bulk/bulk-upload-errors-colours-modal', array ('bulkErrors' => $bulkErrors)); ?>

