<input type="hidden" name="valid-add-merchant" value="<?php echo $valid['MerchantAdd'] ? 1 : 0; ?>"/>
<input type="hidden" name="valid-edit-merchant" value="<?php echo $valid['MerchantEdit'] ? 1 : 0; ?>"/>

<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <h2>Manage merchant group attributes</h2>

        <fieldset class="dashboard-title-options">
            <!-- search Form -->
            <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array ('searchForm' => $searchForm)); ?>
            <button id="new-marchant-group" class="btn btn-success" data-toggle="modal" data-target="#new-merchant"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Merchant Group</button>

        </fieldset><!-- End dashboard title options -->

    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="20%">
                    <?php if(!$this->orderby || ($this->orderby == 'name' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'name', 'orderbyoption' => 'desc')); ?>" >Name<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'name', 'orderbyoption' => 'asc')); ?>" >Name<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="10%">Values Count</th>
                <th width="10%">
                    <?php if(!$this->orderby || ($this->orderby == 'viewAs' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'viewAs', 'orderbyoption' => 'desc')); ?>" >View As<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'viewAs', 'orderbyoption' => 'asc')); ?>" >View As<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="10%">
                    <?php if(!$this->orderby || ($this->orderby == 'groupCode' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'groupCode', 'orderbyoption' => 'desc')); ?>" >Group Code<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'groupCode', 'orderbyoption' => 'asc')); ?>" >Group Code<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="15%">
                    <?php if(!$this->orderby || ($this->orderby == 'groupType' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'groupType', 'orderbyoption' => 'desc')); ?>" >Group Type<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'groupType', 'orderbyoption' => 'asc')); ?>" >Group Type<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="10%">
                    <?php if(!$this->orderby || ($this->orderby == 'usedForFiltering' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'usedForFiltering', 'orderbyoption' => 'desc')); ?>" >Used for Filter<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('merchant-attributes', array('action' => 'index', 'orderby' => 'usedForFiltering', 'orderbyoption' => 'asc')); ?>" >Used for Filter<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th></th>
            </tr>
            <?php
                if (!empty($paginator)) {
                    foreach ( $paginator as $group ) {

                        echo $this->partial('prism-products-manager/merchant-attributes/partials/partial-groups', array ('group' => $group, 'level' => 0, 'search' => $search));
                    }
                }
            ?>
        </table>

    </div><!-- End main column -->
    <!-- Pagination -->
    <?php echo $this->paginationControl($this->paginator, 'Sliding', $this->makePagination(), array('route' => $this->route)); ?>
</div><!-- End dashboard section -->

<!-- Modal -->
<!--New / edit attribute Group Merchant -->
<?php echo $this->partial('prism-products-manager/merchant-attributes/partials/partial-attributes-group-merchant-form', array ('attributesMerchantGroupForm' => $attributesMerchantGroupForm)); ?>
