<?php $groupTmp = $group; unset($groupTmp['children']); ?>
<tr>
    <td>
        <?php
            for($i=0;$i<$level;$i++){
                if($i == $level-1) {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>';
                } else {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                }

            }
        ?>
        <?=$group['groupParentId'] == '0' ? '<b>'. $group['name'] . '</b>' : $group['name']?>
    </td>
    <td><?=($group['groupParentId'] == '0' && $group['groupType'] == 'Merchant') ? 'Root Group' : $group['attributesCount']?></td>
    <td><?=$group['viewAs']?></td>
    <td><span class="label label-warning">Core Attribute Group</span></td>
    <td><input name="enable-filter" type="checkbox" value="<?=$group['attributeGroupId']?>" <?=$group['usedForFiltering'] == 1 ? 'checked' : ''?> /></td>
    <td>
        <fieldset class="crud-buttons">
            <button id="view-core-group-<?php echo $group['attributeGroupId']; ?>" onclick="location.href='/core-attributes/values/<?=$group['attributeGroupId']?>'" class="btn btn-primary" data-toggle="modal" data-target="#view-attribute"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;View</button>
            <button id="edit-core-group-<?php echo $group['attributeGroupId']; ?>" class="btn btn-warning edit-core-attribute" data-json='<?=htmlentities(json_encode($groupTmp))?>'  data-toggle="modal" data-id="<?=$group['attributeGroupId']?>" data-target="#edit-core-attribute"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit Name</button>
        </fieldset>
    </td>
</tr>

<?php
    if ($group['children'] !== null){
    $level++;
        foreach ($group['children'] as $child){
            echo $this->partial('prism-products-manager/core-attributes/partials/partial-groups', array ('group' => $child, 'level' => $level));
        }
    }
?>