<div class="modal fade" id="edit-core-attribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Attribute Value</h4>
            </div>

            <?php
            $editCoreAttributes->setAttribute('action', $this->url ('core-attributes', array('action' => 'index')));
            $editCoreAttributes->prepare();
            ?>
            <div class="modal-body">

                <div class="form-group attribute-errors"></div>

                <div class="form-group">
                    <?=$this->form()->openTag($editCoreAttributes) . PHP_EOL?>
                </div>
                <?=$this->formRow($editCoreAttributes->get('attributeGroupId')) . PHP_EOL?>
                <div class="form-group">
                    <?=$this->formRow($editCoreAttributes->get('publicName')) . PHP_EOL?>
                </div>
                <?=$this->formRow($editCoreAttributes->get('csrf')) . PHP_EOL?>
            </div>
            <div class="modal-footer">
                <?=$this->formSubmit($editCoreAttributes->get('cancelEditCoreAttributeGroup')) . PHP_EOL?>
                <?=$this->formSubmit($editCoreAttributes->get('submitEditCoreAttributeGroup')) . PHP_EOL?>
            </div>
            <?=$this->form()->closeTag() . PHP_EOL;?>
        </div>
    </div>
</div>