
<?php
//print_r($this->productsPriorities);
//print_r($this->pagesPriorities);
?>
<div class="dashboard-section full-width-container table-container">
    <div class="dashboard-title clearfix">
        <div class="row">
            <h2>Manage Search Priorities</h2>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <div data-component="#COMPONENT#" class="pod-row">
                    <div class="pod-content">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a id="tab1-tab" class="tab-tabs" data-toggle="tab" role="tab" href="#product-priorities">Products Priorities</a><li>
                            <li><a id="tab2-tab" class="tab-tabs" data-toggle="tab" role="tab" href="#pages-priorities">Pages Priorities</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="product-priorities" class="tab-pane active form-inline">
                                <?php foreach ($this->productsPriorities as $fieldId => $productArray) : ?>
                                    <div class="row margin-top-10">
                                        <div class="col-md-6 text-right" style="line-height: 34px"><strong><?=$productArray['fieldName']?></strong></div>
                                        <div class="col-md-2 text-left">
                                            <input class="form-control" type="text" name="1_<?=$fieldId?>" value="<?=$productArray['searchPriority']?>" />
                                        </div>
                                        <div class="col-md-4">
                                            <span style="color:green;line-height:34px;top:0;cursor:pointer" class="priority-holder glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                            <div id="pages-priorities" class="tab-pane form-inline">
                                <?php foreach ($this->pagesPriorities as $fieldId => $pageArray) : ?>
                                    <div class="row margin-top-10">
                                        <div class="col-md-6 text-right" style="line-height: 34px"><strong><?=$pageArray['fieldName']?></strong></div>
                                        <div class="col-md-2 text-left">
                                            <input class="form-control" type="text" name="3_<?=$fieldId?>" value="<?=$pageArray['searchPriority']?>" />
                                        </div>
                                        <div class="col-md-4">
                                            <span style="color:green;line-height:34px;top:0;cursor:pointer" class="priority-holder glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="clear"></div>
        </div>
    </div>
</div>