<table class="table table-hover">
    <tr>
        <th>SKU</th>
        <th>Value</th>
    </tr>
    <?php
        if (isset($attributeDetails)) {
            foreach ($attributeDetails as $attributes) {
                foreach ($attributes as $attribute) {  ?>
                    <tr> <td><?php echo $attribute['sku'] ?></td> <td> <?php echo $attribute['value'] ?> </td> </tr>
       <?php }}} ?>
</table>