<div class="row">
    <div class="col-md-10">

        <div class="table">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Add-On Product SKU</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <?php if (isset($productAddOns) && count($productAddOns) > 0) {?>
                    <?php foreach($productAddOns as $addOn) { ?>
                        <tr>
                            <td>
                                <?php echo $addOn['sku']; ?>
                            </td>
                            <td>
                                <button data-addonid="<?php echo $addOn['ID']; ?>" class="btn btn-danger remove-product-addon">Remove</button>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>
                </tbody>

            </table>
        </div>

    </div>
</div>