<div  id="add-variant-modal-alert-success" class="hide alert alert-success fade in">
    <a class="close" >x</a>
    <i class="icon-success"></i>
    <strong>Success:</strong> Variant(s) have been added successfully
</div>

<div  id="add-variant-modal-alert-error" class="hide alert alert-error fade in">
    <a class="close" >x</a>
    <i class="icon-error"></i>
    <strong>Error:</strong> An error occurred. Variants could not be added
</div>


<div  id="delete-variant-modal-alert-success" class="hide alert alert-success fade in">
    <a class="close" >x</a>
    <i class="icon-success"></i>
    <strong>Success:</strong> Variant(s) have been deleted successfully
</div>

<div  id="delete-variant-modal-alert-error" class="hide alert alert-error fade in">
    <a class="close">x</a>
    <i class="icon-error"></i>
    <strong>Error:</strong> An error occurred. Variants could not be deleted
</div>