<div class="modal fade" id="colour-add-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add/Edit colour</h4>
            </div>
            <div class="modal-body">
                <?php
                $colourForm->setAttribute('action', $this->url('colours', array('action' => 'index')));
                $colourForm->prepare();
                ?>
                <div class="form-group attribute-errors"></div>

                <div class="form-group">
                    <?php echo $this->form()->openTag($colourForm) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($colourForm->get('colourId')) . PHP_EOL; ?>
                <?php echo $this->formRow($colourForm->get('oldColourCode')) . PHP_EOL; ?>
                <div class="form-group">
                    <label class="control-label" for="colourName">Colour Name *</label>
                    <?php echo $this->formRow($colourForm->get('colourName')) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <label class="control-label" for="colourCode">Colour Code *</label>
                    <?php echo $this->formRow($colourForm->get('colourCode')) . PHP_EOL; ?>
                </div>
                <div class="form-group" >
                    <label class="control-label" for="hex">Colour Hex *</label>
                    <div class="clearfix"></div>
                    <?php echo $this->formRow($colourForm->get('colourHex')) . PHP_EOL; ?>
                </div>

                <?php echo $this->formRow($colourForm->get('csrf')) . PHP_EOL; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <?php echo $this->formSubmit($colourForm->get('submit')) . PHP_EOL; ?>
            </div>
            <?php echo $this->form()->closeTag() . PHP_EOL; ?>
        </div>
    </div>
</div>

<script> $(function() { $('#colourHex').colorpicker(); }); </script>
