<div class="dashboard-section full-width-container">

    <div class="row-fluid margin-top-15">

        <!--<form role="form" action="/products/add" method="post">-->

        <input type="hidden" name="formName" value="addProductForm">
        <?php
        $barcodeValue = $productsBasicInformationForm->get('ean13')->getValue();
        if (empty($barcodeValue)) {
            ?>
            <div style="margin:15px;" data-dismiss="alert" class="alert alert-warning fade in">
                <a class="close" data-dimdiss="alert">x</a>
                <i class="icon-warning"></i>
                <strong>Warning:</strong>
                You cannot create a 'Standard' product without an available barcode. Please upload some barcodes first!
            </div>
        <?php
        }
        ?>
        <?php
        if ($this->manualSync()) { ?>
            <div class="row" >
                <div class="col-md-8">
                <div class="alert alert-info fade in" role="alert">
                    <i class="icon-info"></i>
                    In order to publish the products and changes to channels, please press the Sync button.
                    <?php echo $this->formRow($this->productVariantCreationForm->get('manualSyncButton')); ?>
                </div>
            </div>
        <?php } ?>
        <div class="col-md-8">

            <div class="dashboard-content-column clearfix">

                <input type="hidden" name="productActiveTab" value="<?php echo $productActiveTab ?>">

                <?php
                $disabled = '';
                if ((!isset($stage) || (isset($stage) && $stage < 2)) && $productId < 1) {
                    $disabled = ' disabled';
                }                
                ?>
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li><a href="#basic-information" id="basic-information-tab" data-tabnumber='1' class="tab-tabs PMS-tabs" role="tab" data-toggle="tab">Basic Information</a></li>
                    <li><a href="#merchant-category" id="merchant-category-tab" data-tabnumber='2'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Merchant Category</a></li>
                    <li><a href="#marketing-category" id="marketing-category-tab" data-tabnumber='3'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Marketing Categories</a></li>
                    <li><a href="#mandatory-attribute" id="mandatory-attribute-tab" data-tabnumber='4'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Attribute Values</a></li>
                    <li><a href="#variant-creation" id="variant-creation-tab" data-tabnumber='5'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Variant Creation</a></li>
                    <li class="hidden"><a href="#related-products" id="related-product-tab" data-tabnumber='6'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Also like</a></li>

                    <?php if ($this->productsAddOnForm) { ?>
                        <li><a href="#product-add-on" id="product-add-on-tab" data-tabnumber='7'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Product Add-Ons</a></li>
                    <?php } ?>

                    <?php if ($this->productsTabs) { ?>
                        <li><a href="#product-tabs" id="product-add-on-tab" data-tabnumber='8'  class="tab-tabs PMS-tabs <?php echo $disabled; ?>" role="tab" data-toggle="tab">Product Tabs</a></li>
                    <?php } ?>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="basic-information">
                        <!-- Add the basic information form -->
                        <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-basic-information', array('productsBasicInformationForm' => $productsBasicInformationForm, 'currenciesPriceTypeMatrix' => $currenciesPriceTypeMatrix, 'productId' => $productId, 'currencyConfig' => $currencyConfig, 'productTaxTerritoriesArray' => $productTaxTerritoriesArray, 'taxTerritories' => $taxTerritories)); ?>
                    </div>

                    <div class="tab-pane" id="merchant-category">
                        <!-- Add the merchant category form -->
                        <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-merchant-category', array('merchantCategoryForm' => $merchantCategoryForm, 'productMerchantCategories' => $productMerchantCategories, 'productAlreadySavedInSpectrum' => $productAlreadySavedInSpectrum)); ?>
                    </div>

                    <div class="tab-pane" id="marketing-category">
                        <!-- Add the marketing category form -->
                        <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-marketing-category', array('marketingCategorySelectForm' => $marketingCategorySelectForm, 'productMarketingCategories' => $productMarketingCategories, 'productId' => $productId, 'variantId' => $variantId)); ?>
                    </div>

                    <div class="tab-pane panel-group" id="mandatory-attribute">
                        <!-- Add the product mandatory attribute form -->
                        <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-mandatory-attributes',
                            array(
                                'productAttributesSelectForm' => $productAttributesSelectForm,
                                'dynamicallyGeneratedAttributes' => $dynamicallyGeneratedAttributes
                            )); ?>
                    </div>

                    <div class="tab-pane" id="variant-creation">
                        <!-- Add the variant creation form -->
                        <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-variant-creation', array(
                            'productVariantCreationForm' => $productVariantCreationForm,
                            'allSavedVariants' => $allSavedVariants,
                            'successMessageForVariantAttributesSaving' => $successMessageForVariantAttributesSaving,
                            'productStatus' => $productStatus,
                            'productAlreadySavedInSpectrum' => $productAlreadySavedInSpectrum,
                            'productType' => $productsBasicInformationForm->get('productTypeId')->getValue(),
                            'createCollationVariantsForm' => $this->createCollationVariantsForm
                        )); ?>
                    </div>

                    <div class="tab-pane" id="related-products">
                        <!-- Add the also like form -->
                        <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-related-products', array('productRelatedProducts' => $this->productRelatedProducts, 'productRelatedProductsForm' => $this->productRelatedProductsForm)); ?>
                    </div>

                    <?php if ($this->productsAddOnForm) {?>
                        <div class="tab-pane" id="product-add-on">
                            <!-- Add the also like form -->
                            <?php echo $this->partial('prism-products-manager/products/partials/add-edit/product-add-ons', array('productsAddOnForm' => $this->productsAddOnForm,'allSavedVariants' => $allSavedVariants, 'productId' => $productId,'productAddOns' => $this->productAddOns,'productSku' => $this->productSku)); ?>
                        </div>
                    <?php } ?>

                    <?php if ($this->productsTabs) { ?>
                        <div class="tab-pane" id="product-tabs">
                            <!-- Add the also like form -->
                            <?php echo $this->partial('prism-products-manager/products/partials/add-edit/product-tabs', array('productsTabsForm' => $this->productsTabsForm,'productId' => $productId, 'productsTabs' => $this->productsTabs)); ?>
                        </div>
                    <?php } ?>

                </div> <!-- End tab panes -->

            </div><!-- End dashboard content -->

        </div><!-- End main column -->

        <div class="hidden-md col-md-4">

            <div class="dashboard-sidebar clearfix scrolling-sidebar">
                
                <!-- Add the product activation form -->
                <?php echo $this->partial('prism-products-manager/products/partials/add-edit/partial-product-activation', array('productsActivationForm' => $this->productsActivationForm, 'productStatus' => $productStatus, 'productId' => $productId)); ?>

            </div><!-- End dashboard column -->

        </div><!-- End right column -->

        <!--</form>-->
    </div><!-- End row -->

</div><!-- End dashboard section -->

<!-- Modal -->
<!-- Add the generic modal popup which holds modal dialog shared by different pages -->
<?php echo $this->partial('prism-products-manager/products/partials/partial-generic-modal-popup-container', array('productId' => $productId, 'allSavedVariants' => $allSavedVariants)); ?>


<!-- Alerts -->
<!-- Add bootstrap alerts options which can be accessed by javascript-->
<?php echo $this->partial('prism-products-manager/products/partials/add-edit/alerts-partials/alerts'); ?>
