<?php
//Start the basic information form
echo $this->form()->openTag($this->inputFieldsForm);
?>

<div class="dashboard-section full-width-container">

    <div class="row-fluid margin-top-15">
        <?php if (!empty($this->errorMessage)) { ?>
            <div data-dismiss="alert" class="alert alert-<?php echo $this->errorType; ?> fade in"><!-- start div data-dismiss -->
                <a class="close" data-dimdiss="alert">x</a>
                <i class="icon-success"></i>
                <strong><?php echo ucfirst($this->errorType); ?>:</strong>
                <?php echo $this->errorMessage; ?>       </div>
        <?php } ?>


        <!--<form role="form" action="/products/add" method="post">-->
        <input type="hidden" name="style-level" value="<?php echo $this->style; ?>" />
        <input type="hidden" name="option-level" value="<?php echo $this->option; ?>" />
        <input type="hidden" name="display" value="<?php echo $this->viewTab; ?>" />
        <input type="hidden" name="options-to-copy" value="" />
        <input type="hidden" name="form-error" value="<?php echo $this->formError ? 1 : 0; ?>" />
        <input type="hidden" name="option-count" value="<?php echo count($this->options); ?>" />
        <input type="hidden" name="show-options-when-saving-at-style-level" value="<?php echo $this->isFeatureEnable('showOptionsWhenSavingAtStyleLevel', false, 'settings') ? '1' : '0'; ?>" />
        <?php
        if ($this->manualSync()) { ?>
        <div class="row" >
            <div class="col-md-12">
                <div class="alert alert-info fade in" role="alert">
                    <i class="icon-info"></i>
                    In order to publish the products and changes to channels, please press the Sync button.
                    <?php echo $this->formRow($this->productVariantCreationForm->get('manualSyncButton')); ?>
                </div>
            </div>
            <?php } ?>
            <div class="col-md-12">

                <div class="margin-bottom dashboard-content-column clearfix ">
                    <?php if (!empty($this->style) && empty($this->option)) { ?>
                        Currently editing <Strong>style</strong> level: <?php echo strtoupper($this->style); ?> <br>Style name: <?php if (isset($this->styleDetails[0])) { echo $this->styleDetails[0]['productName']; } ?>
                    <?php } ?>
                    <?php if (!empty($this->style) && !empty($this->option)) { ?>
                        Currently editing <strong>option</strong> level: <?php echo strtoupper($this->option); ?> <br>Style name: <?php if (isset($this->styleDetails[0])) { echo $this->styleDetails[0]['productName']; } ?><br>
                        Click <a class="change-option" href="/products/display/<?php echo $this->viewTab; ?>/style/<?php echo $this->style ?>"><strong>here</strong></a> to go to style level
                    <?php } ?>

                    <?php if ($this->isFeatureEnable('customBarcodes', false, 'settings')) { ?>
                        <div class="margin-top-10 manage-barcodes pull-right" data-style="<?php echo $this->style; ?>" data-option="<?php echo $this->option; ?>">
                            <span class="label label-success">Manage Barcodes</span>
                        </div>
                    <?php } ?>

                    <?php if ($this->isFeatureEnable('mediaServer', false, 'settings')) { ?>
                        <div class="margin-top-10 manage-images pull-right" data-style="<?php echo $this->style; ?>" data-option="<?php echo $this->option; ?>">
                            <span class="label label-success">Manage Images</span>
                        </div>
                    <?php } ?>

                    <?php if (!empty($this->style)) { ?>
                        <a class="change-option margin-top-10 pull-right" href="/products/display/admin">
                            <span class="label label-warning">Create new style</span>
                        </a>

                    <?php } ?>
                    <div class="clear"></div>
                    <div class="pull-right">
                        <?php if (!empty($this->options)) { ?>
                            <div class="text-center">
                                Options available
                            </div>
                            <?php foreach ($this->options as $optionCode => $optionSKUs) { ?>
                                <?php if ($this->option != $optionCode) { ?>
                                    <a class="change-option" href="/products/display/<?php echo $this->viewTab; ?>/style/<?php echo $this->style ?>/option/<?php echo str_replace(" ", "", $optionCode); ?>">
                                        <span class="label label-primary"><?php echo strtoupper($optionCode); ?></span>
                                    </a>
                                <?php } else { ?>
                                    <span class="label label-success"><?php echo strtoupper($optionCode); ?></span>
                                <?php } ?>
                            <?php } ?>
                            <div class="clearfix"></div>
                            <?php if (!empty($this->option)) { ?>
                                <div class="change-option margin-top-10 manage-sku-for-option" data-option="<?php echo $this->option; ?>">
                                    <span class="label label-success">Manage SKUs</span> for option : <?php echo $this->option; ?>
                                </div>
                            <?php } ?>
                        <?php } ?>
                    </div>

                    <div class="clearfix"></div>
                    <?php if (!empty($this->style) && empty($this->option)) { ?>
                        <span class="glyphicon glyphicon-time pull-left schedule-for-product" data-toggle="tooltip" data-product-id-from="PRODUCTS" data-code="<?php echo $this->style ?>" data-placement="top" data-original-title="Display Schedule Events For Option <?php echo $this->style; ?>">
                        </span>
                    <?php } elseif (!empty($this->style) && !empty($this->option)) { ?>
                        <span class="glyphicon glyphicon-time pull-left schedule-for-product" data-toggle="tooltip" data-product-id-from="PRODUCTS_R_ATTRIBUTES" data-code="<?php echo $this->option ?>" data-placement="top" data-original-title="Display Schedule Events For Option <?php echo $this->option; ?>">
                        </span>
                    <?php } ?>
                    <?php if ($this->formError) { ?>
                        <div>
                            <ul role="alert" class="list-unstyled alert alert-danger">
                                <li><i class="icon-error"></i>Please check the form details for errors.</li>
                            </ul>
                        </div>
                    <?php } ?>
                </div>
                <div class="dashboard-content-column clearfix">
                    <ul class="nav nav-tabs" role="tablist">
                        <?php
                            $tabNumber = 0;
                            foreach($this->inputPages as $inputPage) {

                                ++$tabNumber;
                                if($this->viewTab == $inputPage->getPageurl()){
                                    $activeTab = 'active';
                                } else {
                                    $activeTab = '';
                                }
                                ?>
                                <li
                                    class="<?php echo $activeTab; ?>">
                                    <?php
                                        if (!is_null($this->identifierName) && !is_null($this->identifier)) {
                                            $url = $inputPage->getPageurl() . '/' . $this->identifierName . '/' . $this->identifier;
                                        } else {
                                            $url = $inputPage->getPageurl();
                                        }
                                    $classEvent = '';
                                    if (!is_null($this->style)) {
                                        $url .= '/style/' . $this->style;
                                        $classEvent = 'style-level-event';
                                    }
                                    if (!is_null($this->option)) {
                                        $url .= '/option/' . $this->option;
                                        $classEvent = 'option-level-event';
                                    }
                                    ?>


                                    <?php if (! $this->style
                                        && $inputPage->getPagename() !== 'Setup'
                                        && $inputPage->getPagename() !== 'Search') {   ?>

                                            <a style="pointer-events: none;cursor: default;"
                                               id="<?php echo $inputPage->getPageurl() ?>-tab"
                                               data-tabnumber='<?php echo $tabNumber;?>'
                                               class="">
                                               <?php echo $inputPage->getPagename(); ?>
                                            </a>

                                    <?php } else { ?>
                                    <a href="/products/display/<?php echo $url ?>"
                                       id="<?php echo $inputPage->getPageurl() ?>-tab"
                                       data-tabnumber='<?php echo $tabNumber;?>'
                                       class="">
                                       <?php echo $inputPage->getPagename(); ?>
                                    </a>
                                    <?php } ?>
                                </li>

                            <?php
                            }
                        ?>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <?php

                        $pageCount = count($this->inputPages);

                        foreach($this->inputPages as $inputPage) {

                            if ($this->viewTab == $inputPage->getPageurl()){
                                $activeTab = 'active';
                                ?>

                                <div class="tab-pane <?php echo $activeTab; ?>" id="<?php echo $inputPage->getPageurl(); ?>">

                                    <?php
                                    // Check if values are set
                                    if(isset($this->inputFieldElements[$inputPage->getPagename()])
                                        && !empty($this->inputFieldElements[$inputPage->getPagename()])){


                                        // Get all field sets
                                        foreach ($this->inputFieldElements[$inputPage->getPagename()] as $fieldSetName => $fieldSetValues) {

                                            if ($fieldSetName != 'Search'){
                                                $style = "style='display: none'";
                                                $icon = "glyphicon glyphicon-chevron-down";
                                                $collapsed = "panel-collapsed";
                                            } else {
                                                $style = "";
                                                $icon = "glyphicon glyphicon-chevron-up";
                                                $collapsed = "";
                                            }
                                            ?>

                                            <div class="panel panel-default inputfield-panels">
                                                <div class="panel-heading <?php echo $collapsed; ?>">
                                                    <h3 class="panel-title"><?php echo $fieldSetName; ?></h3>
                                                    <span class="pull-right clickable"><i class="<?php echo $icon; ?>"></i></span>
                                                </div>
                                                <div class="panel-body" <?php echo $style; ?> >

                                                    <?php
                                                    /** Modules cannot be in the same place with normal inputs */
                                                    if (isset($fieldSetValues['isModule'])) {
                                                        echo $this->partial("prism-products-manager/products/partials/input-fields/isModule",array(
                                                            'fieldSetValues' => $fieldSetValues['isModule'],
                                                            'inputFieldsForm' => $this->inputFieldsForm,
                                                            'currencyConfig' => $this->currencyConfig,
                                                            'currenciesPriceTypeMatrix' => $this->currenciesPriceTypeMatrix,
                                                            'fieldSetName' => $fieldSetName,
                                                            'productTaxTerritoriesArray' => $this->productTaxTerritoriesArray,
                                                            'style' => $this->style,
                                                            'option' => $this->option,
                                                            'sizeBridges' => $this->sizeBridges,
                                                            'colours' => $this->colours,
                                                            'optionsData' => $this->optionsData,
                                                            'classEvent' => $classEvent,
                                                            'styles' => $this->styles,
                                                            'inputPage' => $inputPage,
                                                            'options' => $this->options,
                                                            'workflows' => $this->workflows
                                                        ));
                                                    } else { ?>
                                                        <div class="col-xs-12">
                                                            <?php foreach ($fieldSetValues as $key => $fieldSetValue) {
                                                                switch ($fieldSetValue['inputType']) {
                                                                    case 'isAttribute':
                                                                        echo $this->partial("prism-products-manager/products/partials/input-fields/isAttribute",array(
                                                                            'inputFieldElement' => $fieldSetValue,
                                                                            'inputFieldsForm' => $this->inputFieldsForm,
                                                                            'fieldSetName' => $fieldSetName,
                                                                            'key' => $key,
                                                                            'style' => $this->style,
                                                                            'option' => $this->option,
                                                                            'lastWorkflowForOption' => $this->lastWorkflowForOption
                                                                        ));
                                                                        break;
                                                                    case 'isTableField':
                                                                        echo $this->partial("prism-products-manager/products/partials/input-fields/isTableField",array(
                                                                            'inputFieldElement' => $fieldSetValue,
                                                                            'inputFieldsForm' => $this->inputFieldsForm,
                                                                            'fieldSetName' => $fieldSetName,
                                                                            'key' => $key,
                                                                            'style' => $this->style,
                                                                            'option' => $this->option,
                                                                            'lastWorkflowForOption' => $this->lastWorkflowForOption
                                                                        ));
                                                                        break;
                                                                }
                                                            } ?>
                                                        </div>

                                                    <?php } ?>
                                                    <?php echo $this->formRow($this->inputFieldsForm->get('csrf')); ?>

                                                </div>
                                            </div>
                                            <?php
                                        } ?>

                                        <?php if ($this->viewTab != 'search') { ?>
                                            <div class="row">
                                                <button type="submit" data-prices="0" data-style="<?php echo $this->style; ?>" class="save-product-information-button btn btn-default btn-success pull-right <?php echo $classEvent ?>">Save</button>
                                                <button type="submit" class="btn btn-default btn-success pull-right hidden submit-form-button">Save</button>
                                            </div>
                                        <?php } ?>
                                        <?php echo $this->formRow($this->inputFieldsForm->get('csrf')); ?>
                                    <?php } else { ?>
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            You have no input fields for <?php echo $inputPage->getPagename(); ?> tab
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>
                            <?php
                            } else {
                                $activeTab = '';
                            }
                            ?>
                            <?php
                        }
                        ?>
                    </div> <!-- End tab panes -->
                </div><!-- End dashboard content -->
            </div><!-- End main column -->
            <!--</form>-->
        </div><!-- End row -->
    </div><!-- End row-fluid -->
</div><!-- End dashboard section -->
<div class="options-check-modal-holder"></div>
<div class="manage-sku-modal-holder"></div>
<div class="holder-manage-scheduled-entries-for-field"></div>
<div class="holder-options-with-values"></div>
<div class="holder-manage-images"></div>
<div class="holder-manage-barcodes"></div>
<?php
//End the form
echo $this->form()->closeTag();
