
<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <h2>Manage Products</h2>

        <fieldset class="dashboard-title-options margin-left">
            <a name="createNewProductButton" href="/products/add" class="btn btn-success pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Add new product
            </a>
            <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array('searchForm' => $searchForm)); ?>
        </fieldset><!-- End dashboard title options -->

        <fieldset class="crud-buttons pull-right">
            <div class="dropdown">
                <button class="btn btn-default"  id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span> &nbsp;Bulk Actions</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" id="bulk-enable-products-link" popupType="enable" class="bulk-product-actions" tabindex="-1" href="#">
                            <span class="glyphicon glyphicon-ok text-success"></span> &nbsp; Bulk Enable Products
                        </a>
                    </li>
                    <li role="presentation"><a role="menuitem" id="bulk-disable-products-link" popupType="disable" class="bulk-product-actions" tabindex="-1" href="#">
                            <span class="glyphicon glyphicon-eye-close text-warning"></span> &nbsp; Bulk Disable Products
                        </a>
                    </li>
                    <li role="presentation"><a role="menuitem" id="bulk-delete-products-link" popupType="delete" class="bulk-product-actions" tabindex="-1" href="#">
                            <span class="glyphicon glyphicon-remove text-danger"></span> &nbsp; Bulk Delete Products
                        </a>
                    </li>
                </ul>
            </div><!-- End dropdown -->
        </fieldset>

    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <?php //var_dump($paginator); ?>   
        <!-- Add the merchant category form -->
        <?php echo $this->partial('prism-products-manager/products/partials/index/partial-product-list', array('productList' => $this->productList, 'orderby' => $this->orderby, 'orderbyOption' => $this->orderbyOption)); ?>

        <!-- Pagination -->
        <?php
        echo (count($this->productList) > 0 ) ? $this->paginationControl($this->productList, 'Sliding', $this->makePagination(), array('route' => $this->route)) : "";
        ?>

    </div><!-- End main column -->

</div><!-- End dashboard section -->

<!-- Modal -->
<!-- Add the generic modal popup which holds modal dialog shared by different pages -->
<?php

//Add modal dialogues
echo $this->partial('prism-products-manager/products/partials/index/modal/bulk-enable-products', array('bulkProductActionForm' => $this->bulkProductActionForm, 'bulkProductAction' => $bulkProductAction));
echo $this->partial('prism-products-manager/products/partials/index/modal/bulk-disable-products', array('bulkProductActionForm' => $this->bulkProductActionForm, 'bulkProductAction' => $bulkProductAction));
echo $this->partial('prism-products-manager/products/partials/index/modal/bulk-delete-products', array('bulkProductActionForm' => $this->bulkProductActionForm, 'bulkProductAction' => $bulkProductAction));

//Flag to determine if the bulk product popup should be displayed
echo $this->formRow($this->bulkProductActionForm->get('showBulkProductActionPopup'));
echo $this->formRow($this->bulkProductActionForm->get('popupType'));
