
<div class="dashboard-section full-width-container ">

    <div class="row-fluid margin-top-15">

        <div class="col-md-8">

            <div class="dashboard-content-column clearfix">
                <h4><b>Product Basic Information</b></h4>
                <hr>
                <!-- Display the basic information -->
                <?php echo $this->partial('prism-products-manager/products/partials/view/partial-basic-information', array('productDetails' => $productDetails, 'productId' => $productId, 'channels' => $channels, 'websites' => $websites, 'merchantCategoryName' => $merchantCategoryName)); ?>
            </div><!-- End dashboard content -->

            <div class="dashboard-portal clearfix">

                <div class="dashboard-portal-header">
                    <div class="dashboard-portal-title"><span class="label label-portal">Product Marketing Categories</span></div><!-- End dashboard portal title -->
                    <button class="btn btn-default dashboard-portal-toggle" data-toggle-target="#categories-info" data-toggle-text="Hide">Show</button><!-- End dashboard portal toggle -->
                    <div class="clear"></div>
                </div><!-- End dashboard portal header -->

                <div class="dashboard-portal-content" id="categories-info">
                    <!-- Display the marketing category -->
                    <?php echo $this->partial('prism-products-manager/products/partials/view/partial-marketing-category', array('productDetails' => $productDetails, 'productId' => $productId)); ?>
                </div><!-- End dashboard content -->

            </div><!-- End dashboard portal -->

            <div class="dashboard-portal clearfix">

                <div class="dashboard-portal-header">
                    <div class="dashboard-portal-title"><span class="label label-portal">Product Variants</span></div><!-- End dashboard portal title -->
                    <button class="btn btn-default dashboard-portal-toggle" data-toggle-target="#combination-info" data-toggle-text="Hide">Show</button><!-- End dashboard portal toggle -->
                    <div class="clear"></div>
                </div><!-- End dashboard portal header -->

                <div class="dashboard-portal-content" id="combination-info">

                    <!-- Display product variants -->
                    <?php echo $this->partial('prism-products-manager/products/partials/view/partial-product-variants', array('allSavedVariants' => $allSavedVariants, 'productId' => $productId, 'productStatus' => $productStatus)); ?>
                </div><!-- End dashboard content -->
            </div><!-- End dashboard portal -->

            <div class="dashboard-portal clearfix">

                <div class="dashboard-portal-header">
                    <div class="dashboard-portal-title"><span class="label label-portal">Product Prices / Tax Information</span></div><!-- End dashboard portal title -->
                    <button class="btn btn-default dashboard-portal-toggle" data-toggle-target="#prices-info" data-toggle-text="Hide">Show</button><!-- End dashboard portal toggle -->
                    <div class="clear"></div>
                </div><!-- End dashboard portal header -->

                <div class="dashboard-portal-content clearfix" id="prices-info">                            
                    <!-- Display product prices -->
                    <?php echo $this->partial('prism-products-manager/products/partials/view/partial-product-prices', array('productDetails' => $productDetails, 'productId' => $productId, 'currenciesPriceTypeMatrix' => $currenciesPriceTypeMatrix, 'currencyConfig' => $currencyConfig, 'productTaxTerritoriesArray' => $productTaxTerritoriesArray));
                    ?>                
                </div><!-- End dashboard content -->
            </div><!-- End dashboard portal -->

            <div class="dashboard-portal clearfix">

                <div class="dashboard-portal-header">
                    <div class="dashboard-portal-title"><span class="label label-portal">Products Attributes</span></div><!-- End dashboard portal title -->
                    <button class="btn btn-default dashboard-portal-toggle" data-toggle-target="#attributes-info" data-toggle-text="Hide">Show</button><!-- End dashboard portal toggle -->
                    <div class="clear"></div>
                </div><!-- End dashboard portal header -->

                <div class="dashboard-portal-content" id="attributes-info">
                    <!-- Display product prices -->
                    <?php echo $this->partial('prism-products-manager/products/partials/view/partial-mandatory-attributes', array('productDetails' => $productDetails, 'productId' => $productId, 'dynamicallyGeneratedAttributes' => $dynamicallyGeneratedAttributes));
                    ?>                
                </div><!-- End dashboard content -->
            </div><!-- End dashboard portal -->

            <div class="dashboard-portal clearfix">

                <div class="dashboard-portal-header">
                    <div class="dashboard-portal-title"><span class="label label-portal">Meta options</span></div><!-- End dashboard portal title -->
                    <button class="btn btn-default dashboard-portal-toggle" data-toggle-target="#meta-drop" data-toggle-text="Hide">Show</button><!-- End dashboard portal toggle -->
                    <div class="clear"></div>
                </div><!-- End dashboard portal header -->

                <div class="dashboard-portal-content" id="meta-drop">
                    <fieldset class="form-group">
                        <label for="meta-title">Meta title:</label> 
                        <?php echo isset($this->productDetails['metaTitle']) ? $this->productDetails['metaTitle'] : ''; ?>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="meta-description">Meta description:</label> 
                        <br><?php echo isset($this->productDetails['metaDescription']) ? $this->productDetails['metaDescription'] : ''; ?>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="meta-keywords">Meta keywords:</label> <br><?php echo isset($this->productDetails['metaKeyword']) ? $this->productDetails['metaKeyword'] : ''; ?>
                    </fieldset>
                </div><!-- End dashboard portal content -->

            </div><!-- End dashboard portal -->

        </div><!-- End main column -->

        <div class="col-md-4">

            <div class="dashboard-sidebar clearfix scrolling-sidebar">
                <a href="/media/product/<?php echo $productId; ?>/0" class="btn pull-left">
                    <span class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> View main product images</span>
                    <br><br>
                    <img src="<?php echo ($productId ? $this->productImageHelper($productId, 0 , 'default', 'product-main') : ''); ?>" height="150" width="150">
                </a>
                <a href="/products/edit/<?php echo $productId; ?>" class="btn pull-right">
                    <span class="btn btn-success">Edit product</span>
                </a>
            </div><!-- End dashboard column -->


        </div><!-- End right column -->

    </div><!-- End row -->

</div><!-- End dashboard section -->

<!-- Modal -->
<!-- Add the generic modal popup which holds modal dialog shared by different pages -->
<?php echo $this->partial('prism-products-manager/products/partials/partial-generic-modal-popup-container', array('productId' => $productId));
