<div class="historical-wrapper hidden">

    <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="col-xs-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary pull-right download-csv-button width-130">
                     Download CSV
                </button>
                <form enctype="multipart/form-data" name="download-csv" action="/history/download-csv" method="post">
                    <input type="hidden" name="fromDateFrom"/>
                    <input type="hidden" name="fromDateTo"/>
                    <input type="hidden" name="modifiedDateFrom"/>
                    <input type="hidden" name="modifiedDateTo"/>
                    <input type="hidden" name="createdDateFrom"/>
                    <input type="hidden" name="createdDateTo"/>
                    <input type="hidden" name="freeSearch"/>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="form-group margin-top-15">
                <form enctype="multipart/form-data" name="upload-csv" action="/history/upload-csv" method="post">
                    <input type="file" name="history-upload" class="hide">
                    <button data-toggle="modal" class="btn btn-default browse-file-history pull-right width-130">
                        <span class="glyphicon glyphicon-file"></span> &nbsp; Upload CSV
                    </button>
                    <input style="width:400px" type="text" name="history-upload-text" disabled="disabled" class="btn btn-default btn-file pull-right margin-right-15">
                </form>
            </div>
            <div class="clearfix margin-bottom-10"></div>
        </div>

        <div class="filter-date-wrapper ">
            <div class="filter-date col-xs-12 col-sm-4">
                <span>From Date filter</span>
                <div class="input-group date margin-top-10 date-picker-historical" id="datepicker-auto-date-from">
                    <input name="datepicker-auto-date-from" placeholder="From" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="input-group date margin-top-10 margin-bottom-10 date-picker-historical" id="datepicker-auto-date-to">
                    <input name="datepicker-auto-date-to" placeholder="To" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="filter-date col-xs-12 col-sm-4">
                <span>Modified Date filter</span>
                <div class="input-group date margin-top-10 date-picker-historical" id="datepicker-modified-date-from">
                    <input name="datepicker-modified-date-from" placeholder="From" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="input-group date margin-top-10 margin-bottom-10 date-picker-historical" id="datepicker-modified-date-to">
                    <input name="datepicker-modified-date-to" placeholder="To" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="filter-date col-xs-12 col-sm-4">
                <span>Created Date filter</span>
                <div class="input-group date margin-top-10 date-picker-historical" id="datepicker-created-date-from">
                    <input name="datepicker-created-date-from" placeholder="From" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="input-group date margin-top-10 margin-bottom-10 date-picker-historical" id="datepicker-created-date-to">
                    <input name="datepicker-created-date-to" placeholder="To" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-success pull-right margin-bottom-10 apply-date-filters">Apply Date Filters</button>
        </div>

        <table id="history-table" class="display">
            <thead>
            <tr>
                <th>id</th>
                <th>Style/Option Code</th>
                <th>Field Updated</th>
                <th>Field Value</th>
                <th>From Date</th>
                <th>Update Type</th>
                <th>Modified Date</th>
                <th>Modified By</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>

<div id="edit-entry-modal-wrapper"></div>