<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="edit-entry-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><label id="LabelStateCommonAttribute">Edit Historical entry</h4>
            </div>
            <form method="post" id="edit-record-form">
                <div class="modal-body clearfix">
                    <input name="entry-id"  type="hidden" value="<?php echo $this->historicalEntry->getHistoricalValueId() ?>"/>

                    <div class="input-group">
                        <span class="input-group-addon" id="entry-value">Attribute Value</span>
                        <input name="attribute-value" type="text" class="form-control" placeholder="value" aria-describedby="entry-value" value="<?php echo $this->historicalValue; ?>">
                    </div>

                    <div class="input-group margin-top-10">
                        <span class="input-group-addon" id="entry-from-date">From Date</span>
                            <?php
                                $value = '';
                                $date = $this->historicalEntry->getFromDate();
                                if ($date instanceof DateTime) {
                                    $value = $date->format('Y-m-d H:i:s');
                                }
                            ?>
                            <input value="<?php echo $value; ?>"  aria-describedby="entry-value-date" name="from-date" placeholder="From" type="text" class="form-control from-date-datepicker" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success submit-edit-record" type="button">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>
