<input type="hidden" value="<?php echo $valid['add'] ? 1 : 0; ?>" name="colours-add-form"/>
<input type="hidden" value="<?php echo $valid['edit'] ? 1 : 0; ?>" name="colours-edit-form"/>
<div class="dashboard-section full-width-container table-container">
    <div class="dashboard-title clearfix">
        <h2>Manage colours</h2>
        <fieldset class="dashboard-title-options">
            <button id="go-back-button" class="btn" onclick="window.history.back()" aria-hidden="true" type="button">Go back</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#colour-add-edit-modal"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Colour</button>
        </fieldset><!-- End dashboard title options -->
    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="25%">Name</th>
                <th width="15%">Hex</th>
                <th width="15%">Code</th>
                <th width="5%">Preview</th>
                <th width="25%">&nbsp;</th>
                <th></th>
            </tr>
            <?php foreach($colours as $colour):?>
                <tr>
                    <td><?php echo isset($colour['colourName']) ? $colour['colourName'] : 'N/A'; ?></td>
                    <td><?php echo isset($colour['hex']) ? $colour['hex'] : 'N/A'; ?></td>
                    <td><?php echo isset($colour['colourCode']) ? $colour['colourCode'] : 'N/A'; ?></td>
                    <td style="background-color:<?php echo isset($colour['hex']) ? $colour['hex'] : 'N/A'; ?>"></td>
                    <td>&nbsp;</td>
                    <td>
                        <fieldset class="crud-buttons">
                            <?php
                            $colour['oldColourCode'] = $colour['colourCode'];
                            ?>
                            <button class="btn btn-warning edit-colour" data-json='<?php echo json_encode($colour); ?>' data-toggle="modal" data-target="#colour-add-edit-modal"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                            <button href="javascript:void(0)" data-href="/colours/delete/<?php echo $colour['colourId']; ?>" class="btn btn-danger delete-colour"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                        </fieldset>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div><!-- End main column -->
</div><!-- End dashboard section -->

<!-- Modal -->
<!--New / edit attribute Merchant -->
<?php echo $this->partial('prism-products-manager/colours/partial/colour-add-edit-modal.phtml', array('colourForm' => $colourForm)); ?>
