<div class="col-md-8 form-group">
    <div class="price-container">
        <h3>
            Tax management
        </h3>
        <table class="table valign-td">
            <thead>
                <tr>
                    <th>Territory</th>
                    <th>Tax</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($productTaxTerritoriesArray as $territory => $value) {
                    ?>
                    <tr>
                        <td><?php echo $territory; ?></td>
                        <td><?php echo $value['name']; ?></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
</div>