<div class="dashboard-section full-width-container table-container">
    <div class="dashboard-title clearfix">
        <h2>Manage Tax</h2>
        <fieldset class="dashboard-title-options">
            <a href="#" data-toggle="modal" href="#" class="btn btn-success pull-right" data-target="#add-new-tax" tabindex="-1" role="menuitem">
                <span class="glyphicon glyphicon-wrench"></span> Add new tax
            </a>
        </fieldset><!-- End dashboard title options -->
    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <?php //var_dump($paginator); ?>   
        <!-- Add the merchant category form -->
        <?php echo $this->partial('prism-products-manager/tax/partials/index/partial-tax-list', array('taxList' => $paginator)); ?>
        <!-- Pagination -->
        <?php echo ( count($this->paginator) > 0 ) ? $this->paginationControl($paginator, 'Sliding', 'prism-products-manager/pagination-helper/pagination.phtml', array('search' => $search)) : ""; ?>
    </div><!-- End main column -->

</div><!-- End dashboard section -->

<div class="modal fade" id="add-new-tax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                            
    <!-- Add the new colour modal form -->
    <?= $this->partial('prism-products-manager/tax/partials/index/modal/partial-add-new-tax', array('addNewTaxForm' => $addNewTaxForm)); ?>  
</div>