<?php $groupTmp = $category; unset($groupTmp['children']); ?>
<tr>
    <td><?php echo $category['productMerchantCategoryId']; ?></td>
    <td>
        <?php
            for($i=0;$i<$level;$i++){
                if($i == $level-1) {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;<i class="child"></i>';
                } else {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                }

            }
        ?>
        <?php echo $category['parentId'] == '0' ? '<b>'. $category['categoryName'] . '</b>' : $category['categoryName']; ?>

    </td>
    <td><?php echo $category['shortDescription']; ?></td>
    <td><?php echo $category['modified']; ?></td>
    <td>
        <input name="enable-merchant-category" type="checkbox" value="<?php echo $category['productMerchantCategoryId']; ?>" <?php echo $category['status'] == 'ACTIVE' ? 'checked' : ''; ?> />
    </td>

    <td>
        <fieldset class="crud-buttons">
            <button id="edit-merchant-category-<?php echo $category['productMerchantCategoryId']; ?>" class="btn btn-warning edit-merchant-product-category" data-json='<?=json_encode($groupTmp);?>' data-toggle="modal" data-target="#product-merchant-category"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
            <button id="edit-merchant-category-<?php echo $category['productMerchantCategoryId']; ?>" onclick="location.href='<?php echo $this->url('merchant-categories', array('action' => 'delete', 'id' => $category['productMerchantCategoryId'])); ?>'" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
        </fieldset>
    </td>

</tr>

<?php
    if ($category['children'] !== null){
    $level++;
        foreach ($category['children'] as $child){
            echo $this->partial('prism-products-manager/merchant-categories/partials/partial-groups', array ('category' => $child, 'level' => $level));
        }
    }
?>
