<!-- Modal -->
<!--Add new product group -->
<div class="modal fade" id="product-merchant-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Product Category</h4>
            </div>
            <div class="modal-body clearfix">
                <?=$this->form()->openTag($addMerchantCategoryForm) . PHP_EOL;?>
                <input type="hidden" value="<?php echo $valid['Add'] ? 1 : 0; ?>" name="merchant-categories-add"/>
                <input type="hidden" value="<?php echo $valid['Edit'] ? 1 : 0; ?>" name="merchant-categories-edit"/>

                <div class="col-sm-5 col-md-6">
                    <!-- Main category block -->
                    <?php echo $this->formRow($addMerchantCategoryForm->get('productMerchantCategoryId')) . PHP_EOL; ?>
                    <div class="form-group">
                        <?php echo $this->formRow($addMerchantCategoryForm->get('parentId')) . PHP_EOL; ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formRow($addMerchantCategoryForm->get('categoryName')) . PHP_EOL ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formRow($addMerchantCategoryForm->get('status')) . PHP_EOL; ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formRow($addMerchantCategoryForm->get('shortDescription')) . PHP_EOL; ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formRow($addMerchantCategoryForm->get('fullDescription')) . PHP_EOL; ?>
                    </div>
                    <!-- End Of Main category block -->
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <!-- Additional category block -->
                    <div class="form-group">
                        <?php echo $this->formRow($addMerchantCategoryForm->get('skuRules')) . PHP_EOL; ?>
                        <?php echo $this->formRow($addMerchantCategoryForm->get('skuRulesNr')) . PHP_EOL; ?>
                    </div>
                </div>
                <!-- End Of SEO category block -->
            </div>
            <div class="modal-footer">
                <!-- End Of Additional category block -->
                <?php echo $this->formRow($addMerchantCategoryForm->get('csrf')); ?>
                <div class="form-group pull-right tag-margin">
                    <?php echo $this->formRow($addMerchantCategoryForm->get('submitAddMerchantCategoryForm')) . PHP_EOL; ?>
                </div>
                <div class="form-group pull-right tag-margin">
                    <?php echo $this->formRow($addMerchantCategoryForm->get('cancelAddMerchantCategoryForm')) . PHP_EOL; ?>
                </div>
                <?php echo $this->form()->closeTag() . PHP_EOL; ?>
            </div>
        </div>
    </div>
</div>
