<?php
//Start the basic information form
echo $this->form()->openTag($productsBasicInformationForm);

echo $this->formRow($productsBasicInformationForm->get('productId'));

echo $this->formRow($productsBasicInformationForm->get('productDefinitionsId'));

echo $this->formRow($productsBasicInformationForm->get('csrf'));
?>

<div class="row">
    <div class="col-md-4 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('shortProductName')); ?>
    </div>
    <div class="col-md-5 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('productName')); ?>
    </div>
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('productTypeId')); ?>
    </div>
</div>

<div class="row">
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('style')); ?>
    </div>
    <div class="col-md-3 form-group barcode-container">
        <?php echo $this->formRow($productsBasicInformationForm->get('ean13')); ?>
        <?php
        $barcodeValue = $productsBasicInformationForm->get('ean13')->getValue();
        if (empty($barcodeValue)) {
            ?>
            <div class="barcode-refresh">
                <i class="icon-refresh"></i>
            </div>
        <?php
        }
        ?>
    </div>
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('supplierReference')); ?>
    </div>
    <div class="col-md-3 form-group">
        <?php //echo $this->formRow($productsBasicInformationForm->get('manufacturerId')); ?>
    </div>
</div>

<div class="row">
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('sku')); ?>
    </div>
    <div class="col-md-3">
         <?php echo $this->formLabel($this->productsBasicInformationForm->get('makeLive')) . PHP_EOL; ?>
        <div class="input-group date publish-date" data-date="<?php echo date('Y-m-d'); ?>T00:00:00Z" data-date-format="yyyy-mm-dd HH:ii:ss" data-link-field="publish-date">
            <?php echo $this->formElement($this->productsBasicInformationForm->get('makeLive')) . PHP_EOL; ?>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <?php echo $this->formElementErrors($this->productsBasicInformationForm->get('makeLive')) . PHP_EOL; ?>
    </div>
    <input id="publish-date" type="hidden" value="">
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('urlName')); ?>
    </div>
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('careInformation')); ?>
    </div>
</div>

<div class="row">
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('channels')); ?>
    </div>
    <div class="col-md-3 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('websites')); ?>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('tags')); ?>
    </div>
    <div class="col-md-12 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('misSpells')); ?>
    </div>
    <div class="col-md-12 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('shortDescription')); ?>
    </div>
    <div class="col-md-12 form-group">
        <?php echo $this->formRow($productsBasicInformationForm->get('longDescription')); ?>
    </div>
</div>

<div class="form-group">
    <?php echo $this->formRow($productsBasicInformationForm->get('metaTitle')); ?>
</div>

<div class="form-group">
    <?php echo $this->formRow($productsBasicInformationForm->get('metaKeyword')); ?>
</div>

<div class="form-group">
    <?php echo $this->formRow($productsBasicInformationForm->get('metaDescription')); ?>
</div>

<div class="hidden" id="websites-currencies-connector" data-json='<?php echo json_encode($currencyConfig); ?>'></div>
<div class="row">
    <?php

    $showCurrencies = array();
    $websitesSelected = $productsBasicInformationForm->get('websites')->getValue();
    if (count($websitesSelected) > 0) {
        foreach ($websitesSelected as $websiteId) {
            if (isset($currencyConfig[$websiteId])) {
                $showCurrencies[] = $currencyConfig[$websiteId];
            }
        }
    }
    //Output the prices form
    if (isset($currenciesPriceTypeMatrix) && count($currenciesPriceTypeMatrix) > 0) {
        foreach ($currenciesPriceTypeMatrix as $currency => $priceTypes) {
            if (isset($currency) && trim($currency) != '' && is_array($priceTypes) && count($priceTypes) > 0) {
                if (count($showCurrencies) > 0 && in_array($currency, $showCurrencies)) {
                    $containerDisplay = 'block';
                } else {
                    $containerDisplay = 'none';
                }
                ?>
                <div class="col-md-4 form-group product-price-container" id="product-price-container-<?php echo $currency; ?>" style="display:<?php echo $containerDisplay;?>">
                    <div class="price-container">
                        <h3><?php echo $currency; ?> Prices</h3>
                        <?php
                        foreach ($priceTypes as $priceTypeKey => $priceTypeVal) {
                            $priceTypeValue = $priceTypeVal['name'];
                            $priceTypeHoverText = $priceTypeVal['hoverText'];
                            if (trim($priceTypeValue) != '') {
                                $elementName = $priceTypeKey . ucfirst(strtolower($currency));
                                ?>
                                <div><?php echo $this->formElementErrors($productsBasicInformationForm->get($elementName)); ?></div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon moreInfo" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<?php echo $priceTypeHoverText; ?>" data-trigger="hover" data-html="true" data-original-title="" title=""><?php echo $priceTypeValue; ?></span>
                                    <?php
                                        $formElement = $productsBasicInformationForm->get($elementName);
                                        if($containerDisplay == 'none') {
                                            $formElement->setValue('not_set');
                                        }
                                        echo $this->formElement($formElement);
                                    ?>
                                </div><!-- End form control -->
                                <?php
                            }
                        }
                        ?>
                    </div>
                </div>
            <?php
            }
        }
    }
    ?>
</div>

<div class="form-group">
<table width="50%">
<tr>
    <td><?php echo $this->formRow($productsBasicInformationForm->get('productSupplierPrice')); ?></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><?php echo $this->formRow($productsBasicInformationForm->get('productSupplierCurrency')); ?></td>
</tr>
</table>


</div>

<?php
//echo $this->partial('prism-products-manager/products/partials/add-edit/modal/partial-add-poduct-supplier-price-form', array(
    //'productTaxTerritoriesArray' => $productTaxTerritoriesArray,
    //'mainProduct' => true,
    //'productId' => $productId,
    //'variantIds' => ''
//));
?>

<?= $this->partial('prism-products-manager/products/partials/add-edit/modal/partial-add-tax-form', array(
    'productTaxTerritoriesArray' => $productTaxTerritoriesArray,
    'mainProduct' => true,
    'productId' => $productId,
    'variantIds' => ''
));
?>
<div>
    <?php
    if ($productId > 0) {
        echo $this->formRow($productsBasicInformationForm->get('updateProductSaveAndContinue'));
        echo $this->formRow($productsBasicInformationForm->get('updateProductSaveAndClose'));
    } else {
        echo $this->formRow($productsBasicInformationForm->get('createProductSaveAndContinue'));
        echo $this->formRow($productsBasicInformationForm->get('createProductSaveAndClose'));
    }
    ?>
</div>

<?php
//End the form
echo $this->form()->closeTag();