<div class="clearfix"></div>
<?php if ($this->reachedLimit): ?>
    <div class="alert alert-warning" role="alert">Showing first 15 results. Please narrow your search.. </div>
<?php endif; ?>

<?php if (!empty($this->products)): ?>
    <div class="pull-left">
        <button type="button" class="btn btn-default btn-primary move-all-to-pool" data-toggle="tooltip" data-placement="right" title="" data-original-title="Add all products to related pool.">
            <div class="" style="display: block;">
                Add all <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
        </button>
    </div>
    <div class="clearfix margin-bottom"></div>
<?php endif; ?>

<div class="ui-widget ui-helper-clearfix">
    <ul id="related-products-search-pool" class="related-products-pool ui-helper-reset ui-helper-clearfix">
        <?php if (!empty($this->products)): ?>
            <?php foreach ($this->products as $product): ?>
                <li class="ui-widget-content ui-corner-tr image-holder" data-variantid="<?php echo $product['productAttributeId'] ?>">
                    <h5 class="ui-widget-header"><?php echo $product['shortProductName']; ?></h5>
                    <img src="<?php echo $product['image_thumb'] ?>" alt="<?php $product['shortProductName']; ?>">
                    <div class="image-layer">
                        <?php echo $product['sku']; ?>
                    </div>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>

    </ul>

    <div id="related-products-pool" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Related Products</span> Related Products</h4>
        <ul class="related-products-pool ui-helper-reset ">
            <!-- Existing related products -->
            <?php if (!empty($this->relatedProducts)): ?>
                <?php foreach ($this->relatedProducts as $relatedProducts): ?>
                    <li class="ui-widget-content ui-corner-tr image-holder ui-draggable" style="display: list-item; width: 120px;" data-variantid="<?php echo $relatedProducts['productAttributeId'] ?>">
                        <span class="remove-saved-related-product glyphicon glyphicon-trash">&nbsp;</span>
                        <h5 class="ui-widget-header"><?php echo $relatedProducts['shortProductName']; ?></h5>
                        <img style="display: inline-block; height: 100px;" src="<?php echo $relatedProducts['image_thumb'] ?>" alt="<?php $relatedProducts['shortProductName']; ?>">
                        <div class="image-layer">
                            <?php echo $relatedProducts['sku']; ?>
                        </div>
                    </li>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>
