<?php
if ($productAlreadySavedInSpectrum && $allSavedVariants['dataCount'] == 0) {
    ?>
    <div id="add-edit-variants-alerts-container">
        <div id="variant-attributes-modal-alert-success" class="alert alert-info fade in" role="alert">
            <i class="icon-info"></i>
            This product has already been created in SPECTRUM without variants. You cannot create variants for this product!
        </div>
    </div>
    <?php
} elseif ($productType == 3) {
    // the product is an e-voucher, we will disable variant creation
    ?>
    <div id="add-edit-variants-alerts-container">
        <div id="variant-attributes-modal-alert-success" class="alert alert-info fade in" role="alert">
            <i class="icon-info"></i>
            This product is an EVOUCHER so you cannot create variants for it!
        </div>
    </div>
    <?php
} elseif ($productType == 4) {
    // the product is of type 'COLLECTION'. It's variants will be created without any sku rules in place
    echo $this->partial('prism-products-manager/products/partials/add-edit/variant-creation/create-collection-variants', array(
        'allSavedVariants' => $allSavedVariants,
        'successMessageForVariantAttributesSaving' => $successMessageForVariantAttributesSaving,
        'productStatus' => $productStatus,
        'productId' => $productVariantCreationForm->get('productId')->getValue(),
        'createCollationVariantsForm' => $this->createCollationVariantsForm,
        'productVariantCreationForm' => $this->productVariantCreationForm
    ));
} else {
    echo $this->partial('prism-products-manager/products/partials/add-edit/variant-creation/create-variants-from-sku-rules', array(
        'productVariantCreationForm' => $this->productVariantCreationForm,
        'allSavedVariants' => $allSavedVariants,
        'successMessageForVariantAttributesSaving' => $successMessageForVariantAttributesSaving,
        'productStatus' => $productStatus,
    ));
}
?>