<div class="clearfix<?php echo $marginTop; ?>">
    <h4><?php echo $attributeType; ?> Attributes</h4>
    <div class="row">
        <?php
        foreach ($attributeArray as $attributeArrayKey => $attributeArrayValues) {
            $fieldName = $attributeArrayValues['name'];
            $viewAs = strtolower($attributeArrayValues['viewAs']);
            $showDiv = true;
            switch ($viewAs) {
                case 'select' :
                    $divClass = ' select';
                    $showDiv = (count($attributeArrayValues['values']) > 0) ? true : false;
                    break;
                case 'checkbox' :
                    $divClass = ' checkbox';
                    break;
                case 'radio' :
                    $divClass = ' radio';
                //break;
                default :
                    $divClass = ' form-group';
            }
            if ($showDiv) :
                if($type == 'new') :
                    ?>
                    <div class="col-md-4">
                        <div class="new-attributes-container">
                            <div class="new-attributes-delete-button" data-attribute-name="<?php echo $fieldName; ?>">x</div>
                            <div class="<?php echo $divClass; ?>">
                                <?php echo $this->formRow($productAttributesSelectForm->get($fieldName)); ?>
                                <?php echo $this->formRow($productAttributesSelectForm->get('not_use_'.$fieldName)); ?>
                            </div>
                        </div>
                    </div>
                    <?php
                else:
                    ?>
                    <div class="col-md-4">
                        <div class="<?php echo $divClass; ?>">
                            <?php echo $this->formRow($productAttributesSelectForm->get($fieldName)); ?>
                        </div>
                    </div>
                    <?php
                endif;
                ?>
            <?php
            endif;
        }
        ?>
    </div>
    <hr>
</div>




                        