<?php
//Start the product attributes form
echo $this->form()->openTag($productAttributesSelectForm);
//Has the client setup any attributes?
if (count($dynamicallyGeneratedAttributes) > 0) {
    echo $this->formRow($productAttributesSelectForm->get('productId'));
    echo $this->formRow($productAttributesSelectForm->get('variantId'));
    echo $this->formRow($productAttributesSelectForm->get('csrf'));
    echo $this->formRow($productAttributesSelectForm->get('submitButtonName'));
    $position = 0;
    foreach ($dynamicallyGeneratedAttributes as $attributeType => $attributeArray) {
        if (isset($attributeType) && trim($attributeType) != '' && isset($attributeArray) && count($attributeArray) > 0) {
            $marginTop = ($position > 0 ) ? ' margin-top-20' : '';
            if ($attributeType == 'new') {
                foreach ($attributeArray as $realAttributeType => $realAttributeArray) {
                    echo $this->partial('prism-products-manager/products/partials/add-edit/partial-mandatory-attributes-form-row', array(
                        'marginTop' => $marginTop,
                        'attributeType' => '<span class="green-bold-span">'.ucwords($attributeType. ' '. $realAttributeType. ' Attributes').'<span>',
                        'attributeArray' => $realAttributeArray,
                        'productAttributesSelectForm' => $productAttributesSelectForm,
                        'type' => 'new'
                    ));
                    $position++;
                }
            } else {
                echo $this->partial('prism-products-manager/products/partials/add-edit/partial-mandatory-attributes-form-row', array(
                    'marginTop' => $marginTop,
                    'attributeType' => ucwords($attributeType),
                    'attributeArray' => $attributeArray,
                    'productAttributesSelectForm' => $productAttributesSelectForm,
                    'type' => 'existing'
                ));
            }
        }
        $position++;
    }
    ?>
    <div><?= $this->formRow($productAttributesSelectForm->get('createProductAddAttributes')); ?></div>
    <?php
} else {
    ?>
    <div data-dismiss="alert" class="alert alert-error fade in">
        <a class="close" data-dimdiss="alert">x</a>
        <i class="icon-error"></i>
        <strong>Error:</strong>
        No attributes are available for the selected marketing categories. Please add attributes available to the marketing categories you selected or choose a different marketing categories.
    </div>
    <?php
}
?>

<?php
//End the form
echo $this->form()->closeTag();
?>




                        