<?php
//Start the marketing form
echo $this->form()->openTag($marketingCategorySelectForm);
echo $this->formRow($marketingCategorySelectForm->get('productId'));
echo $this->formRow($marketingCategorySelectForm->get('csrf'));
?>
<div id="marketing-hidden-tag-list">    
    <?php
    //When the page loads, we need to build the categories list hidden fields if it had been selected
    if (isset($productMarketingCategories['categoryList']) && is_array($productMarketingCategories['categoryList']) && count($productMarketingCategories['categoryList']) > 0) {
        foreach ($productMarketingCategories['categoryList'] as $productId => $productCategoryNames) {
            //Ensure we have a productId and category name is not empty.
            if ($productId > 0 && trim($productCategoryNames) != '') {
                ?>
                <input type="hidden" id="hidden-<?php echo $productId; ?>" name="categoryId[]" value="<?php echo $productId; ?>">
                <?php
            }
        }
    }
    ?>
</div>
<div class="row">
    <div data-category-level="1" class="col-md-3 form-group">
        <?= $this->formRow($marketingCategorySelectForm->get('marketingCategory1')); ?>
    </div>
</div>
<div class="row"></div>

<div class="form-group">
    <?= $this->formRow($marketingCategorySelectForm->get('addSelectedCategory')); ?>
</div>

<ul class="tag-list" id="marketing-category-taglist">
    <?php
    if (isset($productMarketingCategories['categoryList'])
        && is_array($productMarketingCategories['categoryList'])
        && count($productMarketingCategories['categoryList']) > 0)
    {
        $defaultMarketingCategory = isset($productMarketingCategories['defaultCategory']) ?
                                    $productMarketingCategories['defaultCategory'] : 0;
        foreach ($productMarketingCategories['categoryList'] as $categoryId => $productCategoryNames) {
            //Ensure we have a productId and category name is not empty.
            if ($categoryId > 0 && trim($productCategoryNames) != '') {
                $productCategoryNames = str_replace(' --> ', ' &Rarr; ', $productCategoryNames);
                $removeTooltip = 'data-container="body" data-toggle="popover" data-placement="bottom" data-content="Remove this category" data-html="true" data-trigger="hover" data-original-title=""';
                $defaultTooltip = 'data-container="body" data-toggle="popover" data-placement="bottom" data-content="Set as default category" data-html="true" data-trigger="hover" data-original-title=""';
                $toolTipColor = '';
                $defaultCategoryClassName = ' set-as-default-marketing-category';
                if ($defaultMarketingCategory > 0 && $defaultMarketingCategory == $categoryId) {
                    $defaultCategoryClassName = ' fully-visible';
                    $toolTipColor = ' text-success';
                    $defaultTooltip = 'data-container="body" data-toggle="popover" data-placement="bottom" data-content="Default category" data-html="true" data-trigger="hover" data-original-title=""';
                }
                ?>
                <li id="li-<?php echo $categoryId; ?>"><?php echo $productCategoryNames; ?> &nbsp;  
                    <span category-id="<?php echo $categoryId; ?>" <?php echo $defaultTooltip; ?> class="glyphicon glyphicon-ok moreInfo cursor-pointer<?php echo $toolTipColor . $defaultCategoryClassName; ?>"></span>
                    <span category-id="<?php echo $categoryId; ?>" <?php echo $removeTooltip; ?> class="glyphicon glyphicon-remove-circle remove-marketing-category-taglist moreInfo cursor-pointer"></span>
                </li> 
                <?php
            }
        }
    }
    ?>
</ul>

<?= $this->formRow($marketingCategorySelectForm->get('productMarketingCategoryCount')); ?>
<div class="col-md-12 form-group">
    <?= $this->formRow($marketingCategorySelectForm->get('submitMarketingCategoryForm')); ?>
</div>

<?php
//End the form
echo $this->form()->closeTag();
?>
<form name="setAsDefaultMarketingCategoryForm" method="post" action="/products/add/<?php echo $productId; ?>/3">
    <input type="hidden" name="productId" value="0">
    <input type="hidden" name="variantId" value="<?php echo isset($variantId) ? $variantId : 0; ?>">
    <input type="hidden" name="categoryId" value="0">
    <input type="hidden" name="apply-to-variants" value="0">
    <input type="hidden" name="setAsDefaultMarketingCategory" value="1">
</form>

<form name="deleteProductMarketingCategoryForm" method="post" action="/products/add/<?php echo $productId; ?>/3">
    <input type="hidden" name="productId" value="0">
    <input type="hidden" name="variantId" value="<?php echo isset($variantId) ? $variantId : 0; ?>">
    <input type="hidden" name="categoryId" value="0">
    <input type="hidden" name="applyToAllVariants" value="0">
    <input type="hidden" name="deleteProductMarketingCategory" value="1">
</form>