
<div class="table-responsive">
    <div id='no-more-tables'>
        <table class="table table-hover"  id="variant-creation-table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check-all-variants">
                </th>
                <th>Image</th>
                <th class="merchant-attr-1">Colours</th>
                <th class="merchant-attr-2">Sizes</th>
                <th>Sku</th>
                <th>Barcode</th>
                <th>Active</th>
                <th>Modified</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="product-variations">


            <?php

            if (isset($allSavedVariants) && is_array($allSavedVariants) && isset($allSavedVariants['dataCount']) && $allSavedVariants['dataCount'] > 0) {
                if (isset($allSavedVariants['data']) && $allSavedVariants['data']) {
                    foreach ($allSavedVariants['data'] as $key => $variantData) {

                        ?>
                        <tr data-variantid="<?php echo $variantData['productAttributeId']; ?>">
                            <td>
                                <input type="checkbox" name="removeVariants[]" class="remove-variants" value="<?php echo $variantData['productAttributeId']; ?>" data-sku="<?php echo $variantData['sku']; ?>" data-product-id="<?php echo $productId; ?>">
                            </td>
                            <td data-title="Image"><img src="<?php echo $this->productImageHelper($productId, $variantData['productAttributeId'] , 'default', 'product-listing'); ?>"></td>
                            <td data-title="Colour"><?php echo isset($variantData['skuRule1']) ? $variantData['skuRule1'][key($variantData['skuRule1'])] : '<span class="no-sku-rules-field">---</span>'; ?></td>
                            <td data-title="Size"><?php echo isset($variantData['skuRule2']) ? $variantData['skuRule2'][key($variantData['skuRule2'])] : '<span class="no-sku-rules-field">---</span>'; ?></td>
                            <td data-title="Sku">
                                <?php if ($this->skuIsEditable($variantData['productAttributeId'])): ?>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control sku-change-input" data-variant="<?php echo $variantData['productAttributeId']; ?>" value="<?php echo $variantData['sku']; ?>" rel="3">
                                    </div>
                                    <div class="col-xs-4">
                                        <input name="save-sku-for-variant" type="submit" data-variant="<?php echo $variantData['productAttributeId']; ?>" class="btn btn-success pull-right save-sku-for-variant" value=" Save ">
                                    </div>
                                <?php else: ?>
                                    <?php echo $variantData['sku']; ?>
                                <?php endif; ?>
                            </td>
                            <td data-title="Barcode">
                                <input type="text" readonly="readonly" name="barcode[]" class="barcode-text" value="<?php echo $variantData['ean13']; ?>">
                            </td>
                            <td data-title="Active">
                                <?php
                                    if($this->productStatus == 'ACTIVE') {
                                        switch (strtolower($variantData['status'])) {
                                            case 'active':
                                                echo '<a href="#" class="btn btn-sm btn-success  change-variant-status" data-product-id="'.$productId.'" data-flag="0" data-variant-id="'.$variantData['productAttributeId'].'">Deactivate</a>';
                                                break;
                                            case 'inactive':
                                                echo '<a href="#" class="btn btn-sm btn-danger change-variant-status" data-product-id="'.$productId.'" data-flag="1" data-variant-id="'.$variantData['productAttributeId'].'">Activate</a>';
                                                break;
                                            default:
                                                echo '';
                                        }
                                    } else {
                                        echo $variantData['status'];
                                    }

                                ?>
                            </td>
                            <td data-title="Modified"><?php echo $variantData['modified']; ?></td>
                            <td data-title="Options" style='height:37px;'>
                                <fieldset class="crud-buttons pull-left">
                                    <div class="dropdown">
                                        <a href="javascript:{}" data-toggle="dropdown" id="dropdownMenu1" class="btn  btn-default">
                                            <span class="glyphicon glyphicon-align-justify"></span> &nbsp;Options
                                        </a>
                                        <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                                            <li role="presentation">
                                                <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                                                   data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                                   class="change-variant-prices" tabindex="-1" role="menuitem">
                                                    <span class="glyphicon glyphicon-edit"></span> Change Price
                                                </a>
                                                <!-- view images button -->
                                                <!--<a href="#" data-toggle="modal" data-target="#view-images" tabindex="-1" role="menuitem">
                                                    <span class="glyphicon glyphicon-wrench"></span> Manage Images Pop-Up
                                                </a>-->
                                                <a href="/media/product/<?=$productId?>/<?=$variantData['productAttributeId']?>" id="view-images-<?=$variantData['productAttributeId']?>">
                                                    <span class="glyphicon glyphicon-wrench"></span> Manage Images Screen
                                                </a>
                                                <!-- end view images button -->
                                                <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                                                    data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                                    class="change-variant-attributes" tabindex="-1" role="menuitem">
                                                    <span class="glyphicon glyphicon-edit"></span> Manage Attributes
                                                </a>
                                                <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                                                   data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                                   class="change-variant-tax" tabindex="-1" role="menuitem">
                                                    <span class="glyphicon glyphicon-edit"></span> Manage Tax
                                                </a>
                                                <a href="#" data-toggle="modal" data-product-id="<?php echo $productId; ?>"
                                                   data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                                   id="manage-variant-marketing-category-<?php echo $variantData['productAttributeId']; ?>"
                                                   class="manage-variant-marketing-category" tabindex="-1" role="menuitem">
                                                    <span class="glyphicon glyphicon-edit"></span> Manage Marketing Categories
                                                </a>
                                                <a href="#" data-toggle="modal" data-just-one="1" data-product-id="<?php echo $productId; ?>"
                                                   data-variant-id="<?php echo $variantData['productAttributeId']; ?>"
                                                   id="manage-variant-basic-details-<?php echo $variantData['productAttributeId']; ?>"
                                                   class="manage-variant-basic-details" tabindex="-1" role="menuitem">
                                                    <span class="glyphicon glyphicon-edit"></span> Manage Basic Details
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                    <?php
                    }
                }
            }
            ?>
            </tbody>
            <tfoot id='table-add-variant-footer'>
            <tr>
                <th></th>
                <th></th>
                <th>All</th>
                <th>All</th>
                <th>Sku</th>
                <th></th>
                <th>Status</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>