<?php
//Start the product activation form
echo $this->form()->openTag($productsActivationForm);

echo $this->formRow($productsActivationForm->get('csrf'));
echo $this->formRow($productsActivationForm->get('productId'));
?>

<div class="form-group hide show-product-name-div">
    <label>Product Name: <span class="show-product-name"></span></label>
</div>

<div class="row">
    <div class="col-md-6">
        <?php echo $this->formRow($productsActivationForm->get('versionId')); ?>
    </div>

    <div class="col-md-6">
        <a <a href='/media/product/<?php echo $productId ?>/0' data-productid="<?php echo $productId ?>" class="show-product-images">
            <img class= "pull-right" src="<?php echo ($productId ? $this->productImageHelper($productId, 0, 'default', 'product-main'):''); ?>" width="150" height="150">
        </a>
    </div>
</div>

<div class="form-group">
    <?php echo $this->formRow($productsActivationForm->get('versionDescription')); ?>
</div>


<div class="col-md form-group">
    <?php //echo $this->formRow($productsActivationForm->get('status')); ?>
</div>

<div class="row">
    <div class="col-md-6">
        <a href='/media/product/<?php echo $productId ?>/0' data-productid="<?php echo $productId ?>"
           class="show-product-images btn btn-primary pull-left">
            <i class="glyphicon glyphicon-upload"></i> Edit Product Images
        </a>
    </div>
    <div class="col-md-6">
        <?php
        if
          ($productId):
            if (strtolower($productStatus) == 'active') :
                //Add the activate button
                echo $this->formRow($productsActivationForm->get('deactivateProduct'));
            else :
                //Add the activate button
                echo $this->formRow($productsActivationForm->get('activateProduct'));
            endif;
        endif;
        ?>
       
    </div>
</div>

<?php
//End the form
echo $this->form()->closeTag();




