<?php
//Start the product attributes form
echo $this->form()->openTag($productRelatedProductsForm);

echo $this->formRow($productRelatedProductsForm->get('productId'));
echo $this->formRow($productRelatedProductsForm->get('isVariant'));
echo $this->formRow($productRelatedProductsForm->get('relatedProductId'));
echo $this->formRow($productRelatedProductsForm->get('action'));
echo $this->formRow($productRelatedProductsForm->get('csrf'));
?>
<fieldset class="form-group">
    <?php echo $this->formRow($productRelatedProductsForm->get('productSearch')); ?>
</fieldset>

<ul class="tag-list">
    <?php
    $relatedProductsArray = $this->productRelatedProducts;
    $relatedProductCount = count($relatedProductsArray);
    if ($relatedProductCount > 0) {
        foreach ($relatedProductsArray as $key => $relatedProducts) {

            $isVariant = $relatedProducts['isVariant'] == true ? 1 : 0;

            if ($isVariant == 0) {
                if (trim($relatedProducts['relatedProduct']) != '') {
                ?>
                <li title="Product - <?php echo $relatedProducts['relatedProduct']; ?>"><?php echo $relatedProducts['relatedProduct']; ?> 
                    <span is-variant="<?php echo $isVariant; ?>" product-id="<?php echo $relatedProducts['productId']; ?>" related-product-id="<?php echo $relatedProducts['relatedProductId']; ?>" class="glyphicon glyphicon-remove-circle delete-related-product"></span>
                </li>
                <?php
                }
            } else {
                if (trim($relatedProducts['relatedProductVariant']) != '') {
                ?>
                <li title="A variant of the product - <?php echo $relatedProducts['relatedProduct']; ?>"><?php echo $relatedProducts['relatedProductVariant']; ?> 
                    <span is-variant="<?php echo $isVariant; ?>" product-id="<?php echo $relatedProducts['productId']; ?>" related-product-id="<?php echo $relatedProducts['relatedProductId']; ?>" class="glyphicon glyphicon-remove-circle delete-related-product"></span>
                </li>
                <?php
                }
            }
        }
    }
    ?>

</ul>

<div>
    <?php echo $this->formRow($productRelatedProductsForm->get('finishAndClose')); ?>
    <?php echo $this->formRow($productRelatedProductsForm->get('saveRelatedProduct')); ?>
</div>

<?php
//End the form
echo $this->form()->closeTag();
