<?php
if ($productAlreadySavedInSpectrum) {
    ?>
    <div data-category-level="1" class="col-md-3 form-group">
        <?= $this->formRow($merchantCategoryForm->get('merchantCategory1')->setAttribute('disabled', 'disabled')); ?>
    </div>
    <?php
    if (count($productMerchantCategories) > 0) {
        $currentLevel = 2;
        foreach ($productMerchantCategories as $parentId => $parentDetails) {
            ?>
            <div class="col-md-3 form-group">
                <label>&nbsp;</label>
                <?php
                if (isset($parentDetails) && is_array($parentDetails) && count($parentDetails) > 0 && isset($parentDetails['siblings']) && count($parentDetails['siblings'] > 0)) {
                    foreach ($parentDetails as $parentDetailsKey => $parentDetailsValues) {
                        if ($parentDetailsKey == 'selected') {
                            if (isset($parentDetailsValues['productMerchantCategoryId'])) {
                                $selectedId = $parentDetailsValues['productMerchantCategoryId'];
                            }
                        }
                        if ($parentDetailsKey == 'siblings') {
                            $siblingsCount = count($parentDetails['siblings']);
                            ?>
                            <select class="selecteze selectized" disabled>
                                <option value="0">Choose category</option>
                                <?php
                                foreach ($parentDetailsValues as $optionValue => $optionText) {
                                    if (isset($selectedId) && $optionValue == $selectedId) {
                                        ?>
                                        <option value="<?= $optionValue ?>"><?= $optionText; ?></option>
                                        <?php
                                    }
                                }
                                ?>
                            </select>
                        <?php
                        }
                    }
                }
                ?>
            </div>
            <?php
            $currentLevel++;
        }
    }
    ?>
    <div class="clearfix"></div>
    <div class="alert alert-info merchant-category-alert" role="alert">
        <i class="icon-info"></i>Cannot change the category anymore because the product has been saved in SPECTRUM.
    </div>
    <?php
} else {
    //Start the merchant form
    echo $this->form()->openTag($merchantCategoryForm);
    echo $this->formRow($merchantCategoryForm->get('fetchSkuBuildingRules'));
    echo $this->formRow($merchantCategoryForm->get('productMerchantCategoryId'));
    echo $this->formRow($merchantCategoryForm->get('productId'));
    echo $this->formRow($merchantCategoryForm->get('csrf'));
    ?>
    <div data-category-level="1" class="col-md-3 form-group">
        <?= $this->formRow($merchantCategoryForm->get('merchantCategory1')); ?>
    </div>
    <?php
    if (count($productMerchantCategories) > 0) {
        $currentLevel = 2;
        foreach ($productMerchantCategories as $parentId => $parentDetails) {
            ?>
            <div class="col-md-3 form-group level<?= $currentLevel; ?>" data-category-level="<?= $currentLevel; ?>">
                <label for="merchant-category-<?= $currentLevel; ?>">&nbsp;</label>
                <?php
                if (isset($parentDetails) && is_array($parentDetails) && count($parentDetails) > 0 && isset($parentDetails['siblings']) && count($parentDetails['siblings'] > 0)) {
                    foreach ($parentDetails as $parentDetailsKey => $parentDetailsValues) {
                        if ($parentDetailsKey == 'selected') {
                            if (isset($parentDetailsValues['productMerchantCategoryId'])) {
                                $selectedId = $parentDetailsValues['productMerchantCategoryId'];
                            }
                        }
                        if ($parentDetailsKey == 'siblings') {
                            $siblingsCount = count($parentDetails['siblings']);
                            ?>
                            <select class="selecteze selectized merchant-category sub-merchant-category" data-children-count="<?= $siblingsCount; ?>" id="merchant-category-<?= $currentLevel ?>" name="merchantCategory<?= $currentLevel; ?>">
                                <option value="0">Choose category</option>
                                <?php
                                foreach ($parentDetailsValues as $optionValue => $optionText) {
                                    $selectedOption = (isset($selectedId) && $optionValue == $selectedId) ? 'selected="selected"' : '';
                                    ?>
                                    <option value="<?= $optionValue ?>" <?= $selectedOption; ?>><?= $optionText; ?></option>
                                    <?php
                                }
                                ?>
                            </select>
                            <?php
                        }
                    }
                }
                ?>
            </div>
            <?php
            $currentLevel++;
        }
    }
    ?>
    <div class="clearfix"></div>
    <div class="alert alert-info merchant-category-alert" role="alert">
        Merchant category is used to set the sku building rule.
        This cannot be changed once a variant has been created for this product.
    </div>
    <div class="col-md-12 form-group">
        <?= $this->formRow($merchantCategoryForm->get('submitMerchantCategoryForm')); ?>
    </div>
    <?php
    echo $this->form()->closeTag();
}
?>