<div class="row">

    <?php //Start the product add on form
        echo $this->form()->openTag($productsAddOnForm);
        echo $this->formRow($productsAddOnForm->get('csrf'));
        echo $this->formRow($productsAddOnForm->get('productId'));
    ?>
        <div class="col-md-3" >
            <label for="product-add-on-search">Find Add On Product</label>
            <input type="text"
                   class="form-control search-products"
                   name="product-add-on-search"
                   placeholder="Search by SKU or Name"
                   id="product-add-on-search"
            />

        </div>
        <div class="col-md-4">
            <label for="">Select Variants to add to</label>
            <select multiple="multiple" id="add-on-variants-select" name="add-on-variants-select[]">
                <?php if(isset($allSavedVariants['data']) && !empty($allSavedVariants['data'])){
                    $selectedProductIdFrom = "PRODUCTS_R_ATTRIBUTES";
                ?>
                    <?php foreach ($allSavedVariants['data']  as $variants) { ?>
                        <option class="slected-sku" value="<?php echo $variants['productAttributeId']; ?>"><?php echo $variants['sku']; ?></option>
                    <?php } ?>
                <?php } else {
                    $selectedProductIdFrom = "PRODUCTS";
                ?>
                    <option class="slected-sku" value="<?php echo $productId; ?>"><?php echo $productSku[0]; ?></option>
                <?php } ?>
            </select>
        </div>

        <div class="col-md-2 col-md-offset-10">
             <!-- Hidden Required Values -->
            <input type="hidden" name="productOrVariantIdAddOn" id="productOrVariantIdAddOn" />
            <input type="hidden" name="productOrVariantIdFrom" id="productOrVariantIdAddOnFrom" />
            <input type="hidden" name="selectedProductIdFrom" id="selectedProductIdFrom" value="<?php echo $selectedProductIdFrom; ?>" />

            <?php echo $this->formRow($productsAddOnForm->get('saveProductAddOn')); ?>
        </div>
<?php
//End the form
echo $this->form()->closeTag(); ?>
</div>

<?php if ( isset($productAddOns) && count($productAddOns) > 0 && $productAddOns != false) {?>

<div class="row">

    <h3>Current Product Add-Ons</h3>

    <div class="col-md-10">

        <table id="table_id" class="table table-responsive">
            <thead>
            <tr>
                <th>Variant SKU</th>
                <th>Show Add Ons</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($productAddOns as $addOns) { ?>

            <tr id="add-on-sku-id-<?php echo $addOns['sku']; ?>">
                <td><?php echo $addOns['sku']; ?></td>
                <td><button data-target="#product-add-ons-modal" data-toggle="modal" data-variantid="<?php echo $addOns['productVariantId']; ?>" class="btn btn-success get-variant-add-ons">Show Add Ons</button></td>
            </tr>
            <?php } ?>
            </tbody>
        </table>


    </div>

</div>
<?php } ?>

<!-- Modal -->
<div id="product-add-ons-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Product Add Ons</h4>
            </div>
            <div id='product-add-on-table-body' class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>