<div class="pull-right col-xs-offset-1">
    <button class="btn btn-primary product-tab-add-new">Add new tab</button>
</div>
<div class="clear"></div>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <table class="table table-responsive valign-td">
            <thead>
                <tr>
                    <th width="5%">Id</th>
                    <th width="30%">Name</th>
                    <th width="65%"></th>
                </tr>
            </thead>
            <tbody>
            <?php if (is_array($this->productsTabs)): ?>
                <?php foreach ($this->productsTabs as $productTab): ?>
                    <tr>
                        <td><?php echo $productTab['productTabId']; ?></td>
                        <td><?php echo $productTab['productTabTitle']; ?></td>
                        <td>
                            <fieldset class="crud-buttons">
                                <button class="btn btn-primary btn-sm btn-xs activate-product-tab" data-status="<?php echo $productTab['status'] == 'ACTIVE' ? 1 : 0; ?>" data-product-id="<?php echo $this->productId; ?>" data-tab-id="<?php echo $productTab['productTabId']; ?>"><span class="glyphicon glyphicon-edit"></span>&nbsp;<span class="product-status-entry"><?php echo $productTab['status'] == 'ACTIVE' ? 'Deactivate' : 'Activate'; ?></span></button>
                                <button class="btn btn-warning btn-sm btn-xs edit-product-tab" data-product-id="<?php echo $this->productId; ?>" data-tab-id="<?php echo $productTab['productTabId']; ?>"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                                <button class="btn btn-danger btn-xs delete-product-tab" data-product-id="<?php echo $this->productId; ?>" data-tab-id="<?php echo $productTab['productTabId']; ?>"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
                            </fieldset>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6 col-xs-12">
        <?php //Start the product add on form
        echo $this->form()->openTag($this->productsTabsForm);
        echo $this->formRow($this->productsTabsForm->get('csrf'));
        echo $this->formRow($this->productsTabsForm->get('productId'));
        echo $this->formRow($this->productsTabsForm->get('productTabId'));
        ?>
        <div class="col-xs-10 col-xs-offset-1 row margin-bottom">
            <?php echo $this->formRow($this->productsTabsForm->get('product-tab-title')); ?>
        </div>
        <div class="col-xs-10 col-xs-offset-1 row margin-bottom">
            <?php echo $this->formRow($this->productsTabsForm->get('product-tab-content')); ?>
        </div>
        <div class="clear"></div>
        <div class="product-tab-action" style="text-align: center"> Action: Currently adding new tab</div>
        <div class="pull-right col-xs-offset-1">
            <?php echo $this->formRow($this->productsTabsForm->get('save-product-tab')); ?>
        </div>

        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>