<div class="row table-bordered margin-top-10">
    <div class="row show-more-transfer" data-show="Show prices" data-hide="Hide prices" style="text-align: center; cursor: pointer;">
        Show prices
    </div>
    <div style="display:none">
        <?php foreach ($this->allPrices as $key => $prices): ?>

            <?php if ($key % 10 == 0 && $key != 0): ?>
                    </tbody>
                </table>
            </div>
            <?php endif; ?>

            <?php if ($key % 10 == 0): ?>
            <div class="col-sm-3 datagrid">
                <table>
                    <tbody>
            <?php endif; ?>

            <?php
                $altClass = '';
                if ($key % 2 ==0) {
                  $altClass = 'alt';
                }
            ?>
            <tr class="<?php echo $altClass; ?>">
                <td><?php echo $prices['name']; ?></td>
                <td><strong><?php echo $prices['value']; ?></strong></td>
            </tr>
        <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            Supplier Price <?php echo $this->supplierPrice['price'] . ' ' . $this->supplierPrice['currencyCode']; ?>
        </div>
    </div>
</div>



