<div class="row table-bordered margin-top-10">
    <div class="row show-more-transfer" data-show="Show basic details" data-hide="Hide basic details" style="text-align: center; cursor: pointer;">
        Show basic details
    </div>
    <div style="display:none">
        <div class="col-md-5 table-bordered" style="margin:5px;padding:10px;text-align: center">
            <div class="row">
                <b>Short Product Name</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['shortProductName']; ?>
            </div>

        </div>
        <div class="col-md-5 table-bordered pull-right" style="margin:5px;padding:10px;text-align: center">
            <div class="row">
                <b>Product Name</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['productName']; ?>
            </div>
        </div>

        <div class="col-md-5 table-bordered" style="margin:5px;padding:10px;text-align: center">
            <div class="row">
                <b>Meta Title</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['metaTitle']; ?>
            </div>
        </div>
        <div class="col-md-5 table-bordered pull-right" style="margin:5px;padding:10px;text-align: center">
            <div class="row">
                <b>Meta Description</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['metaDescription']; ?>
            </div>
        </div>
        <div class="col-md-5 table-bordered" style="margin:5px;padding:10px;text-align: center">
            <div class="row">
                <b>Meta Keyword</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['metaKeyword']; ?>
            </div>
        </div>

        <div class="col-md-5 table-bordered pull-right" style="margin:5px;padding:10px;text-align: center">
            <div class="row">
                <b>Short Description</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['shortDescription']; ?>
            </div>
        </div>
        <div class="col-md-11 table-bordered" style="margin:5px 5px 5px 50px;padding:10px;text-align: center">
            <div class="row">
                <b>Long Description</b>
            </div>
            <div class="row">
                <?php echo $this->variantDetails['longDescription']; ?>
            </div>
        </div>
    </div>
</div>

