<div class="row table-bordered margin-top-10">
    <div class="row show-more-transfer" data-show="Show image details" data-hide="Hide image details" style="text-align: center; cursor: pointer;">
        Show image details
    </div>
    <div style="display:none">
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h4>Default Image</h4>
                <img height="100px" src="<?php echo $this->images['default_url']; ?>"/>
            </div>

            <div class="col-md-2">
                <h4>Menu Image</h4>
                <img height="100px" src="<?php echo $this->images['menu']; ?>"/>
            </div>

            <div class="col-md-2">
                <h4>Hover Image</h4>
                <img height="100px" src="<?php echo $this->images['hover']; ?>"/>
            </div>

            <div class="col-md-2">
                <h4>Basket Image</h4>
                <img height="100px" src="<?php echo $this->images['basket']; ?>"/>
            </div>

            <div class="col-md-2">
                <h4>Overlay Image</h4>
                <img height="100px" src="<?php echo $this->images['overlay']; ?>"/>
            </div>
        </div>

        <div class="col-md-12">
            <h4>Product page images</h4>
            <?php if (empty($this->images['images'])): ?>
                No images...
            <?php else: ?>
                <?php foreach ($this->images['images'] as $image): ?>
                    <div class="col-md-2">
                        <img height="150px" src="<?php echo $image; ?>" />
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>

