<?php
if (isset($this->bulkProductAction)) {
    $productCount = isset($this->bulkProductAction['productUpdatedArray']) ? count($this->bulkProductAction['productUpdatedArray']) : 0;
    $productNotCount = isset($this->bulkProductAction['productNotUpdatedArray']) ? count($this->bulkProductAction['productNotUpdatedArray']) : 0;
    if ($productCount > 0) {
        ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Success!</strong> <?php echo $productCount; ?> product(s) were updated
        </div>
        <?php
    }
    if ($productNotCount > 0) {
        ?>
        <div class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Error!</strong> The following product(s) could not be updated<br>
            <?php
                foreach ($this->bulkProductAction['productNotUpdatedArray'] as $skuName) {
                    echo $skuName . '<br>';
                }
            ?>
        </div>
        <?php
    }
}
?>