<div class="modal fade modal-big" id="bulk-delete-products" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                            
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Bulk Delete Products</h4>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="form-group">
                        <?php
                        echo $this->form()->openTag($this->bulkProductActionForm);
                        echo $this->formRow($this->bulkProductActionForm->get('csrf'));
                        echo $this->formRow($this->bulkProductActionForm->get('productCodes'));
                        ?>
                    </div>
                    <?php
                    //Add the generic partial that will display the message
                    echo $this->partial('prism-products-manager/products/partials/index/modal/bulk-product-message', array('bulkProductAction' => $bulkProductAction));
                    ?>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <?php
                        echo $this->formRow($this->bulkProductActionForm->get('deleteProductCodes'));
                        ?>
                    </div>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
