<?php
if(!empty($this->bulkResponse)){
if ($this->bulkResponse['error'] === true) {  ?>
<div  class="alert alert-error fade in">
    <a class="close" >x</a>
    <i class="icon-error"></i>
    <strong>Error:</strong>
    <?php
        foreach ($this->bulkResponse['message'] as $erors) {
            echo $erors;
            echo "<br>";
        }
    ?>
</div>

<?php

}elseif ($this->bulkResponse['error'] == false) {  ?>
    <div   class="alert alert-success fade in">
        <a class="close" >x</a>
        <i class="icon-success"></i>
        <strong>Success:</strong>
        <?php
            //echo $this->bulkResponse['countChanges'];
        foreach ($this->bulkResponse['message'] as $messages) {
            echo $messages;
            echo "<br>";
        }
        ?>
    </div>
<?php
}
}
?>


