<!--<input type="hidden" name="bulk-errors" value=""/>-->

<div class="dashboard-section full-width-container">

    <div class="row-fluid margin-top-15">

        <div class="col-md-6 col-lg-offset-3">
            <div class="dashboard-content-column">
                <!-- Bulk Download Form -->
                <h3>Download Template</h3>
                <div class="form-group">
                    <form action="/bulk-upload/" method="post" name="bulk-upload" enctype="multipart/form-data" id="bulk-download">
                        <label class="control-label" for="downloadType">Select Download Template *</label>
                        <select name="downloadType" class="selectize selectized" tabindex="-1" style="display:none">
                            <option value="All_Common_Attributes">All Common Attributes</option>
                            <option value="Common_Attributes_Cascade">Common Attributes Cascades</option>
                            <option value="Price">Prices</option>
                            <option value="Price_cascade">Prices Cascade</option>
                        </select>
                        <input type="submit" name="submit" class="btn btn-primary download-template" value="Download Template">
                    </form>
                </div>
                <hr>
                <h3>Upload Template</h3>
                <?php echo $this->partial('prism-products-manager/bulk-actions/partials/response-msg', array ('bulkResponse' => $this->bulkResponse)); ?>
                <!-- Bulk Upload Form -->
                <?php echo $this->partial('prism-products-manager/bulk-actions/partials/bulk-upload-form', array ('bulkUploadForm' => $this->uploadTemplateForm, 'url' => 'bulk-upload')); ?>
            </div><!-- End main content column -->
        </div><!-- End main column -->
    </div><!-- End row -->
</div><!-- End dashboard section -->