<?php
$defaultPriority = isset($this->products['defaultPriority']) ? $this->products['defaultPriority'] : '';
if (!empty($this->products) && ($this->products['productCount'] > 0 || $this->products['variantCount'] > 0)):
    foreach ($this->products as $product):
        if (isset($product) && is_array($product)) {
            //if (trim($product['style']) != '' && trim($product['variantColourCode']) != '') {
            if (trim($product['style']) != '') {
                $productPriotity = isset($product['priority']) ? $product['priority'] : $defaultPriority;
                $styleColour = $product['style'] . $product['variantColourCode'];
                ?>
                <tr class="new-product-added">
                    <td><?php echo $product['style']; ?></td>
                    <td><?php echo $product['variantColourCode']; ?></td>
                    <td><?php echo $product['productName']; ?></td>
                    <td>
                        <input type="text" size="10" class="form-control margin-bottom" readonly="readonly" value="<?php echo $product['variantColour']; ?>">
                    </td>
                    <td>
                        <?php if (trim($productPriotity) != '') { ?>
                        <input type="text" size="2" class="form-control margin-bottom" name="variantPriority[<?php echo $this->categoryId . '_' .$styleColour . '_'; echo $product['isMainProduct'] ? '0' : '1'; ?>]" value="<?php echo $productPriotity; ?>">
                        <?php } ?>
                    </td>
                    <td><?php echo $product['status']; ?></td>
                    <!-- <td>
                        <button onclick="javascript:deleteProductFromMarketingCategory(this)" data-product-id="<?php //echo $product['productId']; ?>" data-category-id="<?php //echo $this->categoryId; ?>" class="btn btn-danger pull-right margin-left delete-product-from-marketing-category">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            Delete
                        </button>
                    </td>-->
                </tr>
                <?php
            }
        }
    endforeach;
    ?>
            <tr>
                <td colspan="4"></td>
                <td>
                    <input type="hidden" class="categories-id" name="categoriesId" value="<?php echo $this->categoryId; ?>">
                    <input type="submit" class="btn btn-success btn-xs" value="Update Priority" name="updatePriority">
                </td>
                <td colspan="2"></td>
            </tr>
<?php else: ?>
    <tr class="new-product-added">
        <td colspan="6"><div class="text-center">This category does not have products</div></td>
    </tr>
<?php endif; ?>