<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Manage attributes in group - <i class="marketing-group-name"><?php echo $this->category; ?></i></h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
                <?php foreach ($this->groups as $name => $group): ?>
                    <li class="<?php echo ($name == 'core') ? 'active' : '' ?>">
                        <a id="<?php echo $name;?>-tab" class="tab-tabs " href="#<?php echo $name;?>-content" role="tab" data-toggle="tab"><?php echo ucfirst($name) . ' attributes';?></a>
                    </li>
                <?php endforeach; ?>
            </ul>

            <div class="tab-content clearfix">
                <?php foreach ($this->groups as $name => $group): ?>
                    <div id="<?php echo $name;?>-content" class="tab-pane <?php echo ($name == 'core') ? 'active' : '' ?>">

                    <?php foreach($group as $attributeGroup): ?>

                        <div class="col-md-3 size-margin">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input class="add-attribute-to-group" data-category-id="<?php echo $this->categoryId; ?>" type="checkbox" <?php echo ($attributeGroup['categoryRAttributeId'] !== null) ? 'checked' : '' ?> value="<?php echo $attributeGroup['attributeGroupId']; ?>" name="<?php echo $name; ?>[]">
                                </span>
                                <label class="form-control" for="size"><?php echo $attributeGroup['name']; ?></label>
                            </div>
                        </div>

                    <?php endforeach; ?>

                    </div>

                <?php endforeach; ?>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>