<?php echo $this->form()->openTag($addVariantToCategoryForm) . PHP_EOL; ?>

<div class="form-group">
    <?php echo $this->formRow($addVariantToCategoryForm->get('csrf')); ?>
    <?php echo $this->formRow($addVariantToCategoryForm->get('marketingCategoryId')); ?>
    <?php echo $this->formRow($addVariantToCategoryForm->get('marketingCategoryName')); ?>
    <?php echo $this->formRow($addVariantToCategoryForm->get('showAddVariantPopup')); ?>
    <?php echo $this->formRow($addVariantToCategoryForm->get('showRemoveVariantPopup')); ?>
    <?php echo $this->formRow($addVariantToCategoryForm->get('showManageProductsGroup')); ?>
    <?php echo $this->formRow($addVariantToCategoryForm->get('productCodes')); ?>
</div>
<div class="clearfix"></div>
<div class="form-group">
    <?php echo $this->formRow($addVariantToCategoryForm->get('backToCategoryScreen')); ?>
    <?php 
    if (isset($this->showRemoveProductButton) && $this->showRemoveProductButton === true) {
        echo $this->formRow($addVariantToCategoryForm->get('removeProductCodes'));
    } else {
        echo $this->formRow($addVariantToCategoryForm->get('saveProductCodes'));
    }
        ?>
</div>
<?php echo $this->form()->closeTag(); ?>
<div id="clear-popup-div">
    <?php
    if (isset($savedMarketingCategoryProducts) && count($savedMarketingCategoryProducts) > 0) {
        $productOrVariantInsertedCount = (isset($savedMarketingCategoryProducts['productOrVariantInsertedCount'])) ? $savedMarketingCategoryProducts['productOrVariantInsertedCount'] : 0;
        $productsOrVariantsRemovedCount = (isset($savedMarketingCategoryProducts['productsOrVariantsRemovedCount'])) ? $savedMarketingCategoryProducts['productsOrVariantsRemovedCount'] : 0;
        $productsNotFoundInThiscategory = (isset($savedMarketingCategoryProducts['productsNotFoundInThiscategory'])) ? $savedMarketingCategoryProducts['productsNotFoundInThiscategory'] : array();
        $productsAlreadyInTheCategory = (isset($savedMarketingCategoryProducts['productsAlreadyInTheCategory'])) ? $savedMarketingCategoryProducts['productsAlreadyInTheCategory'] : array();
        $nonExistingProducts = (isset($savedMarketingCategoryProducts['nonExistingProducts'])) ? $savedMarketingCategoryProducts['nonExistingProducts'] : array();
        $defaultCategoryProducts = (isset($savedMarketingCategoryProducts['defaultCategoryProducts'])) ? $savedMarketingCategoryProducts['defaultCategoryProducts'] : array();
        ?>
        <table class="table table-responsive valign-td">
            <?php
            if ($productOrVariantInsertedCount > 0 || $productsOrVariantsRemovedCount > 0) {
                ?>
                <tr>
                    <td>
                        <?php if ($productOrVariantInsertedCount > 0) { ?>
                            <b>Number of products/variants Added:</b> <?php
                            echo $productOrVariantInsertedCount;
                        } else if ($productsOrVariantsRemovedCount > 0) {
                            ?>
                            <b>Number of products/variants Removed:</b> <?php
                            echo $productsOrVariantsRemovedCount;
                        }
                        ?>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <?php
            }
            //Show a list of products not found in this category
            if (count($productsNotFoundInThiscategory) > 0) {
                ?>
                <tr>
                    <td colspan="2">
                        <div class="multiselect-div">
                            <b>Product(s) not found in this category</b><hr>
                            <?php
                            foreach ($productsNotFoundInThiscategory as $productNotFoundInThiscategory) {
                                ?>
                                <?php echo $productNotFoundInThiscategory; ?><br>
                                <?php
                            }
                            ?>
                        </div>
                    </td>
                </tr>
            <?php
            }
            if (count($defaultCategoryProducts) > 0) {
                ?>
                <tr>
                    <td colspan="2">
                        <div class="multiselect-div">
                            <b>The following product(s) could not be removed because "<u><i class="marketing-group-name"></i></u>" is set as default marketing category</b><hr>
                            <?php
                            foreach ($defaultCategoryProducts as $defaultCategoryProduct) {
                                ?>
                                <?php echo $defaultCategoryProduct; ?><br>
                                <?php
                            }
                            ?>
                        </div>
                    </td>
                </tr>
            <?php
            }
            //Show a list of products already in this category
            if (count($productsAlreadyInTheCategory) > 0) {
                ?>
                <tr>
                    <td colspan="2">
                        <div class="multiselect-div">
                            <b>Product/Variants already in this category</b><hr>
                            <?php
                            foreach ($productsAlreadyInTheCategory as $productAlreadyInTheCategory) {
                                ?>
                                <?php echo $productAlreadyInTheCategory; ?><br>
            <?php
        }
        ?>
                        </div>
                    </td>
                </tr>
            <?php
            }

            //Show a list of non existing products
            if (count($nonExistingProducts) > 0) {
                ?>
                <tr>
                    <td colspan="2">
                        <div class="multiselect-div">
                            <b>Non-existing products</b><hr>
                            <?php
                            foreach ($nonExistingProducts as $nonExistingProduct) {
                                ?>
            <?php echo $nonExistingProduct; ?><br>
                    <?php
                }
                ?>
                        </div>
                    </td>
                </tr>
    <?php } ?>
        </table>
    <?php
}
?>
</div>