<?php $groupTmp = $category; unset($groupTmp['children']); ?>
<tr>
    <td><?=$category['categoryId']?></td>
    <td>
        <?php
            for($i=1;$i<$level;$i++){
                if($i == $level-1) {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;<i class="child"></i>';
                } else {
                    echo '&nbsp;&nbsp;&nbsp;&nbsp;';
                }

            }
        ?>
        <?php if($category['locked'] == '1') : ?>
            <span class="glyphicon glyphicon-lock category-<?=$category['categoryId']?>"></span>
        <?php else: ?>
            <span class="glyphicon glyphicon-lock hide category-<?=$category['categoryId']?>"></span>
        <?php endif; ?>
        <?=$category['categoryParentId'] == '1' ? '<b>'. $category['categoryName'] . '</b>' : $category['categoryName']?>

    </td>
    <td><?=$category['longDescription']?></td>
    <td>
        <a id="move-up-marketing-category-<?php echo $category['categoryId']; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'move-marketing-category-up', 'page' => $this->page, 'id' => $category['categoryId'], 'position' =>  $category['position'])); ?>"><span class="glyphicon glyphicon-arrow-up text-success"></span></a>
        <a id="move-down-marketing-category-<?php echo $category['categoryId']; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'move-marketing-category-down', 'page' => $this->page, 'id' => $category['categoryId'], 'position' =>  $category['position'])); ?>"><span class="glyphicon glyphicon-arrow-down text-success"></span></a>
    </td>
    <td>
        <input name="enable-marketing-category" type="checkbox" value="<?=$category['categoryId']?>" <?=$category['status'] == 'ACTIVE' ? 'checked' : ''?> />
    </td>
    <td>
        <?php if($category['locked'] == '1') : ?>
            <button id="lock-marketing-category-<?php echo $category['categoryId']; ?>" data-id="<?=$category['categoryId']?>" data-locked="1" type="button" class="btn btn-default btn-xs marketing-category-lock">Unlock</button>
        <?php else: ?>
            <button id="lock-marketing-category-<?php echo $category['categoryId']; ?>" data-id="<?=$category['categoryId']?>" data-locked="0" type="button" class="btn btn-default btn-xs marketing-category-lock">
                 Lock
            </button>
        <?php endif; ?>
    </td>
    <td>

        <fieldset class="crud-buttons">

            <?php if($category['locked'] == '1') : ?>
                <button id="manage-attributes-<?php echo $category['categoryId']; ?>" class="btn btn-primary" data-toggle="modal" data-target=""><span class="glyphicon glyphicon-lock"></span> &nbsp;Manage Attributes</button>
                <button id="manage-products-<?php echo $category['categoryId']; ?>" class="btn btn-primary" data-toggle="modal" data-target=""><span class="glyphicon glyphicon-lock"></span> &nbsp;Manage products</button>
                <button id="edit-marketing-category-<?php echo $category['categoryId']; ?>" class="btn btn-warning " data-json='<?php echo htmlspecialchars((json_encode($groupTmp)), ENT_QUOTES, 'UTF-8');?>' data-toggle="modal" data-target=""><span class="glyphicon glyphicon-lock"></span> &nbsp;Edit</button>
                <button id="delete-marketing-category-<?php echo $category['categoryId']; ?>" data-category-name="<?php echo $category['categoryName']; ?>" class="btn btn-danger delete-marketing-product-category" data-id="<?=$category['categoryId']?>"><span class="glyphicon glyphicon-lock"></span> &nbsp;Delete</button>
            <?php else: ?>
                <button id="manage-attributes-<?php echo $category['categoryId']; ?>" class="btn btn-primary manage-attributes" data-category-id="<?php echo $category['categoryId']; ?>" data-toggle="modal" data-target="#manage-attributes"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Manage attributes</button>
                <button id="manage-products-<?php echo $category['categoryId']; ?>" class="btn btn-primary manage-products" data-category-id="<?php echo $category['categoryId']; ?>" data-toggle="modal" data-target="#add-product-to-group"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Manage products</button>
                <button id="edit-marketing-category-<?php echo $category['categoryId']; ?>" class="btn btn-warning edit-marketing-product-category" data-json='<?php echo htmlspecialchars((json_encode($groupTmp)), ENT_QUOTES, 'UTF-8');?>' data-toggle="modal" data-target="#product-marketing-category"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</button>
                <button id="delete-marketing-category-<?php echo $category['categoryId']; ?>" data-category-name="<?php echo $category['categoryName']; ?>" class="btn btn-danger delete-marketing-product-category" data-id="<?=$category['categoryId']?>"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
            <?php endif; ?>


        </fieldset>
    </td>

</tr>

<?php
    if ($category['children'] !== null){
    $level++;
        foreach ($category['children'] as $child){
            echo $this->partial('prism-products-manager/categories/partials/partial-groups', array ('category' => $child, 'level' => $level, 'page' => $page));
        }
    }
?>
