<!-- Modal -->
<!--Add new product group -->

<div class="modal fade" id="product-marketing-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Product Category</h4>
            </div>
            <div class="modal-body clearfix">
                <?=$this->form()->openTag($addCategoryForm) . PHP_EOL;?>
                <input type="hidden" value="<?=$valid['add'] ? 1 : 0?>" name="marketing-categories-add"/>
                <div class="col-sm-5 col-md-6">
                    <!-- Main category block -->
                    <?=$this->formRow($addCategoryForm->get('categoryId')) . PHP_EOL;?>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('categoryParentId')) . PHP_EOL;?>
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('categoryName')) . PHP_EOL?>
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('urlName')) . PHP_EOL?>
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('status')) . PHP_EOL;?>
                    </div>
                    <!-- End Of Main category block -->
                    <hr>
                    <!-- SEO category block -->
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('metaTitle')) . PHP_EOL;?>
                    </div>

                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('metaKeyword')) . PHP_EOL;?>
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('metaDescription')) . PHP_EOL;?>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <!-- Additional category block -->
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('shortDescription')) . PHP_EOL;?>
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('longDescription')) . PHP_EOL;?>
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('tags')) . PHP_EOL;?>
                    </div>

                    <div class="col-md-offset-10 form-group">
                        <input class="btn btn-primary btn-xs" type="button" value="Add Tag" name="addNewMarketingCategoryTag">
                    </div>

                    <div id="categories-hidden-tag-list">
                        <?php if (isset($submitedFormData['tagCategories']) && !empty($submitedFormData['tagCategories'])) :?>
                            <?php foreach ($submitedFormData['tagCategories'] as $tag) :?>
                                <input id="hidden-<?=$tag?>" type="hidden" name="tagCategories[]" value="<?=$tag?>">
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                    <ul id="marketing-category-taglist-new" class="tag-list clearfix">
                        <?php if (isset($submitedFormData['tagCategories']) && !empty($submitedFormData['tagCategories'])) :?>
                            <?php foreach ($submitedFormData['tagCategories'] as $tag) :?>
                                <li class="tag-margin">
                                    <?=$tag?>
                                    <span class="glyphicon glyphicon-remove-circle remove-marketing-category-tag" tag-name="<?=$tag?>"></span>
                                </li>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </ul>
                    <!-- add Image to category page (banner) -->

                    <div class="form-group">
                        <?= $this->formRow($addCategoryForm->get('categoryBannerImage')) . PHP_EOL; ?>
                    </div>

                    <div>
                        <img src="" id="image-change" style="margin:10px auto;display:block;">
                    </div>
                    <div class="form-group">
                        <?=$this->formRow($addCategoryForm->get('websites')) . PHP_EOL;?>
                    </div>

                </div>
                <!-- End Of SEO category block -->
            </div>
            <div class="modal-footer">
                <!-- End Of Additional category block -->
                <?=$this->formRow($addCategoryForm->get('csrf'));?>
                <div class="form-group pull-right tag-margin">
                    <?=$this->formRow($addCategoryForm->get('submitAddCategoryForm')) . PHP_EOL?>
                </div>
                <div class="form-group pull-right tag-margin">
                    <?=$this->formRow($addCategoryForm->get('cancelAddCategoryForm')) . PHP_EOL?>
                </div>
                <?=$this->form()->closeTag() . PHP_EOL?>
            </div>
        </div>
    </div>
</div>
<script src="<?php echo $this->basePath(); ?>/js/app/media/mediapicker.js"></script>
