<?php if (!empty($this->products)): ?>
    <?php foreach ($this->products as $product):
                $productPriotity = isset($product['priority']) ? $product['priority'] : '';
                $styleColour = $product['style'] . $product['variantColourCode'];
        ?>
        <tr class="new-product-added">
            <td><?php echo $product['style']; ?></td>
            <td><?php echo $product['variantColourCode']; ?></td>
            <td><?php echo $product['productName']; ?></td>
            <td>
                <input type="text" size="10" class="form-control margin-bottom" readonly="readonly" value="<?php echo $product['variantColour']; ?>">
            </td>
            <td>
                <?php if (trim($productPriotity) != '') { ?>
                    <input type="text" size="2" class="form-control margin-bottom" name="variantPriority[<?php echo $this->categoryId . '_' .$styleColour; ?>]" value="<?php echo $productPriotity; ?>">
                <?php } ?>
            </td>
            <td><?php echo $product['status']; ?></td>
            <td>
                <?php /*if ($product['used'] == 1): ?>
                    <button onclick="javascript:deleteProductFromMarketingCategory(this, 'remove')" data-product-id="<?php echo $product['productId']; ?>" data-category-id="<?php echo $this->categoryId; ?>" class="btn btn-danger pull-right delete-product-from-marketing-category">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        Delete
                    </button>
                <?php else: ?>
                    <button onclick="javascript:addProductToMarketingCategory(this, 'add')" data-product-id="<?php echo $product['productId']; ?>" data-category-id="<?php echo $this->categoryId; ?>" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Add Product
                    </button>
                <?php endif;*/ ?>

            </td>
        </tr>
    <?php endforeach; ?>
<?php else: ?>
    <tr class="new-product-added">
        <td></td>
        <td>No products to show</td>
        <td></td>
    </tr>
<?php endif; ?>