<?php use PrismApplication\View\Helper\UkDatetime;
//debug($productPriceList); exit; ?>
<table class="table valign-td">
    <tr>
        <th width="2%">SKU</th>
        <!--<th width="2%">Product Id</th>-->
        <?php foreach($currencies as $currency){ ?>
            <th width="2%"><?= $currency['currency']?></th>
        <?php } ?>
        <th width="2%">Updated date</th>
        <th width="2%">Updated</th>
    </tr>
    <?php
    if (count($productPriceList) > 0) {
        foreach ($productPriceList as $productKey => $productPrices) {
            //$productPrices = get_object_vars($productPrices);
            $productId = $productPrices['productId'];
            $productIdFrom = $productPrices['productIdFrom'];
            $sku = $productPrices['sku'];
            $currencyPrices = array();
            $updated = (isset($updatedProductList[$productId.'|'.$productIdFrom])) ? true : false;
            $lastUpdated = $productPrices['lastUpdate'];
            ?>
            <tr>
                <td><?= $sku ?></td>
                <?php
                foreach ($currencies as $currency){
                    $key = strtolower($currency['currency']).'Price';
                    ?>
                    <td><?=(!empty($productPrices[$key])) ? $productPrices[$key] : '-'?></td>
                    <?php
                }
                ?>
                <td><?php echo $this->ukdatetime($lastUpdated); ?></td>
                <td><?= ($updated) ? '<span style="color:green" class="glyphicon glyphicon-ok"></span>' : '' ?></td>
            </tr>
            <?php
        }
    }
    ?>
</table>