<div class="dashboard-section full-width-container">

    <div class="dashboard-title clearfix">

        <h2>Currency Converter</h2>

        <fieldset class="dashboard-title-options">
            <a style="margin-left: 3px"  href="/currency/converter/priceList" class="btn btn-success pull-right">
                List Product Prices
            </a>

        </fieldset><!-- End dashboard title options -->

    </div><!-- End dashboard header -->

    <div class="row-fluid margin-top-15">
        
        <div class="col-md-6 col-lg-offset-3">

            <div style="background: none" class="dashboard-centered-content-column">
                <style>
                    td {
                        font-size:14px;
                    }
                    .price{
                        width:100px !important;
                    }
                    .spacer{
                        margin-top: 20px !important;
                    }
                    .blocked{
                        display:block !important;
                    }
                    .btn{
                        padding:4px 12px;
                    }
                    .bs-example-bg-classes p {
                        padding: 15px;
                    }
                </style>
    <form class="form-inline" method="post"  role="form">
        <div class="row" >
            <div class="col-md-9">
<!--                <?php //if ($error){ ?> <span class="bs-example-bg-classes"> <p class="bg-danger"><?//=$error?></p> <?php // }  ?> </span>-->
                <table class="table">
                    <thead>
                        <tr>
                           <th>Currency</th>
                           <th>Plus fixed</th>
                           <th>Rate</th>
                           <th>R-Threshold</th>
                        </tr>
                   </thead>
                   <?php foreach ($Currencies as $value) { ?>
                   <tr>
                       <td >
                          <label class="btn btn-primary">
                            <input data-toggle="tooltip" data-placement="top" title="Tooltip on top" type="checkbox" name="<?=$value['currency']?>" <?= (isset($_POST[$value['currency']])) ? 'checked="checked"' : '' ?> value ="true"> <?=$value['currency']?>
                          </label>
                       </td>
                       <td>  
                           <input  type="text" class="form-control price" name="<?=strtolower($value['currency'])?>PlusFix" value="<?=floatval($value['plus_fix'])?>" placeholder="0.00">
                       </td>
                       <td>  
                           <input type="text" class="form-control price" name="<?=strtolower($value['currency'])?>Rate" value="<?=  floatval($value['exchange_rate'])?>" placeholder="0.00">
                       </td>
                       <td>  
                           <input type="text" class="form-control price" name="<?=strtolower($value['currency'])?>Threshold" value="<?=$value['threshold']?>" placeholder="0.00">
                       </td>
                    </tr>
                   <?php } ?>
                </table>
            </div>
            <div class="col-md-3" >
                <div class="radio blocked">
                    <label>
                        <input type="radio" <?= (isset($_POST['roundupRule']) && $_POST['roundupRule'] == 'Up') ? 'checked="checked"' : '' ?> name="roundupRule"  value="Up" checked>
                        Up
                    </label>
                </div>
                <div class="radio blocked">
                    <label>
                        <input type="radio" <?= (isset($_POST['roundupRule']) && $_POST['roundupRule'] == 'Down') ? 'checked="checked"' : '' ?> name="roundupRule"  value="Down">
                        Down
                    </label>
                </div>
                <div class="radio blocked">
                    <label>
                        <input type="radio" <?= (isset($_POST['roundupRule']) && $_POST['roundupRule'] == 'Nearest') ? 'checked="checked"' : (!isset($_POST['roundupRule'])) ? 'checked="checked"' : '' ?> name="roundupRule"  value="Nearest">
                        Nearest
                    </label>
                </div>
                <div class="checkbox spacer">
                    <label>
                      <input type="checkbox" name="round5or9" <?= (isset($_POST['round5or9']) && $_POST['round5or9']) ? 'checked="checked"' : '' ?>  value="true"> Rounding all prices above R-Threshold to end with a 5 or 9
                    </label>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-9" style="text-align:right; padding-top: 12px;">
                <button type="submit" name="CurrencyUpdate" class="btn btn-primary">Update prices</button>
            </div>
            <div class="col-md-3" style="text-align:right; padding-top: 12px;">
            </div>
        </div>
    </form>
            </div><!-- End main content column -->

        </div><!-- End main column -->
        
    </div><!-- End row -->

</div><!-- End dashboard section -->