<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <h2>Product prices list</h2>

        <fieldset class="dashboard-title-options">
            <a style="margin-left: 3px; background-color:royalblue"  href="/currency/converter/csvExport" class="btn btn-success pull-right">
                Export to CSV
            </a>
            <a style="margin-left: 3px"  href="/currency/converter" class="btn btn-success pull-right">
                Currency Converter
            </a>

        </fieldset><!-- End dashboard title options -->

    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <?php 
        echo $this->partial('prism-products-manager/currency-converter/partials/index/partial-price-list', array(
            'productPriceList' => $paginator,
            'currencies' => $Currencies,
            'updatedProductList' => $updatedProductList
            )
        );
        ?>
        <!-- Pagination -->
        <?php
        echo $this->paginationControl($paginator, 'Sliding', $this->makePagination(),
            array('route' => $this->route));
        ?>
    </div><!-- End main column -->

</div><!-- End dashboard section -->