<?php
$url = $this->url();
?>

<?php if ($this->pageCount): ?>
    <ul class="pagination">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <li>
                <a class="first" href="<?php echo $url.'page/1' . $search; ?>">
                    <span class="glyphicon">&laquo;&laquo;</span>
                </a>
            </li>
            <li>
                <a class="Previous" href="<?php echo $url.'page/'.$this->previous . $search; ?>">
                    <span class="glyphicon">&laquo;</span>
                </a>
            </li>
        <?php else: ?>
            <li class="disabled">
                <a href="javascript:void(0)"><span class="glyphicon">&laquo;&laquo;</span></a>
            </li>
            <li class="disabled">
                <a href="javascript:void(0)"><span class="glyphicon">&laquo;</span></a>
            </li>
        <?php endif; ?>
        <!-- All pages -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li>
                    <a href="<?php echo $url.'page/' . $page . $search; ?>">
                        <?php echo $page; ?>
                    </a>
                </li>
            <?php else: ?>
                <li class="active">
                    <span class="nopage"><?php echo $page; ?></span>
                <li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Forward page link -->
        <?php if (isset($this->next)): ?>
            <li>
                <a class="next" href="<?php echo $url.'page/'.$this->next . $search; ?>">
                    <span class="glyphicon">&raquo;</span>
                </a>
            </li>
            <li>
                <a class="next" href="<?php echo $url.'page/'.$this->pageCount . $search; ?>">
                    <span class="glyphicon">&raquo;&raquo;</span>
                </a>
            </li>
        <?php else: ?>
            <li class="disabled">
                <a href="javascript:void(0)">
                    <span class="glyphicon">&raquo;</span>
                </a>
            </li>
            <li class="disabled">
                <a href="javascript:void(0)">
                    <span class="glyphicon">&raquo;&raquo;</span>
                </a>
            </li>
        <?php endif; ?>
    </ul>
<?php endif; ?>