<div class="modal fade modal-big" id="manage-scheduled-entries-for-field" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <?php if ($this->fieldName) { ?>
                        Manage Scheduled Entries For <?php echo $this->fieldName; ?>
                    <?php } ?>
                </h4>
            </div>
            <div class="modal-body">
                <section data-semantic="scheduled-events-list">
                    <table id="view-schedule-events" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Scheduled date</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->scheduleEntries as $scheduleEntry) { ?>
                            <tr>
                                <td><?php echo $scheduleEntry['event']->getScheduleStartDate()->format('Y-m-d H:i:s'); ?></td>
                                <td>
                                    <?php
                                        switch ($scheduleEntry['event']->getScheduleTypeId()->getScheduleType()) {
                                            case 'PRICES':
                                                echo $scheduleEntry['event']->getSchedulePrices()->getValue();
                                                break;
                                            case 'COMMON_ATTRIBUTES':
                                                $viewAs = null;
                                                if (!empty($scheduleEntry['inputField'])) {
                                                    $viewAs = $scheduleEntry['inputField']->getInputFieldRAttributesInputFieldRAttributeId()
                                                        ->getCommonAttributes()
                                                        ->getcommonAttributeGuiRepresentation()
                                                        ->getcommonAttributesViewTypeId()
                                                        ->getcommonAttributeViewType();
                                                }

                                                $value = $scheduleEntry['event']->getScheduleAttributes()->getAttributeValue();

                                                switch ($viewAs) {
                                                    case 'CHECKBOX':
                                                        if ($value == 1) {
                                                            echo 'Checked';
                                                        } else {
                                                            echo 'Not Checked';
                                                        }
                                                        break;
                                                    case 'SELECT':
                                                        if (isset($scheduleEntry['attributeValues'][$value])) {
                                                            echo $scheduleEntry['attributeValues'][$value];
                                                        }
                                                        break;
                                                    case 'TEXT':
                                                        echo $value;
                                                        break;
                                                    default:
                                                        echo $value;
                                                        break;
                                                }
                                                break;
                                            case 'ATTRIBUTES_GROUPS':
                                                $viewAs = null;
                                                if (!empty($scheduleEntry['inputField'])) {
                                                    $viewAs = $scheduleEntry['inputField']->getInputFieldRAttributesInputfieldRAttributeId()->getAttributeGroupId()->getViewAs();
                                                }
                                                $value = $scheduleEntry['event']->getScheduleAttributes()->getAttributeValue();
                                                switch ($viewAs) {
                                                    case 'CHECKBOX':
                                                        if ($value == 1) {
                                                            echo 'Checked';
                                                        } else {
                                                            echo 'Not Checked';
                                                        }
                                                        break;
                                                    case 'SELECT':
                                                        if (isset($scheduleEntry['attributeValues'][$value])) {
                                                            echo $scheduleEntry['attributeValues'][$value];
                                                        }
                                                        break;
                                                    case 'TEXT':
                                                        echo $value;
                                                        break;
                                                    default:
                                                        echo $value;
                                                        break;
                                                }
                                                break;
                                        }
                                    ?>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm delete-schedule-process" data-schedule-id="<?php echo $scheduleEntry['event']->getScheduleId(); ?>">Delete</button>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                   <section data-semantic="bulk-scheduled-list">
                     <table id="view-bluk-schedule-events" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Bulk Upload Scheduled date</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->bulkSchedules as $bulkSchedule) { ?>
                            <tr>
                                <td><?php echo $bulkSchedule['schedule']?></td>
                                <td>
                                <?php echo $bulkSchedule['process_value']?>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm delete-bulk-schedule-process" data-bulk-schedule-id="<?php echo $bulkSchedule['bulk_processing_id'] ?>">Delete</button>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </section>
                <hr>
                <section data-semantic="create-new-event">
                    <h4>Create new schedule event</h4>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="endDate" class="control-label">Scheduled Date</label>
                            <div class="input-group date publish-date" data-date="2015-11-25T00:00:00Z" data-date-format="yyyy-mm-dd HH:ii:ss" data-link-field="publish-date">
                                <input type="text" name="scheduled-date" class="form-control datepicker" placeholder="Scheduled Date" value="">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="scheduled-value" class="control-label">Scheduled Value</label>
                        <?php if (is_array($this->possibleValues) && !empty($this->possibleValues)) { ?>
                            <select name="scheduled-value" class="form-control">
                                <?php foreach ($this->possibleValues as $possibleValue => $description) { ?>
                                    <option value="<?php echo $possibleValue ?>"><?php echo $description; ?></option>
                                <?php } ?>
                            </select>
                        <?php } else { ?>
                            <input type="text" class="form-control" name="scheduled-value" value="" placeholder="Value"/>
                        <?php } ?>
                        </div>
                    </div>
                    <input type="hidden" name="scheduled-params" value="<?php echo htmlentities(json_encode($this->params), ENT_QUOTES, 'UTF-8'); ?>" />
                    <button type="button" class="btn btn-success pull-right margin-bottom-10 save-schedule-event">Save</button>
                    <div class="clearfix"></div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
