<div class="modal fade modal-big" id="manage-scheduled-entries-for-field" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <?php if ($this->optionOrStyleCode) { ?>
                        Manage Scheduled Entries For <?php echo $this->optionOrStyleCode; ?>
                    <?php } ?>
                </h4>
            </div>
            <div class="modal-body">
                <section data-semantic="scheduled-events-list">
                    <table id="view-schedule-events" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Scheduled date</th>
                            <th>Field Label</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->scheduleEntries as $scheduleEntry) { ?>
                            <tr>
                                <td><?php echo $scheduleEntry['event']->getScheduleStartDate()->format('Y-m-d H:i:s'); ?></td>
                                <td>
                                   <?php echo $scheduleEntry['fieldName']; ?>
                                </td>
                                <td>
                                   <?php echo $scheduleEntry['value']; ?>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm delete-schedule-process" data-schedule-id="<?php echo $scheduleEntry['event']->getScheduleId(); ?>">Delete</button>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                    <input type="hidden" name="scheduled-params" value="<?php echo htmlentities(json_encode($this->params), ENT_QUOTES, 'UTF-8'); ?>" />
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
