<div class="modal fade modal-custom-variants" id="change-variant-attributes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Variant attributes</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-form-content">

                    <div class="alert hidden alert-danger alert-attributes-error" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <p id='attribute-edit-error-msg'>Enter a valid email address</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom-prices" id="change-variant-prices" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Variant prices</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-form-content">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom-prices" id="view-variant-prices" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Variant prices</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-form-content">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom-tax" id="change-variant-tax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Variant tax</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-form-content">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom-basic-details" id="change-variant-basic-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content dashboard-content-column">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="basic-details-title">Basic Variant Details</h4>
            </div>
            <div class="modal-body modal-body-form-content">
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom-basic-details" id="transfer-prop-to-variants" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content dashboard-content-column">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="transfer-to-variants-title">Transfer To Variants</h4>
            </div>
            <div class="modal-body modal-body-form-content">
                <?php echo $this->partial('prism-products-manager/products/partials/add-edit/modal/partial-transfer-to-variants', array('productId' => $this->productId, 'allSavedVariants' => $this->allSavedVariants));?>



            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-custom-basic-details" id="related-products-link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content dashboard-content-column">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="related-products-title">Related Products</h4>
            </div>
            <div class="modal-body modal-body-form-content">
                <?php echo $this->partial('prism-products-manager/products/partials/add-edit/modal/partial-related-products-link', array('productId' => $this->productId, 'allSavedVariants' => $this->allSavedVariants));?>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-new-colour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                            
    <!-- Add the new colour modal form -->
    <?php //echo $this->partial('prism-products-manager/products/partials/add-edit/modal/partial-add-new-colour', array()); ?>
</div>

<div class="modal fade" id="add-related-products" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                            
    <!-- Add the new colour modal form -->
    <?= $this->partial('prism-products-manager/products/partials/add-edit/modal/partial-add-related-products', array('productId' => $productId)); ?>
</div>
<div class="modal fade" id="manage-variant-marketing-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Manage Variant Marketing Categories</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-form-content">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="show-error-no-product-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                            
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                <p>Error</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id='no-product-id' role="dialog" aria-labelledby="error-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>Product ID not found.</p>
        <p>You can edit images after creating the product.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id='show-mobile-filters' role="dialog" aria-labelledby="show-mobile-filters">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Filter Variants</h4>
      </div>
      <div class="modal-body">
        <p></p>
        <table  class='table table-striped' id='mobile-variants-filter-table'>
            
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
