<tr>

    <td class="text-center"><?php echo $this->inputField['inputFieldId']; ?></td>
    <td class="text-center"><?php echo $this->inputField['page-name'] . ' (' . $this->inputField['page-url'] . ')'; ?></td>
    <td class="text-center fieldset-order-for-input-fields" data-input-page="<?php echo $this->inputField['page-id']; ?>" data-input-fieldset-id="<?php echo key($inputField['fieldsets']); ?>">
        <?php
            $fieldsetString = '';
            foreach ($this->inputField['fieldsets'] as $fieldsetId => $fieldSet) {
                $fieldsetString .= ' ' . $fieldSet . ',';
            }
            echo substr($fieldsetString, 0, strlen($fieldsetString) - 1);
        ?>
    </td>
    <td class="text-center">
        <?php
            echo str_replace('_', ' ', $this->inputField['attribute']['table']);
        ?>
    </td>
    <td class="text-center"><?php echo $this->inputField['attribute']['attributeName']; ?></td>
    <td class="text-center"><?php echo $this->inputField['attribute']['valueCount']; ?></td>
    <td class="text-center"><?php echo $this->inputField['validationType']; ?></td>
    <td class="text-center">
        <button class="btn btn-sm btn-info input-field-workflows"  data-input-field-id="<?php echo $this->inputField['inputFieldId']; ?>">
            <span class="glyphicon  glyphicon-signal"></span> &nbsp; Workflows
        </button>
        <a href="<?php echo $this->url('assign-fields-to-tabs', array('action' => 'edit-input-field', 'inputFieldId' => $this->inputField['inputFieldId'])); ?>" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> &nbsp;Edit</a>
        <button class="btn btn-sm btn-primary input-field-validation"  data-input-field-id="<?php echo $this->inputField['inputFieldId']; ?>">
            <span class="glyphicon  glyphicon-th-list"></span> &nbsp; Validation
        </button>
        <button data-href="<?php echo $this->url('assign-fields-to-tabs', array('action' => 'delete-input-field', 'inputFieldId' => $this->inputField['inputFieldId'])); ?>" class="btn btn-sm btn-danger delete-assigned-input-field"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</button>
    </td>
</tr>