<div class="modal fade" id="fieldset-order-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Fieldset Order</h4>
            </div>

            <div class="modal-body clearfix">

                <!-- Error checking -->
                <section>
                    <div class="alert alert-danger order-error" role="alert" style="display:none">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        We could not save the new order. Please try again or contact support quoting FO-SV-01.
                    </div>
                    <div data-dismiss="alert" class="alert alert-success fade in order-success" style="display:none"><!-- start div data-dismiss -->
                        <a class="close" data-dimdiss="alert">x</a>
                        <i class="icon-success"></i>
                        <strong>Success:</strong>
                        Order have been successfully saved.
                    </div>
                </section>

                <!-- Displaying input fields -->
                <section>
                    <ul id="sortable" class="col-sm-12">
                        <?php foreach ($this->inputFields as $key => $inputField) { ?>
                            <li class="input-field-selector ui-state-default col-sm-4 col-sm-offset-1 col-xs-12" data-field-r-page-id="<?php echo $inputField['entity']->getinputfieldrpageid(); ?>">
                                <?php
                                    echo $inputField['label'];
                                ?>
                            </li>
                        <?php } ?>
                    </ul>
                </section>

            </div>
            <div class="modal-footer">
                <button name="save-order-fieldset" class="btn btn-success pull-right">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; }
    #sortable li { padding: 1px; float: left; height: 50px; text-align: center; vertical-align: middle;}
</style>
<script>
    $(function() {
        var sortableSelector = $( "#sortable" );
        sortableSelector.sortable();
        sortableSelector.disableSelection();
    });
</script>