<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="validation-management" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Validation Management</h4>
            </div>
            <?php
            $this->inputFieldValidationForm->prepare();
            echo $this->form()->openTag($this->inputFieldValidationForm);
            ?>
            <div class="modal-body clearfix">
                <div class="form-group attribute-errors"></div>
                <?php echo $this->formRow($this->inputFieldValidationForm->get('inputValidationId')); ?>
                <?php echo $this->formRow($this->inputFieldValidationForm->get('inputFieldId')); ?>
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group col-xs-12">
                        <?php echo $this->formLabel($this->inputFieldValidationForm->get('inputValidationType')); ?>
                        <?php echo $this->formElement($this->inputFieldValidationForm->get('inputValidationType')); ?>
                        <?php echo $this->formElementErrors($this->inputFieldValidationForm->get('inputValidationType')); ?>
                    </div>
                    <div class="form-group col-xs-12">
                        <?php echo $this->formLabel($this->inputFieldValidationForm->get('minValue')); ?>
                        <?php echo $this->formElement($this->inputFieldValidationForm->get('minValue')); ?>
                        <?php echo $this->formElementErrors($this->inputFieldValidationForm->get('minValue')); ?>
                    </div>
                    <div class="form-group col-xs-12">
                        <?php echo $this->formLabel($this->inputFieldValidationForm->get('maxValue')); ?>
                        <?php echo $this->formElement($this->inputFieldValidationForm->get('maxValue')); ?>
                        <?php echo $this->formElementErrors($this->inputFieldValidationForm->get('maxValue')); ?>
                    </div>
                    <div class="form-group col-xs-12">
                        <?php echo $this->formLabel($this->inputFieldValidationForm->get('pattern')); ?>
                        <?php echo $this->formElement($this->inputFieldValidationForm->get('pattern')); ?>
                        <?php echo $this->formElementErrors($this->inputFieldValidationForm->get('pattern')); ?>
                    </div>
                </div>

                <?php echo $this->formRow($this->inputFieldValidationForm->get('csrf')); ?>
            </div>
            <div class="modal-footer">
                <?=$this->formSubmit($this->inputFieldValidationForm->get('save-validation')); ?>
            </div>
            <?=$this->form()->closeTag() . PHP_EOL;?>
        </div>
    </div>
</div>