<!-- Modal -->
<!--Add new common attribute group -->
<div class="modal fade" id="work-flow-management" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Workflow Management</h4>
            </div>

            <div class="modal-body clearfix">

                <div class="alert alert-danger workflow-error" role="alert" style="display:none">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    We could not save the workflows against this input field. Please try again or contact support quoting IW-CR-01.
                </div>

                <div data-dismiss="alert" class="alert alert-success fade in workflow-success" style="display:none"><!-- start div data-dismiss -->
                    <a class="close" data-dimdiss="alert">x</a>
                    <i class="icon-success"></i>
                    <strong>Success:</strong>
                    Workflows have been successfully saved.
                </div>



                <input type="hidden" name="workflow-input-field-id" id="workflow-input-field-id" value="<?php echo $this->inputFieldEntity->getInputFieldId(); ?>"/>
                <select name="select-workflow" id="workflow-select" multiple>
                    <?php foreach ($this->workflowsList as $workflowId => $workflowName) { ?>
                        <option <?php echo isset($this->selectedWorkflows[$workflowId]) ? 'selected' : '' ?> value="<?php echo $workflowId; ?>"><?php echo $workflowName ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="modal-footer">
                <button name="save-workflow-management" id="save-workflow-management" class="btn btn-success pull-right">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>