<table class="table valign-td">
    <tr>
        <th width="3%">ID</th>
        <th width="16%">Name</th>
        <th width="25%">Description</th>
        <th width="8%">Territory</th>
        <th width="8%">Type</th>
        <th width="12%">Value</th>
        <th width="10%">Status</th>
        <th width="20%"></th>
    </tr>
    <?php
        $count = 1;
        if (count($taxList) > 0) {
            foreach ($taxList as $taxKey => $taxDetails) {
                $taxId = $taxDetails['taxId'];
                $name = $taxDetails['name'];
                $description = isset($taxDetails['description']) ? $taxDetails['description'] : '';
                $taxTypeId = isset($taxDetails['taxTypeId']) ? $taxDetails['taxTypeId'] : '';
                $taxTerritory = isset($taxDetails['taxTerritory']) ? $taxDetails['taxTerritory'] : '';
                $taxType = isset($taxDetails['taxType']) ? $taxDetails['taxType'] : '';
                $representAs = isset($taxDetails['representAs']) ? $taxDetails['representAs'] : '';
                $taxValue = isset($taxDetails['taxValue']) ? $taxDetails['taxValue'] : '';
                $status = isset($taxDetails['status']) ? $taxDetails['status'] : '';
                ?>

                <tr>
                    <td><?php echo $count; ?></td>
                    <td><?php echo $name; ?></td>
                    <td><?php echo $description; ?></td>
                    <td><?php echo $taxTerritory; ?></td>
                    <td><?php echo $taxType; ?></td>
                    <td>
                        <?php
                            echo $taxValue;
                            if ($representAs == 'PERCENT') {
                                echo '%';
                            }
                        ?>
                    </td>
                    <td><?php echo $status; ?></td>
                    <td>
                        <fieldset>
                            <button class="edit-tax btn btn-primary" data-json='<?php echo json_encode($taxDetails); ?>' data-toggle="modal" data-target="#add-new-tax">
                                <span class="glyphicon glyphicon-edit"></span> &nbsp;Edit
                            </button>
                            <?php if($status == 'ACTIVE'): ?>
                                <a href="/tax/deactivate/<?php echo $taxId; ?>" class="deactivate-tax btn btn-warning"><span class="glyphicon glyphicon-off"></span> &nbsp;Deactivate</a>
                            <?php else: ?>
                                <a href="/tax/activate/<?php echo $taxId; ?>" class="deactivate-tax btn btn-success"><span class="glyphicon glyphicon-off"></span> &nbsp;Activate</a>
                            <?php endif; ?>
                            <a href="/tax/delete/<?php echo $taxId; ?>" class="delete-tax btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Delete</a>
                        </fieldset>
                    </td>
                </tr>
                <?php
                $count++;
            }
        }
    ?>
</table>