<?php if ($this->allowed) { ?>
    <section>
        <div class="dashboard-section full-width-container table-container">
            <div class="dashboard-title clearfix">
                <h2>Edit field on specific product tab</h2>
            </div><!-- End dashboard header -->
        </div>


        <div class="dashboard-content-area">
            <?php
                echo $this->form()->openTag($this->assignInputFieldsForm);
            ?>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 ">
                    <?php echo $this->formRow($this->assignInputFieldsForm->get('inputFieldId')); ?>
                    <div class="form-group">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('inputPages')); ?>
                    </div>
                    <div class="form-group fieldset-holder" style="display:none">
                        <input type="hidden" name="inputFieldSetHidden" value="<?php echo $this->assignInputFieldsForm->get('inputFieldsets')->getValue() ?>" />
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('inputFieldsets')); ?>
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('newInputFieldset')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('attributeType')); ?>
                    </div>

                    <div class="form-group attribute-select" id="COMMON_ATTRIBUTES" style="display:none">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('commonAttributes')); ?>
                    </div>
                    <div class="form-group attribute-select" id="CORE_ATTRIBUTES" style="display:none">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('coreAttributes')); ?>
                    </div>
                    <div class="form-group attribute-select" id="MARKETING_ATTRIBUTES" style="display:none">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('marketingAttributes')); ?>
                    </div>
                    <div class="form-group attribute-select" id="MERCHANT_ATTRIBUTES" style="display:none">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('merchantAttributes')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formRow($this->assignInputFieldsForm->get('editableAtLevel')); ?>
                    </div>
                    <div class="select-values-for-display">
                        <div class="col-xs-12 center-align">
                            <span>Hide field on product tabs if style/option has these values for attributes</span>
                        </div>
                        <div class="col-xs-5 group-holder">
                            <input type="text" name="search-common-attribute" placeholder="Search common attribute" class="form-control" value="">
                            <div class="search-container-common-attribute"></div>
                        </div>
                        <div class="col-xs-5 group-holder select-value-holder">
                            <input type="text" name="search-common-attribute-value" placeholder="Search common attribute value" class="form-control" value="">
                            <div class="search-container-common-attribute-values"></div>
                        </div>
                        <div class="col-xs-12 yellow-marked-area">
                            <?php $displayOnlyValue = $this->assignInputFieldsForm->get('display-only-value[]')->getValue(); ?>
                            <?php if (!empty($displayOnlyValue)) { ?>
                                <span class="no-current-values" style="display:none">No current values</span>
                                <?php foreach ($this->assignInputFieldsForm->get('display-only-value[]')->getValue() as $id => $value) {?>
                                    <div class="col-xs-3 value-added">
                                        <?php echo $value; ?><span class="label label-danger pull-right remove-attribute-value-from-display">Remove</span>
                                        <input type="hidden" name="display-only-value[]" value="<?php echo $id; ?>">
                                    </div>
                                <?php } ?>
                            <?php } else { ?>
                                <span class="no-current-values">No current values</span>
                            <?php } ?>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formElement($this->assignInputFieldsForm->get('isSchedulable')); ?>
                        <?php echo $this->formLabel($this->assignInputFieldsForm->get('isSchedulable')); ?>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formElement($this->assignInputFieldsForm->get('isHidden')); ?>
                        <?php echo $this->formLabel($this->assignInputFieldsForm->get('isHidden')); ?>
                    </div>

                    <?php echo $this->formRow($this->assignInputFieldsForm->get('csrf')); ?>
                    <?php echo $this->formRow($this->assignInputFieldsForm->get('edit-field')); ?>


                    <div class="clear"></div>
                </div>
            </div>

            <?php
            echo $this->form()->closeTag(); ;
            ?>
        </div>

    </section>



<?php } else { ?>
    <section>
        <div class="dashboard-section full-width-container table-container">
            <div class="dashboard-title clearfix">
                <h2>You do not have access to the input fields to product tabs. Please contact PRISM DM. Thank you !</h2>
            </div><!-- End dashboard header -->
        </div>
    </section>
<?php } ?>
