<?php if ($this->allowed) { ?>
    <input type="hidden" name="error-flag" value="<?php echo $this->errorFlag ? 1 : 0?>"/>
    <div class="dashboard-section full-width-container table-container">
        <div class="dashboard-title clearfix">
            <fieldset class="dashboard-title-options">
                <a href="<?php echo $this->url('assign-fields-to-tabs', array('controller' => 'AssignFieldsToProductTabs' ,'action' => 'create-new-field')); ?>" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; Create new field</a>
            </fieldset><!-- End dashboard title options -->
            <h2>Manage Fields to Product Tabs assignation</h2>
        </div><!-- End dashboard header -->
    </div>

    <div class="dashboard-content-area">
        <div class="col-sm-12 ">
            <table class="table valign-td responsive" id="common-attribute-values">
                <thead>
                    <tr>
                        <th class="green-bold-span center-align">Input Field Id</th>
                        <th class="green-bold-span center-align">Product Tab Name(url)</th>
                        <th class="green-bold-span center-align">Product Fieldsets</th>
                        <th class="green-bold-span center-align">Attribute Type</th>
                        <th class="green-bold-span center-align">Attribute Name</th>
                        <th class="green-bold-span center-align">Attribute Values Count</th>
                        <th class="green-bold-span center-align">Validation</th>
                        <th class="green-bold-span center-align">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->attributeInputFields as $inputField) {
                    echo $this->partial(
                        'prism-products-manager/assign-fields-to-product-tabs/partials/fields-to-product-tabs-row',
                        array ('inputField' => $inputField)
                    );
                } ?>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <div id="validation-management-holder"></div>
    <div id="work-flow-holder"></div>
    <div id="fieldset-order-input"></div>
<?php } else { ?>
    <div class="dashboard-section full-width-container table-container">
        <div class="dashboard-title clearfix">
            <h2>You do not have access to the input fields to product tabs. Please contact PRISM DM. Thank you !</h2>
        </div><!-- End dashboard header -->
    </div>
<?php } ?>
