<input type="hidden" name="valid-edit-core" value="<?=$valid['CoreEdit'] ? 1 : 0?>"/>

<div class="dashboard-section full-width-container table-container">

    <div class="dashboard-title clearfix">

        <fieldset class="dashboard-title-options">
            <!-- search Form -->
            <div class="pull-right">
                <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array ('searchForm' => $searchForm)); ?>
            </div>
        </fieldset><!-- End dashboard title options -->
        <h2>Manage core group attributes</h2>
    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="20%">
                    <?php if(!$this->orderby || ($this->orderby == 'name' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'name', 'orderbyoption' => 'desc')); ?>" >Name<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'name', 'orderbyoption' => 'asc')); ?>" >Name<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="10%">Values Count</th>
                <th width="20%">
                    <?php if(!$this->orderby || ($this->orderby == 'viewAs' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'viewAs', 'orderbyoption' => 'desc')); ?>" >View As<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'viewAs', 'orderbyoption' => 'asc')); ?>" >View As<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="15%">
                    <?php if(!$this->orderby || ($this->orderby == 'groupType' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'groupType', 'orderbyoption' => 'desc')); ?>" >Group Type<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'groupType', 'orderbyoption' => 'asc')); ?>" >Group Type<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                </th>
                <th width="10%">
                    <?php if(!$this->orderby || ($this->orderby == 'usedForFiltering' && $this->orderbyOption == 'asc')): ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'usedForFiltering', 'orderbyoption' => 'desc')); ?>" >Used for Filter<span class="caret"></span></a>
                    <?php else: ?>
                        <a href="<?php echo $this->url('core-attributes', array('action' => 'index', 'orderby' => 'usedForFiltering', 'orderbyoption' => 'asc')); ?>" >Used for Filter<span class="caret caret-reversed"></span></a>
                    <?php endif; ?>
                    </th>
                <th></th>
            </tr>
            <?php
                if (!empty($paginator)) {
                    foreach ( $paginator as $group ) {
                        echo $this->partial('prism-products-manager/core-attributes/partials/partial-groups', array ('group' => $group, 'level' => 0));
                    }
                }
            ?>
        </table>

    </div><!-- End main column -->
    <!-- Pagination -->
    <?php echo $this->paginationControl($this->paginator, 'Sliding', $this->makePagination(), array('route' => $this->route)); ?>

</div><!-- End dashboard section -->

<!-- Modal -->
<!-- Edit Core Attribute -->
<?=$this->partial('prism-products-manager/core-attributes/partials/partial-attributes-core-edit-form', array ('editCoreAttributes' => $editCoreAttributes));?>
