<div class="dashboard-section full-width-container table-container">
    <div class="dashboard-title clearfix">
        <h2>View Core Attributes for Group <b><?=$group['name']?></b></h2>
    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">
        <table class="table valign-td">
            <tr>
                <th width="20%">Id</th>
                <th width="20%">Value</th>
            </tr>
            <?php if (isset($group['children']) && !empty($group['children'])) : ?>
                <?php foreach ($group['children'] as $child): ?>
                    <tr>
                        <td><?=isset($child['attributeId']) ? $child['attributeId'] : 'N/A'?></td>
                        <td><?=isset($child['attributeValue']) ? $child['attributeValue'] : 'N/A'?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>

        </table>

    </div><!-- End main column -->

</div><!-- End dashboard section -->

<?php
