<div class="modal fade modal-big" id="manage-sku-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Manage SKUs</h4>
            </div>
            <form name="manage-sku">
            <div class="modal-body">

                <table class="table">
                    <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Barcode</th>
                        <th>Enabled</th>
                    </tr>
                    </thead>
                    <tbody>

                    <?php foreach ($this->productData as $variantData) { ?>
                        <tr>
                            <td><?php echo $variantData['sku']; ?></td>
                            <td><?php echo $variantData['ean13']; ?></td>
                            <td>
                                <?php
                                    $checked = '';
                                    $enabled = 0;
                                    if ($variantData['status'] == 'ACTIVE') {
                                        $checked = 'checked="checked"';
                                        $enabled = 1;
                                    }
                                ?>
                                <input type="checkbox" data-variant-id="<?php echo $variantData['productAttributeId']; ?>" class="change-sku-status" data-sku="<?php echo $variantData['sku'] ?>" name="<?php echo $variantData['productAttributeId'] ?>" <?php echo $checked;?>/>
                            </td>
                        </tr>

                    <?php } ?>
                    </tbody>
                </table>
            </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel-sku-status" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default save-sku-status btn-success" data-dismiss="modal">Save</button>
                <input type="hidden" name="options-check-price" value="<?php echo $this->prices; ?>"/>
            </div>
        </div>
    </div>
</div>