<div class="modal fade modal-big" id="options-check-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Options override</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <?php $tabNumber = 1; ?>
                    <?php foreach ($this->finalData as $optionCode => $inputField) { ?>
                        <li>
                            <a href="#<?php echo $optionCode; ?>" id="<?php echo $optionCode . '-' . $tabNumber; ?>" data-tabnumber="<?php echo $tabNumber; ?>" class="tab-tabs PMS-tabs" role="tab" data-toggle="tab">Option <?php echo $optionCode; ?></a>
                        </li>
                        <?php $tabNumber++; ?>
                    <?php } ?>
                </ul>
                <div class="tab-content">
                    <?php foreach ($this->finalData as $optionCode => $inputFields) { ?>
                        <div class="tab-pane" id="<?php echo $optionCode; ?>">

                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label</th>
                                        <th>Style Value ( value that will override option value )</th>
                                        <th></th>
                                        <th>Option Value</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($inputFields as $inputField) { ?>
                                    <tr>
                                        <td><?php echo $inputField['label']; ?></td>
                                        <td>
                                            <?php if (is_array($inputField['newValue'])) { ?>
                                                <?php echo implode(', ', $inputField['newValue']); ?>
                                            <?php } else { ?>
                                                <?php echo $inputField['newValue']; ?>
                                            <?php } ?>

                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                        </td>
                                        <td>
                                            <?php if (is_array($inputField['oldValue'])) { ?>
                                                <?php echo implode(', ', $inputField['oldValue']); ?>
                                            <?php } else { ?>
                                                <?php echo $inputField['oldValue']; ?>
                                            <?php } ?>
                                        </td>
                                        <td>
                                            <?php if ($inputField['newValue'] == $inputField['oldValue']) { ?>
                                                <span class="label label-success">No Change</span>
                                            <?php } else { ?>
                                                <span class="label label-danger">Different Values</span>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                <?php } ?>
                                </tbody>
                            </table>

                            <div class="confirm-option">
                                <input type="checkbox" name="option[]" class="option-checkbox" data-option="<?php echo $optionCode; ?>" />
                                Please confirm you have read the table and you accept for the Style Value to override the Option Value for this option ( <?php echo $optionCode; ?> )
                            </div>
                        </div>
                    <?php } ?>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default copy-data-to-options" data-dismiss="modal">Save</button>
                <input type="hidden" name="options-check-price" value="<?php echo $this->prices; ?>"/>
            </div>
        </div>
    </div>
</div>
