<div class="modal fade modal-big" id="options-with-values" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="/products/save-values-at-style-level-for-prices" method="POST" name="values-at-style-level-for-prices" novalidate="novalidate">
              <input type="hidden" name="style" value="<?php echo $this->style; ?>" />
              <input type="hidden" name="tab" value="<?php echo $this->tab; ?>" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Style Level Value</h4>
                    <div class="col-sm-12 col-md-12">
                		<div class="col-sm-12 col-md-6">
                         	<div class="col-xs-6 form-group">
                                <?php echo $this->label . " - " . $this->style; ?>:
                            </div>
                            <div class="col-xs-6 form-group">
                            	<?php switch($this->type) {
                                    case 'text': ?>
                                        <input type="text" data-option-code="<?php echo $style; ?>" name="values[<?php echo $style . '=' . $this->priceType . '='  .$this->territory . '=' . $this->currency?>]" class="form-control values-to-options-selector" placeholder="<?php echo $this->label; ?>" value="<?php echo $this->styleCurrentPriceValue; ?>">
                                        <?php break;
                                    case 'select': ?>
                                        <select  name="values[<?php echo $style . '=' . $this->priceType . '='  .$this->territory . '=' . $this->currency?>]" class="form-control chosen-selector values-to-options-selector">
                                           <?php
                                           foreach ($this->stylePossibleValues as $valueId => $possibleValue) { ?>
                                                <option data-option-code="<?php echo $style; ?>" value="<?php echo $valueId ?>" <?php echo $valueId == $this->styleCurrentPriceValue ? 'selected' : ''?>><?php echo $possibleValue; ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                }
                                ?>
                            </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                            	<button type="submit" class="btn btn-warning save-style-value-prices" title="">Update at style level only</button><br />
                            	<span class="" style="font-size: 0.8em;top:-5px;color:#0066ff"> This action will not update the price of the options.</span>
                            </div>
                            <div class="col-sm-12 col-md-12"></div>
                     </div>
               </form>
               <br><br>
               </div>
                <br><br>
                <h4 class="modal-title" id="myModalLabel">Values at Option Level</h4>
               <form action="/products/save-values-at-option-level-for-prices" method="POST" name="values-at-option-level-for-prices" novalidate="novalidate">
                <div class="modal-body">
                	<div class="tab-content">
                        <input type="hidden" name="style" value="<?php echo $this->style; ?>" />
                        <input type="hidden" name="tab" value="<?php echo $this->tab; ?>" />
                    <?php $nr = 0; ?>
                    <?php foreach($this->currentValues as $optionCode => $value) { ?>

                        <div class="col-sm-12 col-md-6">
                            <div class="col-xs-6 form-group">
                                <?php echo $this->label . ' - ' . $optionCode; ?>
                            </div>
                            <div class="col-xs-6 form-group">
                                <?php switch($this->type) {
                                    case 'text': ?>
                                        <input type="text" data-option-code="<?php echo $optionCode; ?>" name="values[<?php echo $optionCode . '=' . $this->priceType . '='  .$this->territory . '=' . $this->currency?>]" class="form-control values-to-options-selector" placeholder="<?php echo $this->label; ?>" value="<?php echo $value; ?>">
                                        <?php break;
                                    case 'select': ?>
                                        <select  name="values[<?php echo $optionCode . '=' . $this->priceType . '='  .$this->territory . '=' . $this->currency?>]" class="form-control chosen-selector values-to-options-selector">
                                            <?php foreach ($this->possibleValues as $valueId => $possibleValue) { ?>
                                                <option data-option-code="<?php echo $optionCode; ?>" value="<?php echo $valueId ?>" <?php echo $valueId == $this->currentValueCodeCurrency[$optionCode] ? 'selected' : ''?>><?php echo $possibleValue; ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                }
                                ?>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <?php $nr++; ?>
                    <?php } ?>
                        <div class="clear"></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary save-all-option-values-prices">Save for option(s)</button><br />
                    <span class="" style="font-size: 0.8em;top:-5px;color:#0066ff"> If all option value are the same then the style value will automatically be set to the same value irrespective of the value entered above for style value.</span>
                </div>
            </form>
        </div>
    </div>
</div>
