<div class="modal fade modal-big" id="options-with-values" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="/products/save-values-at-style-level" method="POST" name="values-at-style-level" novalidate="novalidate">
                <input type="hidden" name="style" value="<?php echo $this->style; ?>" />
                <input type="hidden" name="tab" value="<?php echo $this->tab; ?>" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Style Level Value</h4>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-12 col-md-6">
                            <div class="col-xs-6 form-group">
                                <?php echo $this->label . " - " . $this->style; ?>:
                            </div>
                            <div class="col-xs-6 form-group">
                                <?php switch($this->styleType) {
                                    case 'text': ?>
                                        <input type="text" data-option-code="<?php echo $this->style; ?>" name="values[<?php echo $this->style . '-' . $this->styleFiledId; ?>]" class="form-control values-to-options-selector" placeholder="<?php echo $this->label; ?>" value="<?php echo $this->styleValue; ?>" id="styleLevelValue">
                                        <?php break;
                                    case 'textarea': ?>
                                        <textarea rows="5" cols="50" data-field-id="<?php echo $this->styleFiledId; ?>" data-option-code="<?php echo $this->style; ?>" name="<?php echo $this->style . '-' . $this->styleFiledId; ?>" class="form-control values-to-options-selector" placeholder="<?php echo $this->label ?>" id="styleLevelValue">
                                            <?php if(is_string($this->styleValue)) echo $this->styleValue; else { echo ''; } ?>
                                        </textarea>
                                        <?php break;
                                    case 'checkbox': ?>
                                        <input type="hidden" value="0" name="<?php echo $this->style . '-' . $this->styleFiledId; ?>" />
                                        <input class="values-to-options-selector" type="checkbox" data-field-id="<?php echo $this->styleFiledId; ?>" data-option-code="<?php echo $this->style; ?>" name="<?php echo $this->style . '-' . $this->styleFiledId; ?>" <?php echo $this->styleValue == 1 ? 'checked' : ''; ?> id="styleLevelValue">
                                        <?php break;
                                    case 'select': ?>
                                        <select data-field-id="<?php echo $this->styleFiledId; ?>" data-option-code="<?php echo $this->style; ?>" name="<?php echo $this->style . '-' . $this->styleFiledId; ?>" class="form-control chosen-selector values-to-options-selector" id="styleLevelValue">
                                            <?php foreach ($this->styleValue as $value => $valueId) { ?>
                                                <option value="<?php echo $valueId ?>" <?php echo (substr($value, -1) == "|") ? 'selected' : ''?>><?php echo rtrim($value, "|"); ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                    case 'multiselect': ?>
                                        <select data-field-id="<?php echo $this->styleFiledId; ?>" data-option-code="<?php echo $this->style; ?>" name="<?php echo $this->style . '-' . $this->styleFiledId; ?>[]" class="form-control chosen-selector values-to-options-selector" multiple="multiple" id="styleLevelValue">
                                            <?php foreach ($this->styleValue as $value => $valueId) { ?>
                                                <option value="<?php echo $valueId ?>" <?php echo (substr($value, -1) == "|") ? 'selected' : ''?>><?php echo rtrim($value, "|"); ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                    case 'datepicker':
                                    case 'datepicker - date only':
                                        ?>
                                        <div class="input-group date publish-date values-to-options-selector" data-date="<?php echo date('Y-m-d'); ?>T00:00:00Z" data-date-format="yyyy-mm-dd h:i:s" data-link-field="publish-date">
                                            <input data-field-id="<?php echo $this->styleFiledId; ?>" data-option-code="<?php echo $this->style; ?>" type="text" name="<?php echo $this->style . '-' . $this->styleFiledId; ?>" class="form-control" placeholder="<?php echo $this->label; ?>" value="<?php echo $this->styleValue; ?>" id="styleLevelValue">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <?php break;
                                }
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <input type="submit" name="submit" class="btn btn-warning save-style-value" value="Update at style levle only" style="margin-right: 80px;">
                            <button type="submit" name="submit" class="btn btn-primary save-all-options-values-on-style" title="">Update all options</button><br />
                            <span class="" style="font-size: 0.8em;top:-5px;color:#0066ff"> This action will not update the value of the options.</span>

                        </div>
                        <div class="col-sm-12 col-md-12"></div>
                    </div>
            </form>
            <br><br>
            <form action="/products/save-values-at-option-level" method="POST" name="values-at-option-level" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Values at Option Level</h4>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <input type="hidden" name="style" value="<?php echo $this->style; ?>" />
                        <input type="hidden" name="tab" value="<?php echo $this->tab; ?>" />
                    <?php $nr = 0; ?>
                    <?php foreach($this->dynamicFields as $optionCode => $field) { ?>
                        <div class="col-sm-12 col-md-6">
                            <div class="col-xs-6 form-group">
                                <?php echo $field['label'] . '  (' . $optionCode . ')'; ?>
                            </div>
                            <div class="col-xs-6 form-group">
                                <?php switch($field['type']) {
                                    case 'checkbox': ?>
                                        <input type="hidden" value="0" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>" />
                                        <input class="values-to-options-selector option-value" type="checkbox" data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>" <?php echo $field['selected-values'] == 'Checked' ? 'checked' : ''; ?>>
                                        <?php break;
                                    case 'text': ?>
                                        <input type="text" data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>" class="form-control values-to-options-selector option-value" placeholder="<?php echo $field['label'] ?>" value="<?php if(is_string($field['selected-values']))echo $field['selected-values']; else{ echo ''; } ?>">
                                        <?php break;
                                    case 'textarea': ?>
                                        <textarea rows="5" cols="50" data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>" class="form-control values-to-options-selector option-value" placeholder="<?php echo $field['label'] ?>">
                                            <?php if(is_string($field['selected-values']))echo $field['selected-values']; else{ echo ''; } ?>
                                        </textarea>
                                        <?php break;
                                    case 'select':  ?>
                                        <select data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>" class="form-control chosen-selector values-to-options-selector option-value">
                                            <?php foreach ($field['all-values'] as $valueId => $value) { ?>
                                                <option value="<?php echo $valueId ?>" <?php echo (isset($field['selected-values'][$valueId]) && in_array($field['selected-values'][$valueId], $field['all-values'])) ? 'selected' : ''?>><?php echo $value; ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                    case 'multiselect': ?>
                                        <select data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>[]" class="form-control chosen-selector values-to-options-selector option-value" multiple="multiple" >
                                            <?php foreach ($field['all-values'] as $valueId => $value) { ?>
                                                <option value="<?php echo $valueId ?>" <?php echo (isset($field['selected-values'][$valueId]) && in_array($field['selected-values'][$valueId], $field['all-values'])) ? 'selected' : ''?>><?php echo $value; ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                    case 'product': ?>
                                        <?php
                                            $options = array();
                                            foreach ($field['selected-values'] as $valueId => $value) {
                                                $options[$variantId] = array('variantId' => $value['variantId'],'sku' => $value['sku'], 'colour' => $value['colour'], 'size' => $value['size']);
                                            }

                                        ?>
                                        <select data-options='<?php echo json_encode($options); ?>' data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>[]" class="product-search-input" multiple="multiple" >

                                            <?php foreach ($field['selected-values'] as $valueId => $value) { ?>

                                                <option value="<?php echo $valueId ?>" selected><?php echo $valueId; ?></option>
                                            <?php } ?>
                                        </select>
                                        <?php break;
                                    case 'datepicker':
                                    case 'datepicker - date only':
                                        ?>
                                        <div class="input-group date publish-date values-to-options-selector" data-date="<?php echo date('Y-m-d'); ?>T00:00:00Z" data-date-format="yyyy-mm-dd h:i:s" data-link-field="publish-date">
                                            <input data-field-id="<?php echo $field['entity']->getInputFieldId(); ?>" data-option-code="<?php echo $optionCode; ?>" type="text" name="<?php echo $optionCode . '-' . $field['entity']->getInputFieldId(); ?>" class="form-control option-value" placeholder="<?php echo $field['label']; ?>" value="<?php echo $field['selected-values']; ?>">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <?php break;
                                }
                                ?>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <?php $nr++; ?>
                    <?php } ?>
                        <div class="clear"></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary save-all-option-values">Save for option(s)</button>
                </div>
            </form>
        </div>
    </div>
</div>
