
<div class="col-sm-12 col-md-6 <?php echo $this->inputFieldElement['inputFieldId']->isHidden() ? 'hidden-field' : 'block-input-field '; ?>">
<?php

    if (empty($this->option)) {
        if ($this->isFeatureEnable('firstWorkflow')) {
            /** Get first workflow for the field - Stupid change requested by LTS */
            $Allworkflows = $this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows();
            if (isset($Allworkflows[0])) {
                $lastWorkflow = $Allworkflows[0]->getworkflowid();
                $countWorkFlow = 1;
            }
        } else {
            $countWorkFlow = count($this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows());
            $lastworkflowKey = $countWorkFlow-1;
            $lastWorkflow = isset($this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows()[$lastworkflowKey]) ? $this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows()[$lastworkflowKey]->getworkflowid() : false;
        }
    } else {
        if ($this->isFeatureEnable('firstWorkflow')) {
            /** Get first workflow for the field - Stupid change requested by LTS */
            $Allworkflows = $this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows();
            if (isset($Allworkflows[0])) {
                $lastWorkflow = $Allworkflows[0]->getworkflowid();
                $countWorkFlow = 1;
            }
        } else {
            foreach ($this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows() as $workflow) {
                $currentWorkflow = $workflow->getWorkFlowid();
                if (!empty($this->lastWorkflowForOption)) {
                    if ($this->lastWorkflowForOption->getWorkflowId() >= $currentWorkflow->getworkflowid()) {
                        $lastWorkflow = $currentWorkflow;
                        $countWorkFlow = 1;
                    }
                }
            }
        }
    }
?>
    <?php if (!is_null($this->style) && $this->inputFieldElement['type'] != 'multiselect' && $this->inputFieldElement['inputFieldId']->isSchedulable()) { ?>
        <span class="glyphicon glyphicon-time pull-right schedule-attributes"
              data-toggle="tooltip"
              data-product-id-from="<?php echo is_null($this->option) ? 'PRODUCTS' : 'PRODUCTS_R_ATTRIBUTES'; ?>"
              data-code="<?php echo is_null($this->option) ? $this->style : $this->option; ?>"
              data-placement="top"
              data-field="<?php echo $this->inputFieldElement['name']; ?>"
              data-field-id="<?php echo $this->inputFieldElement['inputFieldId']->getInputFieldId(); ?>"
              title="Schedule System">
        </span>
        <div class="clearfix"></div>
    <?php } elseif (!is_null($this->style)) { ?>
        <span>&nbsp;</span>
        <div class="clearfix"></div>
    <?php } ?>
    <div class="col-xs-6 form-group">
        <?php echo $this->formLabel($this->inputFieldsForm->get($this->inputFieldElement['name'])); ?>
        <?php if (!empty($countWorkFlow) && $this->isFeatureEnable('enableWorkflows', false, 'settings')) { ?>
            <small><span data-toggle="tooltip" data-placement="top" title="Mandatory for <?php echo $lastWorkflow->getWorkflowDescription(); ?>" class="glyphicon glyphicon-asterisk mandatory-workflow" style="font-size: 0.8em;top:-5px;color:<?php echo $lastWorkflow->getHexcode(); ?>"></span></small>
        <?php } ?>
    </div>
    <div class="col-xs-6 form-group">
        <?php
        if ($this->inputFieldElement['type'] == 'datepicker' && strpos($this->inputFieldElement['name'], 'button-') === false) { ?>
            <div class="input-group date publish-date" data-date="<?php echo date('Y-m-d'); ?>T00:00:00Z" data-date-format="yyyy-mm-dd h:i:s" data-link-field="publish-date">
                <?php echo $this->formElement($this->inputFieldsForm->get($this->inputFieldElement['name'])) . PHP_EOL; ?>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        <?php } elseif ($this->inputFieldElement['type'] == 'datepicker - date only' && strpos($this->inputFieldElement['name'], 'button-') === false) { ?>
            <div class="input-group">
                <?php echo $this->formElement($this->inputFieldsForm->get($this->inputFieldElement['name'])) . PHP_EOL; ?>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        <?php } else { ?>
            <?php echo $this->formElement($this->inputFieldsForm->get($this->inputFieldElement['name'])); ?>
        <?php } ?>
        <?php echo $this->formElementErrors($this->inputFieldsForm->get($this->inputFieldElement['name'])); ?>
    </div>
</div>