<div class="col-sm-12 col-md-6 block-input-field">
    <?php if (!is_null($this->style)) { ?>
        <span>&nbsp;</span>
    <?php } ?>
    <?php
    if (empty($this->option)) {
        $countWorkFlow = count($this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows());
        $lastworkflowKey = $countWorkFlow - 1;
        $lastWorkflow = isset($this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows()[$lastworkflowKey]) ? $this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows()[$lastworkflowKey]->getworkflowid() : false;
    } else {
        foreach ($this->inputFieldElement['inputFieldId']->getinputFieldRWorkflows() as $workflow) {
            $currentWorkflow = $workflow->getWorkFlowid();
            if (is_object($this->lastWorkflowForOption)
                && $this->lastWorkflowForOption->getworkflowid()
                >= $currentWorkflow->getWorkFlowid()
            ) {
                $lastWorkflow = $currentWorkflow;
                $countWorkFlow = 1;
            }
        }
    }
    ?>
    <div class="clearfix"></div>
    <div class="col-xs-6 form-group">
        <?php echo $this->formLabel($this->inputFieldsForm->get($this->inputFieldElement['name'])); ?>
        <?php if (!empty($countWorkFlow) && $this->isFeatureEnable('enableWorkflows', false, 'settings')) { ?>
            <small><span class="glyphicon glyphicon-asterisk mandatory-workflow" style="font-size: 0.8em;top:-5px;color:<?php echo $lastWorkflow->getHexcode(); ?>"></span></small>
        <?php } ?>
    </div>
    <div class="col-xs-6 form-group">
        <?php echo $this->formElement($this->inputFieldsForm->get($this->inputFieldElement['name'])); ?>
        <?php echo $this->formElementErrors($this->inputFieldsForm->get($this->inputFieldElement['name'])); ?>
    </div>
</div>

<?php if ($this->inputFieldElement['inputFieldId']->getInputFieldId() == 227 && $this->isFeatureEnable('automaticStyleGeneration', false, 'settings')) { ?>
    <script type="text/javascript">
        /** Setting the style code to be read only **/
        $(document).ready(function(){
            $('input[name="inputfield[227]"]').attr('readonly', true);
        });
    </script>
<?php } ?>