<?php if ($this->allowed): ?>
    <input type="hidden" name="error-flag" value="<?php echo $this->errorFlag ? 1 : 0?>"/>

    <div class="dashboard-section full-width-container table-container">
        <div class="dashboard-title clearfix">
            <fieldset class="dashboard-title-options">
                <!-- search Form -->
                    <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array ('searchForm' => $this->searchForm)); ?>
                    <button id="new-common-attribute" class="btn btn-success pull-right" data-toggle="modal" data-backdrop="static" data-target="#product-common-attribute-value"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Common Attribute Value</button>
            </fieldset><!-- End dashboard title options -->
            <h2>Manage Common Attributes Values</h2>
        </div><!-- End dashboard header -->
    </div>

    <div class="dashboard-content-area">
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <table class="table valign-td responsive">
                <thead>
                    <tr>
                        <td class="green-bold-span">Id</td>
                        <td class="green-bold-span">Sku Code</td>
                        <td class="green-bold-span">Value</td>
                    </tr>
                </thead>
                <tbody>
                <?php
                if (!empty($paginator)) {
                    foreach ($paginator as $commonAttributeValues) {
                        echo $this->partial('prism-products-manager/common-attributes/partials/common-attribute-value-row',
                            array ('commonAttributeValues' => $commonAttributeValues, 'commonAttributeId' => $this->commonAttributeId)
                        );
                    }
                }
                ?>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <?php echo $this->paginationControl($this->paginator, 'Sliding', $this->makePagination(), array('route' => $this->route)); ?>
        </div>
    </div>

    <?php echo $this->partial('prism-products-manager/common-attributes/partials/common-attribute-values-add-form', array ('commonAttributesValuesForm' => $this->commonAttributesValuesForm, 'commonAttributeId' => $this->commonAttributeId));?>
<?php else: ?>
    <div class="dashboard-section full-width-container table-container">
        <div class="dashboard-title clearfix">
            <h2>You do not have access to the Common Attributes Management. Please contact PRISM DM. Thank you !</h2>
        </div><!-- End dashboard header -->
    </div>
<?php endif; ?>

<div id="edit-common-attribute-value"></div>