<?php if ($this->allowed): ?>

    <input type="hidden" name="error-flag" value="<?php echo $this->errorFlag ? 1 : 0?>"/>
    <div class="dashboard-section full-width-container table-container">

        <div class="dashboard-title clearfix">

            <fieldset class="dashboard-title-options">
                <!-- search Form -->

                <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array ('searchForm' => $this->searchForm)); ?>
                <button id="new-common-attribute" class="btn btn-success pull-right" data-toggle="modal" data-backdrop="static" data-target="#product-common-attribute"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Common Attribute</button>
            </fieldset><!-- End dashboard title options -->
            <h2>Manage Common Attributes</h2>
        </div><!-- End dashboard header -->
    </div>

    <div class="dashboard-content-area">
        

        
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form method="get">
            Show <select name="perPageGet" onchange="this.form.submit();">
                    <option value="10" <?php if ($this->perPageGet == 10) echo 'selected="selected"'; ?>>10</option>
                    <option value="20" <?php if ($this->perPageGet == 20) echo 'selected="selected"'; ?>>20</option>
                    <option value="35" <?php if ($this->perPageGet == 35) echo 'selected="selected"'; ?>>35</option>
                    <option value="50" <?php if ($this->perPageGet == 50) echo 'selected="selected"'; ?>>50</option>
                    <option value="All" <?php if ($this->perPageGet == 'All') echo 'selected="selected"'; ?>>All</option>
            </select>
            </form>
            <table class="table valign-td responsive">
                <thead>
                <tr>
                    <td class="green-bold-span">Id</td>
                    <td class="green-bold-span">Description</td>
                    <td class="green-bold-span">Value Count</td>
                    <td class="green-bold-span">Actions</td>
                </tr>
                </thead>
                <tbody>
                <?php
                if (!empty($this->commonAttributes)) {
                    foreach ($this->commonAttributes as $commonAttribute) {
                        echo $this->partial(
                            'prism-products-manager/common-attributes/partials/common-attribute-row',
                            array ('commonAttribute' => $commonAttribute, 'page' => $this->page)
                        );
                    }
                }
                ?>
                </tbody>
            </table>
            <div class="clear"></div>
            <div class="paging">
                <?php

                    if (!empty($this->search)) {
                        echo $this->paginationHelper($this->commonAttributes, $this->page, '/common-attributes/'. 'search/' . $this->search . '/', $this->perPageGet, ['perPageGet' => $this->perPageGet]);
                    } else {
                        echo $this->paginationHelper($this->commonAttributes, $this->page, '/common-attributes/', $this->perPageGet, ['perPageGet' => $this->perPageGet]);
                    }
                ?>

            </div>
        </div>
    </div>
    <div id="create-new-common-attribute-modal">
        <?php echo $this->partial(
            'prism-products-manager/common-attributes/partials/common-attribute-add-form',
            array ('commonAttributesForm' => $this->commonAttributesForm, 'page' => $this->page)
        );?>
    </div>

<?php else: ?>
    <div class="dashboard-section full-width-container table-container">
        <div class="dashboard-title clearfix">
            <h2>You do not have access to the Common Attributes Management. Please contact PRISM DM. Thank you !</h2>
        </div><!-- End dashboard header -->
    </div>
<?php endif; ?>