<?php if ($this->allowed): ?>
    <input type="hidden" name="error-flag" value="<?php echo $this->errorFlag ? 1 : 0?>"/>
    <div class="dashboard-section full-width-container table-container">

        <div class="dashboard-title clearfix">
        <?php $attributeType = $this->commonAttribute->getcommonAttributeGuiRepresentation()
            ->getCommonAttributesViewTypeId()
            ->getCommonAttributeViewType();
            $isSize = $this->commonAttribute->getissize();
        ?>
            <fieldset class="dashboard-title-options">
                <?php
                    $attributeName = $this->commonAttribute->getCommonAttributeDefinitions()->getDescription();
                ?>
                <?php if (($attributeType != 'CHECKBOX' || $isSize) && $attributeName != 'Supplier') { ?>
                    <button id="new-common-attribute-value" class="btn btn-success pull-right" data-toggle="modal" data-backdrop="static" data-target="#product-common-attribute-value"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New Common Attribute Value</button>
                <?php } ?>
            </fieldset><!-- End dashboard title options -->
            <h2>Manage Common Attribute - <?php echo $attributeName;?></h2>
        </div><!-- End dashboard header -->
    </div>

    <div class="dashboard-content-area">
        <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
            <table class="table valign-td responsive" id="common-attribute-values">
                <thead>
                    <tr>
                        <th class="green-bold-span center-align">Id</th>
                        <th class="green-bold-span center-align">Default</th>
                        <th class="green-bold-span center-align">Enabled</th>
                        <?php if ($this->commonAttribute->getUsedForMerchantCategories()) { ?>
                            <th class="green-bold-span center-align">SKU Code</th>
                        <?php } ?>
                        <th class="green-bold-span center-align">Value</th>
                        <?php if ($this->commonAttribute->isChained()) { ?>
                            <th class="green-bold-span center-align">Values Chained</th>
                        <?php } ?>
                        <th class="green-bold-span center-align">Actions</th>
                    </tr>
                </thead>
                <tbody class="sortable-body">
                    <?php
                    if (!empty($this->commonAttributeValues) && ($attributeType != 'CHECKBOX' || $isSize)) {
                            foreach ($this->commonAttributeValues as $commonAttributeValue) {
                                echo $this->partial(
                                    'prism-products-manager/common-attributes/partials/common-attribute-value-row',
                                    array ('commonAttributeValue' => $commonAttributeValue, 'commonAttribute' => $this->commonAttribute,
                                        'hasDefaultValue' => $this->hasDefaultValue, 'attributeName' => $attributeName)
                                );
                            }
                        }
                    ?>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <div id="create-new-common-attribute-value-modal">
        <?php
        echo $this->partial(
            'prism-products-manager/common-attributes/partials/common-attribute-values-add-form',
            array ('commonAttributesValuesForm' => $this->commonAttributeValueAddForm, 'commonAttributeId' => $this->commonAttribute->getCommonAttributeId())
        );?>
    </div>
    <div id="value-equivalence-modal-holder"></div>
    <div id="value-chain-modal-holder"></div>
    <div id="territory-override-modal-holder"></div>
    <div id="holder-common-attribute-value-time-period"></div>
    <div id="holder-common-attribute-value-auto-from-date"></div>
<?php else: ?>
    <div class="dashboard-section full-width-container table-container">
        <div class="dashboard-title clearfix">
            <h2>You do not have access to the Common Attributes Management. Please contact PRISM DM. Thank you !</h2>
        </div><!-- End dashboard header -->
    </div>
<?php endif; ?>