<!--<input type="hidden" name="bulk-errors" value=""/>-->

<div class="dashboard-section full-width-container">

    <?php
    // Show response msg if theres any
        if (count($this->bulkResponse) > 0){
            $response = $this->bulkResponse;
            echo $this->partial('prism-products-manager/bulk-actions/partials/response-msg', array ('bulkResponse' => $this->bulkResponse));
        }
    ?>


    <div class="row-fluid margin-top-15">

        <div class="col-md-6 col-lg-offset-3">
            <div class="dashboard-content-column">
                <!-- Bulk Download Form -->
                <h3>Download Template</h3>
                <?php echo $this->partial('prism-products-manager/bulk-actions/partials/bulk-download-form', array ('bulkDownloadForm' => $bulkDownloadForm)); ?>
                <hr>
                <h3>Upload Template</h3>
                <!-- Bulk Upload Form -->
                <?php echo $this->partial('prism-products-manager/bulk-actions/partials/bulk-upload-form', array ('bulkUploadForm' => $bulkUploadForm)); ?>
            </div><!-- End main content column -->

        </div><!-- End main column -->
    </div><!-- End row -->

</div><!-- End dashboard section -->