<div class="dashboard-section full-width-container table-container">
    
    <div class="dashboard-title clearfix">
        <h2>Manage Marketing Product Groups</h2>

        <fieldset class="dashboard-title-options">
            <!-- search Form -->
            <?php echo $this->partial('prism-products-manager/search-helper/search-form.phtml', array('searchForm' => $searchForm)); ?>
            <button id="add-marketing-category" class="btn btn-success pull-right" data-toggle="modal" data-backdrop="static" data-target="#product-marketing-category"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp; New marketing product group</button>
        </fieldset><!-- End dashboard title options -->

    </div><!-- End dashboard header -->

    <div class="dashboard-content-area">

        <table class="table table-responsive valign-td">
            <tr>
                <th width="5%">Id</th>
                <th width="20%">Name</th>
                <th>Description</th>
                <th width="5%">Move</th>
                <th width="5%">Active</th>
                <th width="5%">Locked</th>
                <th width="30%"></th>
            </tr>
            <?php
            if (!empty($paginator)) {
                foreach ($paginator as $category) {
                    echo $this->partial('prism-products-manager/categories/partials/partial-groups', array('category' => $category, 'level' => 1, 'page' => $page));
                }
            }
            ?>
        </table>
        <!-- Pagination -->
        <?php echo $this->paginationControl($this->paginator, 'Sliding', $this->makePagination(), array('route' => $this->route)); ?>
    </div><!-- End dashboard section -->

    <!-- Modal -->
    <!--New / edit category form -->
    <?= $this->partial('prism-products-manager/categories/partials/partial-add-new-category-form', array('addCategoryForm' => $addCategoryForm, 'valid' => $valid, 'submitedFormData' => $submitedFormData));
    ?>

    <!--Edit product group -->
    <div class="modal fade" id="add-product-to-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Manage products in group - <i class="marketing-group-name"></i></h4>
                </div>
                <div class="modal-body">

                    <form role="form" class="margin-bottom">

                        <fieldset class="dashboard-title-options">
                            <span class="product-count text-primary"></span>
                            <span class="variant-count text-primary margin-left"></span>

                            <input class="form-control pull-right dash-search product-add-to-marketing-category-search margin-left" data-category-id="" placeholder="Search for a product...">

                            <button data-category-id="<?php echo $this->categoryId; ?>" class="btn btn-primary pull-right margin-left add-variant-to-marketing-category">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                Add Products/Variants
                            </button>
                            
                            <button data-category-id="<?php echo $this->categoryId; ?>" class="btn btn-danger pull-right margin-left remove-variant-to-marketing-category">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                Remove Products/Variants
                            </button>
                        </fieldset><!-- End dashboard title options -->

                    </form>
                    
                    <form method="post" action="/marketing-categories" role="form" id="manage-products-in-marketing-category-form" class="margin-bottom">
                        <table class="table table-hover table-responsive valign-td manage-products-for-category">
                            <thead>
                            <tr>
                                <th width="10%">
                                    <?php 
                                    if(!$this->orderby || (strtolower($this->orderby) == 'style' && strtolower($this->orderbyOption) == 'asc')): ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'style', 'orderbyoption' => 'DESC')); ?>" >Style<span class="caret"></span></a>
                                    <?php else: ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'style', 'orderbyoption' => 'ASC')); ?>" >Style<span class="caret caret-reversed"></span></a>
                                    <?php endif; ?>
                                </th>
                                <th width="10%">
                                    <?php 
                                    if(!$this->orderby || (strtolower($this->orderby) == 'variantcolourcode' && strtolower($this->orderbyOption) == 'asc')): ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'variantColourCode', 'orderbyoption' => 'DESC')); ?>" >Colour Code<span class="caret"></span></a>
                                    <?php else: ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'variantColourCode', 'orderbyoption' => 'ASC')); ?>" >Colour Code<span class="caret caret-reversed"></span></a>
                                    <?php endif; ?>
                                    <!--Colour Code-->
                                </th>
                                <th width="50%">
                                    <?php 
                                    if((strtolower($this->orderby) == 'productname' && strtolower($this->orderbyOption) == 'asc')): ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'productName', 'orderbyoption' => 'DESC')); ?>" >Product Name<span class="caret"></span></a>
                                    <?php else: ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'productName', 'orderbyoption' => 'ASC')); ?>" >Product Name<span class="caret caret-reversed"></span></a>
                                    <?php endif; ?>
                                </th>
                                <th width="10%">
                                    <?php 
                                    if(!$this->orderby || (strtolower($this->orderby) == 'variantcolour' && strtolower($this->orderbyOption) == 'asc')): ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'variantColour', 'orderbyoption' => 'DESC')); ?>" >Colour<span class="caret"></span></a>
                                    <?php else: ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'variantColour', 'orderbyoption' => 'ASC')); ?>" >Colour<span class="caret caret-reversed"></span></a>
                                    <?php endif; ?>
                                    <!--Colour-->
                                </th>
                                <th width="10%">                                    
                                    <?php 
                                    if(!$this->orderby || (strtolower($this->orderby) == 'priority' && strtolower($this->orderbyOption) == 'asc')): ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'priority', 'orderbyoption' => 'DESC')); ?>" >Priority<span class="caret"></span></a>
                                    <?php else: ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'priority', 'orderbyoption' => 'ASC')); ?>" >Priority<span class="caret caret-reversed"></span></a>
                                    <?php endif; ?>
                                </th>
                                <th width="10%">                                
                                    <?php 
                                    if(!$this->orderby || (strtolower($this->orderby) == 'status' && strtolower($this->orderbyOption) == 'asc')): ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'status', 'orderbyoption' => 'DESC')); ?>" >Status<span class="caret"></span></a>
                                    <?php else: ?>
                                        <a categoryId="<?php echo $this->categoryId; ?>" href="<?php echo $this->url('marketing-categories', array('action' => 'index', 'orderby' => 'status', 'orderbyoption' => 'ASC')); ?>" >Status<span class="caret caret-reversed"></span></a>
                                    <?php endif; ?>
                                </th>
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-variant-to-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add products to group - <i class="marketing-group-name"></i></h4>
                </div>

                <div class="modal-body">
                    <?php echo $this->partial('prism-products-manager/categories/partials/partial-add-variants-to-category', 
                                                    array(
                                                        'addVariantToCategoryForm' => $addVariantToCategoryForm,
                                                        'savedMarketingCategoryProducts' => $savedMarketingCategoryProducts,
                                                        'savedMarketingCategoryId' => $savedMarketingCategoryId,
                                                        'showRemoveProductButton' => $showRemoveProductButton
                                                    )); ?>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="remove-variant-to-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Remove products from group - <i class="marketing-group-name"></i></h4>
                </div>
                <div class="modal-body">
                    <?php echo $this->partial('prism-products-manager/categories/partials/partial-add-variants-to-category', 
                                                    array(
                                                        'addVariantToCategoryForm' => $addVariantToCategoryForm,
                                                        'savedMarketingCategoryProducts' => $savedMarketingCategoryProducts,
                                                        'savedMarketingCategoryId' => $savedMarketingCategoryId,
                                                        'showRemoveProductButton' => $showRemoveProductButton
                                                    )); ?>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="manage-attributes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


        <!--
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Manage products in group - <i class="marketing-group-name"></i></h4>
        </div>
        <div class="modal-body">

            <form role="form" class="margin-bottom">

                <fieldset class="dashboard-title-options">
                    <input class="form-control pull-right dash-search product-add-to-marketing-category-search" data-category-id="" placeholder="Search for a product...">
                </fieldset>

            </form>

            <table class="table table-responsive valign-td manage-products-for-category">

                <tr>
                    <th width="20%">Product Name</th>
                    <th width="53%">Product Short Description</th>
                    <th></th>
                </tr>

            </table>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->


    </div>
</div>
</div>
    <input type="hidden" name="marketingCategoryIdToClick" value="<?php echo isset($this->categoryId) ? $this->categoryId : 0; ?>">
    <input type="hidden" name="marketingCategoryOrderBy" value="<?php echo isset($this->orderby) ? $this->orderby : ''; ?>">
    <input type="hidden" name="marketingCategoryOrderByOption" value="<?php echo isset($this->orderbyOption) ? $this->orderbyOption : ''; ?>">

</div>

