<div class="dashboard-section full-width-container">
    <div class="row-fluid margin-top-15">
        <div class="col-md-6 col-lg-offset-3">

            <div class="dashboard-content-column">
                <h3>Download Template</h3>
                <div>
                    <a href="barcode-upload/download-template" class="btn btn-success">Download Template</a>
                </div>
                <h3>Upload Barcodes</h3>
                <!-- Bulk Upload Form -->
                <?php
                $uploadForm->prepare();
                ?>
                <div class="form-group">
                    <?php echo $this->form()->openTag($uploadForm) . PHP_EOL; ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formRow($uploadForm->get('barcodesFile')) . PHP_EOL; ?>
                </div>
                <?php echo $this->formRow($uploadForm->get('csrf')) . PHP_EOL; ?>
                <?php echo $this->formSubmit($uploadForm->get('submit')) . PHP_EOL; ?>
                <?php echo $this->form()->closeTag() . PHP_EOL; ?>
            </div><!-- End main content column -->
        </div><!-- End main column -->
    </div><!-- End row -->

</div><!-- End dashboard section -->
